<?xml version="1.0"?>
<!--
	This file can be ommitted from your styling, in which case it will use
	the folder name as the styling name, and "add" as the styling type.
	Make sure to save the file as UTF-8 if you're using special characters in it.
-->
<styling>

	<!--
		Name. This will only be shown to anyone who can change a styling.
	-->

	<name>
		Warm
	</name>

	<!--
		Type. Possible values:
			- add (default, add this styling to the root style)
			- replace (discard the root style and consider this as the basic style)

		Warnings:
			- If you use "replace", make sure to copy all of the root CSS files (editor.css, etc) into your subfolder.
			- These files should have their url() paths modified accordingly. e.g., url($images) instead of url(../images)
			- If you're offering nested stylings (/styles/styling1/styling2/), styling2 can only be of the "add" type,
			  otherwise it should obviously be set in a top-level folder. (/styles/styling2/)
	-->

	<type>
		add
	</type>

	<!--
		Comment. This HTML text will only be shown to users when selecting
		a styling, either for the default forum theme (admins), board theme
		(board owners) and default theme override (regular users, if allowed.)

		Use the opportunity to communicate credits or details to users.
		Technical information is best posted wherever you upload the file.
	-->

	<comment><![CDATA[
		By Nao.
	]]></comment>

	<!--
		Code. This section allows you to define extra JavaScript that should be
		added at the end of the page. You can specify a target browser using the
		"for" keyword. You can also require some JavaScript files to be loaded,
		use the "include" keyword to specify a comma-separated list of files.
		They should either use a relative path based on the current theme, or
		the $here variable which acts as an alias to the styling's folder.
		If you use both keywords, use them in this order: for, and include.

		In the examples below, we're applying PNG compatibility fixes to IE6
		(loading the DD_belatedPNG script in the process); we're also allowing
		submit buttons to be styled, and finally we're changing the layout on
		iOS devices to show the sidebar below the main content.
	-->

	<code for="ie6" include="scripts/pngfix.js"><![CDATA[
	DD_belatedPNG.fix('img.ping,#top_section,#footer div.frame');
	$('input[type=submit], input[type=button]').addClass('ie_button');
	]]></code>

	<code for="iphone"><![CDATA[
	$('#main_content').insertBefore('#edge');
	]]></code>

	<!--
		Blocks. These examples are actually fairly useless since they just
		repeat the default blocks defined in index.template.php, but it makes
		it easier to get the point. Use these settings to override any blocks
		set up in the theme with your own versions. Makes it easier to change
		the header banner with limited effort.
	-->

	<block name="header">
			<if:logo><h1>
				<a href="{scripturl}">{logo}</a>
			</h1></if:logo>
			{body}
	</block>
	<block name="title"><header class="title">{body}</header></block>

</styling>
