
/* Styles for the calendar section.
------------------------------------------------- */
#calendar .cat final
	margin-bottom: 4px

#main_grid table
	.cat final
		border-top: 2px solid #fff
		border-bottom: none
	&.weeklist .title2 final
		margin: 0
		height: 23px
		line-height: 27px

/* More hacks.
------------------------------------------------- */
#forumposts .cat final
	margin-bottom: 3px

.left_menu
	list-style: none
	margin: .5em 0
	li
		padding: 0 0 0 1em

#statistics
	.title final
		margin: 4px 0
	.cat final
		text-align: center

#upshrinkHeaderIC
	.cat final, .title2 final
		font-size: 1.1em

dfn
	line-height: 140%

$board_col = #d97b33
