<Files *.php>
	Deny from all
</Files>

<Files index.php>
	Allow from all
</Files>

<IfModule mod_mime.c>
	AddEncoding x-gzip .gz
	AddEncoding x-gzip .cgz
	AddEncoding x-gzip .jgz
	<FilesMatch "\.(js\.gz|jgz)$">
		ForceType text/javascript
	</FilesMatch>
	<FilesMatch "\.(css\.gz|cgz)$">
		ForceType text/css
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	Header set Cache-Control "max-age=2592000"
	Header set Expires "Thu, 21 March 2025 03:42:00 GMT"
	Header set Vary "Accept-Encoding"
</IfModule>

FileETag none