/**
 * The styling's name is in memory of Andy Hallett.
 */

/* Set a fontsize that will look the same in all browsers. */
body {
	background-color: #e6faef;
}
#header {
	background-color: #f6fff8;
}
#navi, #content {
	background: #f6fff8;
}
#footer {
	background-color: #f2f9f3;
}

.menu ul {
	background: rgba(240,255,248, .9);
}

.menu h4:hover, h4.hove {
	background: #c8e2fb url(../../images/menu.gif) no-repeat 98% 2px;
}
.menu li.chosen h4 {
	background: #3fa6c3 url(../../images/menu.gif) no-repeat 98% -28px;
}
.menu > li li:hover, a.hove {
	background: #d0e2fb;
}

li.subsection > a:hover, li.subsection > a.hove {
	background: #d0e2fb url(../../images/menu.gif) no-repeat 98% -46px !important;
}

#main_menu h4:hover, #main_menu h4.hove {
	background: #5a6c85 url(../../images/menu.gif) no-repeat 98% -28px;
}
#main_menu li.chosen h4, #context_menus li.chosen h4 {
	background-color: #fd9604 !important;
}

blockquote.bbc_standard_quote {
	background-color: #d7ecda;
}
blockquote.bbc_alternate_quote {
	background-color: #cadfcd;
}
code.bbc_code {
	background: #eef;
}
.highlight {
	background-color: #ff0;
}
.highlight2 {
	background-color: #D1E1EF;
}

/* Generic, mostly color-related, classes.
------------------------------------------------------- */

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg, #preview_body {
	background-color: #e7efea;
}
.windowbg2 {
	background-color: #f0f7f4;
}
.windowbg3 {
	background-color: #cad3cd;
}

/* Colors for background of posts requiring approval */
.approvebg {
	background-color: #ffeaea;
}
.approvebg2 {
	background-color: #fff2f2;
}

/* Color for background of *topics* requiring approval */
.approvetbg {
	background-color: #e4a17c;
}
.approvetbg2 {
	background-color: #f3bd9f;
}

/* Sticky topics get a different background */
.stickybg {
	background: #e8d8cf;
}
.stickybg2 {
	background: #f2e3d9;
}

/* Locked posts get a different shade, too! */
.lockedbg {
	background: #d4dce2;
}
.lockedbg2 {
	background: #d8e1e7;
}

.description, .description_board, .plainbox {
	background: #f0f5f0;
}
.information {
	background: #f0f6f0;
}

.cat_bar {
	background-color: #a8ceba;
}
.title_bar {
	background-color: #e3efe9;
}

.roundframe {
	background: #f5f5f5;
}

.buttonlist a span {
	background: #e8e8e8;
}
.buttonlist a:hover span {
	background: #fd9604;
}
.buttonlist a.active span {
	background: #5a6c85;
}

.activity_stats li div.bar div {
	background: #6294CE;
}

tr.titlebg th, tr.titlebg td, tr.titlebg2 td {
	background-color: #e3efe9;
}
tr.catbg td, tr.catbg th {
	background-color: #98beaa;
	color: #fff;
}
tr.catbg td a, tr.catbg th a {
	color: #fff;
}
.table_list tbody.header td.catbg {
	background-color: #b8deca;
}
