
/*!
 * Wuthering skin for Wedge
 * © 2010 René-Gilles Deberdt, http://wedge.org
 */

body
	text-align: center
	background: #faefe6
	color: #333
	padding: 15px

#helf
	text-align: $left

$lightgrad = #faf8f6
$darkgrad = #f3f2f0

.lightgrad virtual
	gradient: #eee, $lightgrad

.darkgrad virtual
	gradient: #bcbcbb, $darkgrad

.wehead, .catbase
	box-shadow: inset 0 8px 12px -8px #fff

#wedge
	text-align: $left
	box-shadow: 0 0 6px #777
	border: 1px solid #999

#navi
	background: $lightgrad
	padding, border: 0

#header
	background: $darkgrad
	div.frame
		padding: 5px 0 0
	h2, p
		color: #000
	h1
		float: right
		margin: 32px 30px 0 0
		font: italic 700 3em "Segoe UI", sans-serif
		letter-spacing: -2px
		text-shadow: white 0 1px 2px
		a
			color: #78a
	input.search
		background-color: rgb(235,225,215)
		color: #000

#content
	background: #faf8f6

#edge
	padding: 8px 0 0

#main
	padding-top: 0

#sidebar
	border: 1px solid #ccc
	border-right: 0
	border-radius: 8px 0 0 8px

#top_section
	background: none
	border: 0
	padding: 0 20px 10px

#slogan
	float: left
	letter-spacing: -1px
	text-shadow: #ddd 1px 1px 2px

// The upper_section, float the two each way
#upper_section
	border, padding: 0
	.frame
		background-image: none
		width, height: auto

#linktree li unextends .horizontal-arrow

// The navigation list (i.e. linktree)
#linktree
	background: #faf8f6
	margin: 0
	padding: 15px 20px 5px // The linktree is one level up, so it needs to compensate its increased width.
	ul
		border-radius: 8px
		background: linear-gradient(0deg, #fdfdfd, #ededed)
		padding, margin: 0
		border: 1px solid #ccc
		overflow: hidden
	li
		@if firefox
			display: inline-block
		@elseif ie[-7]
			mixin: .inline-block
		@else
			display: table-cell
			vertical-align: middle
		@endif
		position: relative
		padding: 5px 0 5px 36px
		:after
			content: ""
			margin-left: -20px
			width: 40px
			left: 100%
			top, bottom: 0
			position: absolute
			clip: rect(0, 999px, 999px, 20px) // avoid box shadow remnants on the left
			box-shadow: 2px 0 5px #bbb
			background: linear-gradient(0deg, #fdfdfd, #ededed)
			border-radius: 0 50% 50% 0
			z-index: 1
		:nth-last-child(even)
			background: linear-gradient(0deg, luma(#fdfdfd, -5%), luma(#ededed, -5%))
			:after
				background: linear-gradient(0deg, luma(#fdfdfd, -5%), luma(#ededed, -5%))
		:first-child
			padding-left: 8px
			border-radius: 8px 0 0 8px

#linktree_bt
	padding: 0 20px 20px

@media $responsive
	body
		padding: 0
		#wedge
			border: 0

// The footer with copyright links etc.
#footer extends .lightgrad
	background-color: #f4f2f3
	border-top: 1px solid #ccc
	border-radius: 0 0 20px 20px
	color: #333
	div.frame
		padding: 10px 20px
	a
		color: #679

/* Styles for the general looks for the default theme.
------------------------------------------------------- */

// Normal, standard links.
a, #linktree a
	color: #568
	:hover
		color: #78a

.cat input[type=checkbox]
	margin: 5px -3px 0 7px


/* Styles for the dropdown menus.
------------------------------------------------------- */

#main_menu
	margin: 0 16px -10px
	h4:hover, h4.hove
		background-color: transparent
		color: #000
		a
			color: #000
	h4, h4 a
		color: #000
	li.chosen h4
		color: #fff
		a
			color: #fff

/*
	If you want to align the main menu, add this above...

#main_menu
	text-align: center
	li
		text-align: $left
*/

.menu ul extends .lightgrad
	background-color: #fff8f1


/* Some BBC related styles.
------------------------------------------------------- */

.bbc_code code, .php_code code
	white-space: pre


/* Generic, mostly color-related, classes.
------------------------------------------------------- */

$window_bg = #eeeeea
$window_bg2 = #e8ebee

/* Styles for section headers.
------------------------------------------------------- */
.cat, .title
	padding: 4px 8px
	margin-top: 8px
	text-shadow: none
	font: italic 1.15em/1.2 $head_font

.cat final
	background-color: #e5ece5
	border: 1px solid rgba(160,160,160, .5)

.title
	background-color: #e3e9ef
	border: 1px solid rgba(0,0,0, .15)
	&.blog mixes .inline-block
		border: 0
		background, box-shadow: none
		vertical-align: baseline
		padding: 0 4px 8px

.title2
	background: none
	border-radius: 6px

.cat final
	color: #000
	a
		letter-spacing: 0
		color: #555
		:hover
			color: #963
			text-decoration: none

.title
	color: #222
	a
		color: #777 !important
		:hover
			color: #53616f !important
			text-decoration: none

@if ie[-9]
	.catbase, body, #header, #navi, #footer, #upper_section .frame, #upper_section h1
		filter: none

	// .lightgrad implies a gradient, which triggers hasLayout for IE -- not good in menus!
	.menu ul unextends .lightgrad
@endif

/* A few more header styles...
------------------------------------------------------- */

tr.catbg
	th, td
		background-color: #e3e9ef
		font: $subcat_font
		&, a
			color: #666

tr.titlebg
	th, td
		background-color: #e5eee5
		font: $subcat_font
		&, a
			color: #222

/* More hacks.
------------------------------------------------- */
#forumposts .cat final
	margin-bottom: 3px
	@if ie
		@if ie7
			margin-top: 8px
		@endif
		clear: both
	@endif

.left_menu
	list-style: none
	margin: .5em 0
	li
		padding: 0 0 0 1em

#statistics
	.title final
		margin: 4px 0
	.cat final
		text-align: center

dfn
	line-height: 140%

/* These are our CSS variable and mixin definitions.
------------------------------------------------------- */

$main_font = "Segoe UI", Arial, sans-serif
$head_font = $main_font
$subcat_font = normal 1.1em $main_font
$post_font = $main_font
$post_font_size = 10.5pt/140%
$board_col = #d97b33
$radius = 20px

@remove
	border-top: .54em double #ccc
	border-bottom: .18em solid #ccc

@remove #footer, #header, #navi
	color: #ddc

// Reset the sidebar position from left, to right.
@remove #edge, #sidebar, #main
	direction: ltr
	direction: rtl

@remove #footer
	margin-top: 16px

@remove #slogan
	color: #000

@remove #linktree_bt ul
	border-width: 1px 0 0 0

@remove #search_form > input[type=submit]
	background: #938983
	border-color: #bbb #888 #888 #bbb
	color: white

@remove #search_form > input[type=submit]:hover
	background: #a39993

@remove
	background: url($images/theme/bg.jpg)

@replace
	wefoot1.png
	wefoot2.png

@if opera[11-], ie[10-]
	@viewport
		width: device-width
		zoom: 1 // initial-scale
		min-zoom: .7 // minimum-scale
		max-zoom: 2 // maximum-scale
@endif
