
/*!
 * Wuthering skin for Wedge
 * © 2010 René-Gilles Deberdt, http://wedge.org
 */

body
	text-align: center
	background: #e9eef2
	background: linear-gradient(to bottom, #37597c, #e9eef2 500px), #e9eef2
	color: #333
	padding: 15px

#helf
	text-align: $left

$lightgrad = #fff
$darkgrad = #f3f2f0

.lightgrad virtual
	gradient: #eee, $lightgrad

.darkgrad virtual
	gradient: #bcbcbb, $darkgrad

.wehead, .catbase
	box-shadow: inset 0 8px 12px -8px #fff

#wedge
	text-align: $left
	box-shadow: 0 0 5px #777
	border: 1px solid #999
	background: #fff
	background: linear-gradient(to bottom, #c9d7e8, #fff 150px, #fff 92%, #e0e8f2)
	padding: 0 5px 15px
	border: 3px solid #fff

#navi
	background: $lightgrad
	padding, border: 0

#header
	background: $darkgrad
	h2, p
		color: #000
	input.search
		background-color: rgb(235,225,215)
		color: #000

#banner
	border-radius: $radius
	gradient: #c3cfde, #fff
	@if ie[-9]
		> div
			filter: none
	@endif

#header
	gradient: #c3cfde, #fff

#edge
	padding: 8px 0 0

#main
	padding-top: 0

#top_section
	background: none
	border: 0

h1
	font: 700 3em "Segoe UI", sans-serif
	letter-spacing: -2px
	text-shadow: white 0 1px 2px
	a
		color: #78a

#slogan
	letter-spacing: -1px
	text-shadow: #ddd 1px 1px 2px

#linktree li unextends .horizontal-arrow

// The navigation list
#linktree
	margin: 0
	padding: 15px 20px 5px // The linktree is one level up, so it needs to compensate its increased width.
	ul
		border-radius: 8px
		background: linear-gradient(0deg, #fdfdfd, #ededed)
		padding, margin: 0
		border: 1px solid #ccc
		overflow: hidden
	li
		@if firefox
			display: inline-block
		@elseif ie[-7]
			mixin: .inline-block
		@else
			display: table-cell
			vertical-align: middle
		@endif
		position: relative
		padding: 5px 0 5px 36px
		:after
			content: ""
			margin-left: -20px
			width: 40px
			left: 100%
			top, bottom: 0
			position: absolute
			clip: rect(0, 999px, 999px, 20px) // avoid box shadow remnants on the left
			box-shadow: 2px 0 5px #bbb
			background: linear-gradient(0deg, #fdfdfd, #ededed)
			border-radius: 0 50% 50% 0
			z-index: 1
		:nth-last-child(even)
			background: linear-gradient(0deg, luma(#fdfdfd, -5%), luma(#ededed, -5%))
			:after
				background: linear-gradient(0deg, luma(#fdfdfd, -5%), luma(#ededed, -5%))
		:first-child
			padding-left: 8px
			border-radius: 8px 0 0 8px

#wedge > div:last-child
	padding-bottom: 20px
	border-radius: 0 0 $radius $radius

@media $responsive
	body
		padding: 0
		#wedge
			border: 0

// The footer with copyright links etc.
#footer extends .lightgrad
	background: none
	border: 0
	color: #333
	> div
		padding: 20px 20px 10px
	a
		color: #679

/* Styles for the general looks for the default theme.
------------------------------------------------------- */

// Normal, standard links.
a, #linktree a
	color: #568
	:hover
		color: #78a

.cat input[type=checkbox]
	margin: 5px -3px 0 7px

ul.buttonlist a
	font-weight: 400
	font-size: .8em
	text-transform: uppercase
	border: 0
	padding: 5px

/* Styles for the dropdown menus.
------------------------------------------------------- */

#main_menu
	margin: 0 16px -5px

/*
	If you want to align the main menu, add this above...

#main_menu
	text-align: center
	li
		text-align: $left
*/

.menu ul extends .lightgrad
	background-color: #fff8f1

li.chosen h4
	background-color: #95a89d
	color: #fff
	a
		color: #fff

/* Some BBC related styles.
------------------------------------------------------- */

.bbc_code code, .php_code code
	white-space: pre


/* Generic, mostly color-related, classes.
------------------------------------------------------- */

$window_bg = #e7eaef
$window_bg2 = #f0f4f7

/* Styles for section headers.
------------------------------------------------------- */
.cat, .title
	padding: 4px 8px
	margin-top: 8px
	text-shadow: none
	letter-spacing: -.2px
	font: 1.15em/1.2 $head_font

.cat final
	background-color: #e5ece5
	border: 1px solid rgba(160,160,160, .5)

.title
	background-color: #e3e9ef
	border: 1px solid rgba(0,0,0, .15)
	&.blog mixes .inline-block
		border: 0
		background, box-shadow: none
		vertical-align: baseline
		padding: 0 4px 8px

.title2
	background: none
	border-radius: 6px

.cat final
	color: #000
	a
		letter-spacing: 0
		color: #555
		:hover
			color: #963
			text-decoration: none

.title
	color: #222
	a
		color: #777 !important
		:hover
			color: #53616f !important
			text-decoration: none

@if ie[-9]
	.catbase, body, #header, #navi, #footer, #banner .frame, h1
		filter: none

	// .lightgrad implies a gradient, which triggers hasLayout for IE -- not good in menus!
	.menu ul unextends .lightgrad
@endif

@replace
	font: 700 60%/1.3em $main_font
	font: 700 70%/1.3em $main_font

@remove .posthead
	color: gray

@remove #top_subject
	color: gray

#top_subject
	font-size: 90%

/* A few more header styles...
------------------------------------------------------- */

tr.catbg
	th, td
		background-color: #e3e9ef
		font: $subcat_font
		&, a
			color: #666

tr.titlebg
	th, td
		background-color: #e5eee5
		font: $subcat_font
		&, a
			color: #222

/* More hacks.
------------------------------------------------- */
#forumposts .cat final
	margin-bottom: 3px
	@if ie
		@if ie7
			margin-top: 8px
		@endif
		clear: both
	@endif

.poster h4
	font-size: 120%
	font-weight: 700

#statistics
	.title final
		margin: 4px 0
	.cat final
		text-align: center

dfn
	line-height: 140%

.board_list .info a.subject
	font: 700 115%/120% $subject_font

/* These are our CSS variable and mixin definitions.
------------------------------------------------------- */

$horizontal_content_padding = 5px
$generic_stack = Verdana, Arial, sans-serif
$main_font = $generic_stack
$subject_font = $generic_stack
$main_font_size = 78%/130%
$head_font = $main_font
$subcat_font = normal 1.1em $main_font
$post_font = $main_font
$post_font_size = 1em/140%
$board_col = #d97b33
$radius = 10px
$main_bg = #fff

@remove
	border-top: .54em double #ccc
	border-bottom: .18em solid #ccc

@remove #header, #navi, #footer
	color: #ddc

// Reset the sidebar position from left, to right.
@remove #edge, #sidebar, #main
	direction: ltr
	direction: rtl

@remove #footer
	margin-top: 16px

@remove #slogan
	color: #000

@remove #linktree_bt ul
	border-width: 1px 0 0 0

@remove #search_form > input[type=submit]
	background: #938983
	border-color: #bbb #888 #888 #bbb
	color: white

@remove #search_form > input[type=submit]:hover
	background: #a39993

@remove
	background: url($images/bg.jpg)

@remove .msg
	background-image: *

@remove .poster
	background: *
