
/*
	This is where all styling related to a specific page or area is put.
/*

/* Styles for the board index.
------------------------------------------------- */

// The board title!
#board_list
	td.info a.subject
		color: #d97b33

// Onto the posts
#forumposts
	.cat_bar
		margin-bottom: 3px

/* Styles for sidebar menus.
------------------------------------------------------- */
.left_menu
	list-style: none
	margin: .5em 0
	li
		padding: 0 0 0 1em

.side_section .title_bar
	margin-bottom: 5px

tr.windowbg td, tr.approvebg td, tr.highlight2 td
	padding: .3em .7em

/* Styles for the statistics center.
------------------------------------------------- */
#statistics
	.title_bar
		margin: 4px 0
	.cat_bar h3
		text-align: center

/* Styles for the calendar section.
------------------------------------------------- */
#calendar .cat_bar
	margin-bottom: 4px

#main_grid
	table
		.cat_bar h3
			text-align: center
			border-top: 2px solid #fff
			border-bottom: none
		&.weeklist
			.title_bar h4
				margin: 0
				height: 23px
				line-height: 27px

/* More hacks.
------------------------------------------------- */
#upshrinkHeaderIC
	p.pminfo
		margin: 0
		padding: .5em

	.cat_bar h3, .title_bar h4
		font-size: 1.1em

dfn
	line-height: 140%

.prevnext_prev
	font-size: .9em
	color: #666 !important
	border-bottom: 1px dotted #666
	:hover
		color: #933 !important
