
/* Styles for the board index.
------------------------------------------------- */

// The board title!
#board_list td.info a.subject
	color: #d97b33

// Onto the posts
#forumposts .cat final
	margin-bottom: 3px

/* Styles for sidebar menus.
------------------------------------------------------- */
.left_menu
	list-style: none
	margin: .5em 0
	li
		padding: 0 0 0 1em

.side_section .title
	margin-bottom: 5px

tr.windowbg td, tr.approvebg td, tr.highlight2 td
	padding: .3em .7em

/* Styles for the statistics center.
------------------------------------------------- */
#statistics
	.title final
		margin: 4px 0
	.cat final
		text-align: center

/* Styles for the calendar section.
------------------------------------------------- */
#calendar .cat final
	margin-bottom: 4px

#main_grid table
	.cat final
		text-align: center
		border-top: 2px solid #fff
		border-bottom: none
	&.weeklist .title2 final
		margin: 0
		height: 23px
		line-height: 27px

/* More hacks.
------------------------------------------------- */
#upshrinkHeaderIC
	p.pminfo
		margin: 0
		padding: .5em
	.cat final, .title2 final
		font-size: 1.1em

dfn
	line-height: 140%
