<?xml version="1.0"?>
<!--
	See Wine/settings.xml for descriptions.
-->
<styling>

	<name>
		Pastel
	</name>

	<comment><![CDATA[
		By Nao, inspired by Bloc's Curve. Obviously.
	]]></comment>

	<css for="ie7,ie8"><![CDATA[
		#header, #footer, .title_bar, .cat_bar, .wrc, .roundframe, .buttonlist a {
			behavior: url($behavior/Themes/default/styles/PIE.htc);
			position: relative;
		}
	]]></css>

	<code for="ie6"><![CDATA[
	DD_belatedPNG.fix('div,#wedgelogo,#boardindex_table img');
	$('input[type=submit], input[type=button]').addClass('ie_button');
	]]></code>

	<block name="title"><div class="title_bar"><h3>|</h3></div></block>
	<block name="title2"><div class="title_bar"><h4>|</h4></div></block>
	<block name="cat"><div class="cat_bar"><h3>|</h3></div></block>

</styling>
