.codeheader, code.bbc_code
{
	width: 96%;
	margin: 0 auto;
}
.cat_bar h3 input.input_check
{
	margin: 0 4px;
}
.cat_bar h3 img.icon, .title_bar h4 img.icon
{
	margin: 1px 3px 0 0;
}
.cat_bar h3 span.ie6_header, .cat_bar h4 span.ie6_header, .title_bar h3 span.ie6_header, .title_bar h4 span.ie6_header
{
	padding: 6px 0;
}
#statistics .title_bar h4 span.ie6_header
{
	padding: 0;
}
#statistics .title_bar h4 span.ie6_header img.icon
{
	padding: 5px 0;
}
/* The dropdown menus
------------------------------------------------------- */

.dropmenu li
{
	width: 1px;
}
.dropmenu li a span
{
	white-space: nowrap;
}
.dropmenu li a:hover
{
	text-decoration: none;
}
.dropmenu li.iehover
{
	z-index: 120;
}

/* the page section */
.pagesection
{
	overflow: auto;
}
/* the user section needs some attention */
#main_menu
{
	width: 98%;
}
#top_section
{
	height: 65px;
}

/* the tabled definition lists */
dl.settings dd, #creator dd, dl.stats dd, dl.register_form dd, #poll_options dl.options dd, .login dd
{
	float: none !important;
	width: auto;
}
/* generic lists header */
/* Side paddings must NOT be defined here.*/
.table_grid thead th
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* overflow: hidden doesn't help in IE6. */
.title_bar h3 a, .title_bar h3, .title_bar h4, .title_bar h4 a
{
	display: inline-block;
}

#upper_section
{
	display: inline-block;
}

/* Overrides for the message index template
------------------------------------------------------- */
#messageindex table
{
	margin-top: 5px;
}
#messageindex table th
{
	border-bottom: 1px solid #fff;
}
#topic_icons .description
{
	padding: 2em 1em 1em 1em;
	overflow: auto;
}

/* Overrides for the display template
------------------------------------------------------- */
#forumposts .postarea
{
	margin-left: 0;
	margin-right: 0;
	float: right;
}
.keyinfo
{
	padding-bottom: 6px;
}
.inner
{
	clear: both;
}
.buttonlist ul li
{
	width: 1%;
	white-space: nowrap;
}
#forumposts .cat_bar h3
{
	clear: both;
}
.signature
{
	padding: 0 0 0.8em 0;
}

/* Styles for the statistics center.
------------------------------------------------- */
#statistics div.content
{
	height: 210px;
	overflow: hidden;
}
#statistics div.top_row
{
	height: 150px;
}

/* Overrides for the admin template
------------------------------------------------------- */
#main_admsection
{
	height: 655px;
}
#main_admsection table
{
	width: 99%;
}

/* Overrides for the profile template
------------------------------------------------------- */
#basicinfo h4
{
	word-wrap: break-word;
}
.ignoreboards
{
	margin: 0 1%;
	padding: 0;
	width: 45%;
}

/* Overrides for the personal messages template
------------------------------------------------------- */
#personal_messages .postarea
{
	margin-left: 0;
	margin-right: 0;
	float: right;
}

/* Overrides for the admin section of the register template
------------------------------------------------------- */
#registration_agreement
{
	width: 99.5%;
	margin: 0 auto;
}

#edit_poll ul.poll_main li
{
	padding-left: 0;
	margin: 0 -2em;
}
#postmodify div.roundframe { margin-right: 0;}

/* dropmenu hacks */

.iefs
{
	display: none;
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=0);
}

.menu li
{
	border-bottom: 1px dotted white;
}
a.linkOver { background: #c8e2fb }
