
/*
	Compatibility file for browsers not capable of showing rounded corners.
	We will only deal with headers, menus and buttons here.
*/

.titlebg, .titlebg2, tr.titlebg th, tr.titlebg td, tr.titlebg2 td
{
	background: #e3e9ef url(../images/theme/main_block.png) no-repeat -10px -340px;
}
.catbg, tr.catbg td, tr.catbg th
{
	background: #a8bace url(../images/theme/main_block.png) no-repeat -10px -240px;
}
.cat_bar h4, .cat_bar h3, .table_list tbody.header td.catbg
{
	background: url(../images/theme/main_block.png) no-repeat 100% -160px;
}
.title_bar h4, .title_bar h3
{
	background: url(../images/theme/main_block.png) no-repeat 100% -200px;
}

div.cat_bar
{
	background: url(../images/theme/main_block.png) no-repeat 0 -160px;
}
div.title_bar
{
	background: url(../images/theme/main_block.png) no-repeat 0 -200px;
}


#upshrinkHeaderIC .cat_bar h3
{
	background: url(../images/theme/main_block.png) no-repeat 100% -160px;
}
#upshrinkHeaderIC .title_bar
{
	background: url(../images/theme/main_block.png) no-repeat 0 -120px;
}
#upshrinkHeaderIC .title_bar h4
{
	background: url(../images/theme/main_block.png) no-repeat 100% -120px;
}
tr.catbg th.first_th
{
	background: #a8bace url(../images/theme/main_block.png) no-repeat 0 -240px;
}
tr.catbg th.last_th
{
	background: #a8bace url(../images/theme/main_block.png) no-repeat 100% -240px;
}
tr.titlebg th.first_th
{
	background: #e3e9ef url(../images/theme/main_block.png) no-repeat 0 -340px;
}
tr.titlebg th.last_th
{
	background: #e3e9ef url(../images/theme/main_block.png) no-repeat 100% -340px;
}


/* Menu buttons */

/* the active button */
.dropmenu li a.active
{
	background: url(../images/theme/buttons.png) no-repeat 100% 0;
}
.dropmenu li a.active span.firstlevel
{
	background: url(../images/theme/buttons.png) no-repeat 0 0;
}
/* the hover effects */
.dropmenu li a.firstlevel:hover, .dropmenu li:hover a.firstlevel
{
	background: url(../images/theme/buttons.png) no-repeat 100% -30px;
}
.dropmenu li a.firstlevel:hover span.firstlevel, .dropmenu li:hover a.firstlevel span.firstlevel
{
	background: url(../images/theme/buttons.png) no-repeat 0 -30px;
}

/* Button strips */

.buttonlist ul
{
	z-index: 100;
}
.buttonlist a
{
	background: url(../images/theme/buttons.png) no-repeat 0 -60px;
	padding: 0;
	margin-left: 12px;
	cursor: pointer;
	border: 0;
}
.buttonlist a span
{
	border: 0;
	background: url(../images/theme/buttons.png) no-repeat 100% -60px;
	height: 24px;
	line-height: 20px;
	padding: 0 8px 0 0;
	position: relative;
	right: -8px;
	margin: 0;
}
.buttonlist a span.last
{
	margin-right: 0;
}
.buttonlist a:hover
{
	background: url(../images/theme/buttons.png) no-repeat 0 0;
}
.buttonlist a:hover span
{
	background: url(../images/theme/buttons.png) no-repeat 100% 0;
}
/* the active one */
.buttonlist a.active
{
	background: url(../images/theme/buttons.png) no-repeat 0 -30px;
}
.buttonlist a.active span
{
	background: url(../images/theme/buttons.png) no-repeat 100% -30px;
}

/* Now, get rid of .wrc and .rrc classes... */

.wrc
{
	padding: 0;
	border-width: 0;
}
.rrc
{
	margin-top: 0;
	padding: 0 10px;
	border-width: 0 1px;
}
