
.postarea
	margin-left: 0

// We want really comfortable menu items for use in wireless devices.
ul.mimenuitem li
	font-size: 2em
	padding: 16px

.tinyuser > ul.quickbuttons
	margin-top: 0

.poster
	height: 75px

.poster h4
	font-size: 1.2em
