
.highslide-container div {
	font-family: Verdana, Helvetica;
	font-size: 10pt;
}
.highslide-container table {
	background: none;
}
.highslide {
	outline: none;
	text-decoration: none;
}
.highslide img {
	border: 2px solid silver;
}
.highslide:hover img {
	border-color: gray;
}
.highslide-image {
	border-width: 2px;
	border-style: solid;
	border-color: white;
	background: gray;
}
.highslide-wrapper, .highslide-outline {
	background: white;
}

.highslide-number {
	font-weight: bold;
	color: gray;
	font-size: .9em;
}
.highslide-caption {
	display: none;
	font-size: 1em;
	padding: 5px;
	// background: white;
}
.highslide-heading {
	display: none;
	font-weight: bold;
	margin: 0.4em;
}
a.highslide-full-expand {
   background: url($here/hs/fullexpand.gif) no-repeat;
   display: block;
   margin: 0 10px 10px 0;
   width: 34px;
   height: 34px;
}
.highslide-loading {
	display: block;
	color: black;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	padding-left: 22px;
	background-image: url($here/hs/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
.highslide-move, .highslide-move * {
	cursor: move;
}

.highslide-viewport {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: none;
	left: 0;
	top: 0;
}
.highslide-overlay {
	display: none;
}
.hidden-container {
	display: none;
}

/*****************************************************************************/
/* Styles for the HTML popups											     */
/* Remove these if you are not using Highslide HTML						     */
/*****************************************************************************/
.highslide-maincontent {
	display: none;
}
.highslide-html {
	background-color: white;
}
.highslide-html-content {
	display: none;
	width: 400px;
	padding: 0 5px 5px 5px;
}
.highslide-header {
	padding-bottom: 5px;
}
.highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-header a:hover {
	color: black;
}
.highslide-header .highslide-move a {
	cursor: move;
}
.highslide-footer {
	height: 16px;
}
.highslide-footer .highslide-resize {
	display: block;
	float: right;
	margin-top: 5px;
	height: 11px;
	width: 11px;
	background: url($here/hs/resize.gif) no-repeat;
}
.highslide-footer .highslide-resize span {
	display: none;
}
.highslide-body {
}
.highslide-resize {
	cursor: nw-resize;
}


/* Specifics for Wedge */

.highslide-wrapper div {
	font-family: Verdana, Helvetica;
	font-size: 10pt;
}
.hs {
	cursor: url($here/hs/zoomin.cur), pointer;
	outline: none;
	text-decoration: none;
	display: inline-block;
}
.highslide-maincontent { display: none; }
.rounded-white { background: white; }
.highslide-image-blur { }
.highslide-caption {
	display: none;
	border: 2px solid white;
	border-top: none;
	font-family: Verdana, Helvetica;
	font-size: 10pt;
	color: black;
	padding: 5px;
	background-color: white;
}
.highslide-loading {
	display: block;
	color: black;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	border: 1px solid black;
	background-color: white;

	padding-left: 22px;
	background-image: url($here/hs/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
a.highslide-full-expand {
	background: url($here/hs/fullexpand.gif) no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 34px;
	height: 34px;
}

.highslide-html { }
.highslide-dimming { background-color: black; }

/* Styles for the popup */
.highslide-wrapper .highslide-html-content {
	width: 400px;
	padding: 5px 10px 10px 10px;
}
.highslide-wrapper .highslide-header {
	padding-bottom: 5px;
}
.highslide-wrapper .highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-wrapper .highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-wrapper .highslide-header ul li.highslide-previous, .highslide-wrapper .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-wrapper .highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-wrapper .highslide-header a:hover {
	color: black;
}
.highslide-wrapper .highslide-header .highslide-move a {
	cursor: move;
}
.highslide-wrapper .highslide-footer {
	height: 11px;
}
.highslide-wrapper .highslide-footer .highslide-resize {
	float: right;
	height: 11px;
	width: 11px;
	background: url($here/hs/resize.gif);
}
.highslide-wrapper .highslide-body {
}
.highslide-move {
	cursor: move;
}
.highslide-resize {
	cursor: nw-resize;
}

/****************************

#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top, left: 0;
	z-index: 9999;
	overflow: hidden;
}
#cboxOverlay {
	position: fixed;
	width, height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}
#cboxContent {
	position: relative;
}
#cboxLoadedContent {
	overflow: auto;
}
#cboxTitle {
	margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top, left: 0;
	width: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}
.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
}
.cboxIframe {
	width, height: 100%;
	display: block;
	border: 0;
}

#cboxOverlay {
	background: #fff;
}
#colorbox {
}
#cboxTopLeft {
	width, height: 25px;
	background: url(images/border1.png) no-repeat 0 0;
}
#cboxTopCenter {
	height: 25px;
	background: url(images/border1.png) repeat-x 0 -50px;
}
#cboxTopRight {
	width, height: 25px;
	background: url(images/border1.png) no-repeat -25px 0;
}
#cboxBottomLeft {
	width, height: 25px;
	background: url(images/border1.png) no-repeat 0 -25px;
}
#cboxBottomCenter {
	height: 25px;
	background: url(images/border1.png) repeat-x 0 -75px;
}
#cboxBottomRight {
	width, height: 25px;
	background: url(images/border1.png) no-repeat -25px -25px;
}
#cboxMiddleLeft {
	width: 25px;
	background: url(images/border2.png) repeat-y 0 0;
}
#cboxMiddleRight {
	width: 25px;
	background: url(images/border2.png) repeat-y -25px 0;
}
#cboxContent {
	background: #fff;
	overflow: hidden;
}
#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}
#cboxLoadedContent {
	margin-bottom: 20px;
}
#cboxTitle {
	position: absolute;
	bottom, left: 0;
	text-align: center;
	width: 100%;
	color: #999;
}
#cboxCurrent {
	position: absolute;
	bottom: 0;
	left: 100px;
	color: #999;
}
#cboxSlideshow {
	position: absolute;
	bottom: 0;
	right: 42px;
	color: #444;
}
#cboxPrevious {
	position: absolute;
	bottom, left: 0;
	color: #444;
}
#cboxNext {
	position: absolute;
	bottom: 0;
	left: 63px;
	color: #444;
}
#cboxLoadingOverlay {
	background: #fff url(images/loading.gif) no-repeat 5px 5px;
}
#cboxClose {
	position: absolute;
	bottom, right: 0;
	display: block;
	color: #444;
}

#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight,
#cboxMiddleLeft,
#cboxMiddleRight {
	width, height: 8px;
	background: none;
}
#cboxWrapper {
	background: white;
	border-radius: 8px;
	border: 1px solid alpha(black, -80%)
	box-shadow: 0 4px 8px 8px rgba(0,0,0, .25);
}
#colorbox {
}
#cboxOverlay {
	background: none; // rgba(0,0,0,.2);
	opacity: 1 !important;
}

***********************************/

#zoom {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 0 12px #999;
	border-radius: 8px;
}
#zoom_content {
	margin: 15px;
	img.scale {
		width: 100%;
		height: auto;
	}
}
#zoom_close extends .inline-block {
	position: absolute;
	top, left: -12px;
	width, height: 30px;
	background: url($images/aeva/close.png) no-repeat;
}
