body
	color: #000
	background-color: #fff
	zoom: 1

body, td, .normaltext
	font-family: Verdana, Arial, sans-serif
	font-size: small

*, a:link, a:visited, a:hover, a:active
	color: #000 !important

.smalltext, .bbc_quote header, .bbc_code header
	font-size: x-small

.largetext
	font-size: large

hr
	height: 1px
	border: 0
	background-color, color: #000

.catback
	background-color: #d6d6d6
	font-weight: bold
	color: white

.titleback
	&, & td, & a:link, & a:visited
		font-style: normal
		background-color: #f0f4f7

.windowbg
	color: #000
	background-color: #fff

.windowbg2
	background-color: #f1f1f1

.copyright
	font-size: x-small
	text-align: center

.printable
	background-color: #333
	width: 100%
	border-collapse: separate
	border-spacing: 1px
	th, td
		padding: 4px
