
/*
	This is where all styling related to a specific page or area is put.
/*

/* Styles for the board index.
------------------------------------------------- */

// The board title!
#board_list
	box-sizing: border-box
	td.info a.subject
		font-weight: bold
		font-size: 110%
		color: $board_col
	td.children
		color: #555
		font-size: 85%
	td.stats
		font-size: 90%
		width: 15%
		text-align: center
	td.lastpost
		line-height: 1.3em
		font-size: 85%
		width: 24%
	td.icon
		text-align: center
		width: 6%

p.moderators
	font-size: .8em
	font-family: verdana, sans-serif

// The posting icons
#posting_icons
	padding: 0 1em .5em
	margin: 0 0 1em
	line-height: 1em
	ul
		font-size: .8em
	img
		vertical-align: -5px
		padding: 0 2px 0 10px

#postbuttons_upper ul li a span
	line-height: 19px
	padding: 0 0 0 6px

.mark_read
	padding: 0 .5em
	.buttonlist ul
		padding-top: 0

// The newsfader
#smfFadeScroller
	text-align: center
	padding: 0 2em
	overflow: auto
	margin: 1em 0
	display: none
	color: #575757 // Shouldn't be shorthand style due to a JS bug in IE!

/* Styles for the info center on the board index.
---------------------------------------------------- */
#upshrinkHeaderIC
	p
		margin: 0 0 .5em
		padding: .5em
		&.last
			margin: 0
			padding: .5em
			border-top: 2px dotted #bbb
		&.inline
			border: none
			margin: 0
			padding: .2em .5em
		&.stats
			font-size: 1.1em
			padding-top: 8px
		&.pminfo
			margin: 0
			padding: .5em

#ic_recentposts
	margin: 0 0 .5em
	padding: .5em
	line-height: 1.3em
	dt
		float: left
	dd
		text-align: right

#ic_login
	padding: .5em
	height: 2em
	ul li
		margin, padding: 0
		float: left
		width: 20%
		text-align: center
		label
			display: block

// The small stats
#index_common_stats
	display: block
	margin: 0 0 .5em
	text-align: right
	font-size: .9em
	position: relative
	top: -20px
	line-height: 1px

img.new_posts
	padding: 0 .1em

/* Styles for the message (topic) index.
   You can target the page with #messageindex
---------------------------------------------------- */

// The page navigation area
#childboards .table_list
	margin-bottom: 1em
	thead
		display: none

.lastpost img
	float: right
	padding: 4px

/* Styles for the display template (topic view).
---------------------------------------------------- */
.prevnext_prev extends .cell
	font: .7em Verdana, "Segoe UI", "Lucida Grande", "Trebuchet MS", Verdana, arial, helvetica, sans-serif
	text-align: left
	width: 150px

.prevnext_next extends .prevnext_prev
	text-align: right

#top_subject extends .cell
	padding: 4px 8px

// The jump to box
#display_jump_to extends .cell
	select, input
		font-size: 8pt
		padding: 2px 2px 0

#postbuttons
	div.buttons
		padding: .5em
		width: 40%
		float: right
	div.middletext
		width: 60%
	span
		display: block
		text-align: right
	span.lower
		clear: right
	.buttonlist
		float: right
	#pagelinks
		padding-top: 1em

#moderationbuttons
	overflow: hidden
	margin-bottom: 6px

#moderationbuttons_strip
	margin: 4px 0 0

// Events
.linked_events
	padding: 1em 0

.edit_event
	margin: 0 1em
	vertical-align: middle

// Poll question
#poll
	overflow: hidden

#poll_question
	padding: 0 0 .5em 2em

// Poll vote options
#poll_options
	ul.options
		border-top: 1px solid #9999aa
		padding: 1em 2.5em 0 2em
		margin: 0 0 1em
	div.submitbutton
		border-bottom: 1px solid #9999aa
		clear: both
		padding: 0 0 1em 2em
		margin: 0 0 1em

	// Poll results
	dl.options
		border: solid #9999aa
		border-width: 1px 0
		padding: 1em 2.5em 1em 2em
		margin: 0 1em 1em 0
		line-height: 1.1em !important
		dt
			padding: .3em 0
			width: 30%
			float, clear: left
			margin: 0
		dd
			margin: 0 0 0 2em
			padding: .1em 0 0
			width: 60%
			max-width: 450px
			float: left
		.voted
			font-weight: bold
		.percentage
			display: block
			float: right
			padding: .2em 0 .3em

	// Poll notices
	p
		margin: 0 1.5em .2em
		padding: 0 .5em .5em

#poll_moderation
	margin: 0
	padding: 0
	overflow: auto

// Onto the posts
#forumposts
	// Author and topic information
	#author
		margin: 0 7.7em 0 10px
	.modified
		float: left
	.reportlinks
		margin-right: 1.5em
		text-align: right
		clear: right
		img
			vertical-align: -3px

	// A post separator, useful when printing.
	.post_separator
		display: none

#whoisviewing
	margin: 0
	padding: .5em

// Poster and postarea + moderation area underneath
.post_wrapper
	overflow: auto
	margin: 0 -1.2em

.poster
	float: left
	width: 15em

.postarea, .moderatorbar
	margin: 0 0 0 16em

.postarea div.flow_hidden
	width: 100%

.moderatorbar
	clear: right

// Poster details and list of items
.poster
	ul
		padding: 0
		margin: 0 1em 0 1.5em

	h4
		margin: .2em 0 .4em 1.1em
		font-size: 120%
		a, &
			color: #c06002

	ul ul
		margin: .3em 1em 0 0
		padding: 0
		li
			display: inline

	li.stars, li.avatar, li.blurb, li.postcount, li.im_icons ul
		margin-top: .5em

	li.avatar
		overflow: hidden

	li.warning
		line-height: 1.2em
		padding-top: 1em
		a img
			vertical-align: bottom
			padding: 0 .2em

.messageicon
	float: left
	margin: 0 .5em 0 0
	img
		padding: 6px 3px

.keyinfo
	float: left
	width: 50%

// The quick edit button
.modifybutton
	background: url($images/icons/modify_inline.gif) no-repeat 0 0
	display: inline
	width: 20px
	height: 20px
	clear: right
	float: right
	margin: 8px 20px 10px 0
	cursor: pointer

// The quick buttons
div.quickbuttons_wrap
	padding: .2em 0
	width: 100%
	float: left

ul.quickbuttons
	margin: .9em 11px 0 0
	clear: right
	float: right
	text-align: right
	font: normal .95em/22px "Trebuchet MS", arial, sans-serif
	text-transform: uppercase
	li
		float: left
		display: inline
		margin: 0 0 0 10px
		background: url($images/theme/quickbuttons.png) no-repeat 0 -500px
		a
			padding: 0 0 0 22px
			display: block
			height: 20px
			float: left
	li.inline_mod_check
		margin-left: 5px
	a:hover
		color: #a70

	/**
	 * This is where you can change the reply/edit/delete etc. icons for your posts.
	 * You can either modify the quickbuttons.png sprite file (in which case you just
	 * need to set background-position to the correction position as seen below),
	 * or simply use another file like this: background: url($here/file) no-repeat 0 0
	 */

	li.quote_button
		background-position: 0 0
	li.remove_button
		background-position: 0 -30px
	li.modify_button
		background-position: 0 -60px
	li.approve_button
		background-position: 0 -90px
	li.restore_button
		background-position: 0 -120px
	li.split_button
		background-position: 0 -150px
	li.reply_button
		background-position: 0 -180px
	li.reply_all_button
		background-position: 0 -180px
	li.notify_button
		background-position: 0 -210px
	li.mergepost_button
		background-position: 2px -242px

.post
	margin-top: .5em
	clear: right

.inner
	padding: 1em 1em 0 0
	margin: 0 1em 0 0
	border-top: 1px solid #99a
	img.smiley
		vertical-align: bottom

.signature
	#forumposts &, .post &
		margin: 1em 0 0 0

.attachments
	padding: 1em 0 2em
	hr
		clear: both
		margin: 1em 0
	div
		padding: 0 .5em

/* Styles for the quick reply area.
---------------------------------------------------- */

// Horizontal alignments go a bit wonky in IE6 and IE7, but is it really worth worrying about?
#postmodify
	margin: 0
	.roundframe
		padding-left: 8%
		padding-right: 8%

#quickReplyOptions
	form textarea
		height: 100px
		margin: .25em 0 0
	.roundframe extends #postmodify .roundframe

/* Styles for edit/new post section
---------------------------------------------------- */
.postbox
	padding: .5em
	overflow: hidden
	dt
		float: left
		padding: 0
		width: 15%
		margin: .5em 0 0
		font-weight: bold
	dd
		float: left
		padding: 0
		width: 83%
		margin: .3em 0

#post_header extends .postbox
	img
		vertical-align: middle

ul.post_options
	margin: 0 0 0 1em
	padding: 0
	list-style: none
	overflow: hidden
	li
		margin: .2em 0
		width: 49%
		float: left

#postAdditionalOptionsHeader
	margin-top: 1em
	strong
		vertical-align: middle

#post_confirm_buttons
	white-space: nowrap
	float: right

#postMoreOptions
	border-bottom: 1px solid #cacdd3
	padding: .5em

#postAttachment, #postAttachment2
	overflow: hidden
	margin: .5em 0
	padding: 0
	border-bottom: 1px solid #cacdd3
	padding: .5em
	dd, dd
		margin: .3em 0 .3em 1em
	dt, dt
		font-weight: bold

#shortcuts
	float: left
	padding: .6em 0 0

#post_confirm_strip
	float: right
	padding: 1.2em 1em 0 0

.post_verification
	margin-top: .5em
	#verification_control
		margin: .3em 0 .3em 1em

// The BBC buttons
#bbcBox_message
	margin: .75em .5em
	div
		margin: .2em 0
		vertical-align: top
		img
			margin: 0 1px 0 0
			vertical-align: top
	select
		margin: 0 2px

// The smiley strip
#smileyBox_message
	margin: .5em

#preview_body extends .windowbg

/* Styles for edit event section
---------------------------------------------------- */
#post_event

	.roundframe
		padding: 10px 12%

	fieldset
		padding: .5em
		clear: both

	#event_main
		input
			margin: 0 0 1em
			float: left
		div.smalltext
			width: 33em
			float: right

	div.event_options
		float: right

	ul.event_main
		overflow: hidden
		padding: 0
		li
			list-style-type: none
			margin: .2em 0
			width: 49%
			float: left

	ul.event_options
		overflow: hidden
		margin: 0
		padding: 0 0 .7em .7em
		li
			list-style-type: none
			margin: 0
			float: left
		li select, li *[type=checkbox]
			margin: 0 0.2em 0 0

	#event_main select
		margin: 0 0.2em 0 0

/* Styles for edit poll section.
---------------------------------------------------- */
#edit_poll
	overflow: hidden
	fieldset
		padding: .5em
		clear: both
		overflow: hidden
		> input
			margin: .8em 0 .3em 3em

ul.poll_main, dl.poll_options
	overflow: hidden
	padding: 0 0 .7em .7em
	margin: 12px 0 4px
	list-style: none

ul.poll_main
	li
		padding-left: 1em
		margin: .2em 0
	input
		margin: .2em 0 .2em 1em

dl.poll_options
	dt
		width: 33%
		padding: 0 0 0 1em
	dd
		width: 65%
		input
			margin-left: 0

/* Styles for the recent messages section.
---------------------------------------------------- */
#readbuttons_top .pagelinks
	padding-bottom: 1em
	width: 60%

#readbuttons .pagelinks
	padding-top: 1em
	width: 60%

#recent
	clear: both

/* Styles for the move topic section.
---------------------------------------------------- */
#move_topic dl
	margin-bottom: 0
	&.settings dt
		width: 40%
	&.settings dd
		width: 59%

.move_topic
	width: 710px
	margin: auto
	text-align: left

div.move_topic fieldset
	padding: .5em

/* Styles for the send topic section.
---------------------------------------------------- */
fieldset.send_topic
	border: none
	padding: .5em

dl.send_topic
	margin-bottom: 0

dl.send_mail
	dt
		width: 35%
	dd
		width: 64%

/* Styles for the report topic section.
---------------------------------------------------- */
#report_topic dl
	margin-bottom: 0
	&.settings dt
		width: 20%
	&.settings dd
		width: 79%

/* Styles for the split topic section.
---------------------------------------------------- */
#selected, #not_selected
	width: 49%

ul.split_messages
	li.windowbg
		margin: 1px
	li a.split_icon
		padding: 0 .5em
	div.post
		padding: 1em 0 0
		border-top: 1px solid #fff

/* Styles for the merge topic section.
---------------------------------------------------- */
ul.merge_topics li
	list-style-type: none

dl.merge_topic
	dt
		width: 25%
	dd
		width: 74%

fieldset.merge_options
	clear: both

.custom_subject
	margin: .5em 0

/* Styles for the login areas.
------------------------------------------------------- */
.login
	width: 540px
	margin: 0 auto
	dl
		overflow: auto
		clear: right
	dt, dd
		margin: 0 0 .4em
		width: 44%
		padding: .1em
	dt
		float: left
		clear: both
		text-align: right
		font-weight: bold
	dd
		width: 54%
		float: right
		text-align: left
	p
		text-align: center

/* Styles for the registration section.
------------------------------------------------------- */
.register_error
	border: 1px dashed red
	padding: 5px
	margin: 0 1ex 1ex 1ex
	span
		text-decoration: underline

// Additional profile fields
dl.register_form
	margin: 0
	clear: right
	dt
		font-weight: normal
		float: left
		clear: both
		width: 50%
		margin: .5em 0 0
	dd
		float: left
		width: 49%
		margin: .5em 0 0

#confirm_buttons
	text-align: center
	padding: 1em 0

.coppa_contact
	padding: 4px
	width: 32ex
	background-color: #fff
	color: #000
	margin-left: 5ex
	border: 1px solid #000

.valid_input
	background-color: #f5fff0

.invalid_input
	background-color: #fff0f0

.vv_special
	display: none

/* Styles for maintenance mode.
------------------------------------------------------- */
#maintenance_mode
	width: 75%
	min-width: 520px
	text-align: left
	img.floatleft
		margin-right: 1em

tr.titlebg td
	padding-left: .7em

#admin_login .centertext
	padding: 1em
	.error
		padding: 0 0 1em 0

/* Styles for sidebar menus.
------------------------------------------------------- */
.left_menu
	margin: .5em 2em
	padding: 0
	li
		padding: 0
	li.separator
		display: none // alternatively, line-height: 3px

.side_section .title
	margin-bottom: 5px

tr.windowbg td,
tr.approvebg td,
tr.highlight2 td
	padding: .3em .7em

#credits p
	padding: 0
	font-style: italic
	margin: 0

/* Styles for generic tables.
------------------------------------------------------- */
#topic_icons
	margin: 1em 0 0 0
	.description
		margin: 0
	.floatleft
		padding: 0 10px 0 0

.topic_table
	.icon, .stats
		text-align: center
	table
		width: 100%
		thead
			border-bottom: 1px solid #fff

	// The subject column
	td
		font-size: 1em
	td.subject p,
	td.stats
		font-size: .85em
		padding: 0
		margin: 0
	td.lastpost
		font-size: .85em
		line-height: 1.3em
		padding: 4px
	td.stickybg2,
	td.lockedbg2,
	td.locked_sticky2
		background-repeat: no-repeat
		background-position: 98% 4px
	td.stickybg2
		background-image: url($images/icons/quick_sticky.gif)
	td.lockedbg2
		background-image: url($images/icons/quick_lock.gif)
	td.locked_sticky2
		background-image: url($images/icons/quick_sticky_lock.gif)
	td.stickybg2.my
		background-image: url($images/icons/quick_sticky_my.gif)
	td.lockedbg2.my
		background-image: url($images/icons/quick_lock_my.gif)
	td.locked_sticky2.my
		background-image: url($images/icons/quick_sticky_lock_my.gif)
	td.lastpost
		background-image: none
	td.windowbg2.my
		background-image: url($images/icons/quick_my.gif)
		background-repeat: no-repeat
		background-position: 98% 4px

/* Styles for (fatal) errors.
------------------------------------------------- */
#fatal_error
	width: 80%
	margin: 0 auto
	padding: 25px 0 10px

.errorbox
	padding: 1em
	border: 1px solid #c34
	color: #000
	background-color: #ffe4e9
	margin-bottom: 1em
	h3
		margin: 0
		font-size: 1.1em
		text-decoration: underline
	p
		margin: 1em 0 0
	p.alert
		padding: 0
		margin: 0
		float: left
		width: 1em
		font-size: 1.5em

/* Styles for the profile section.
------------------------------------------------- */
dl
	overflow: auto
	margin: 0
	padding: 0

// The basic user info on the left
#basicinfo
	margin-top: 10px
	width: 20%
	float: left
	h4
		font-size: 135%
		font-weight: 100
		line-height: 105%
		white-space: pre-wrap
		overflow: hidden
		span.position
			font-size: 80%
			font-weight: 100
			display: block
	img.avatar
		display: block
		margin: 10px 0 0
	ul
		list-style-type: none
		margin: 10px 0 0
		li
			display: block
			float: left
			margin-right: 5px
			height: 20px

#userstatus
	display: block
	clear: both
	img
		vertical-align: middle

#profile_box
	dl
		clear: right
		overflow: auto
		margin: 0 0 18px
		padding: 0 0 15px
		border-bottom: 1px #ccc solid
	dt
		width: 35%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: bold
		clear: both
	dd
		width: 65%
		float: left
		margin: 0 0 3px
		padding: 0

#tracking extends #profile_box
	dl
		margin, padding, border-bottom: 0

#detailedinfo extends #profile_box
	margin-top: 10px
	width: 79.5%
	float: right
	dl.noborder
		border-bottom: 0
	dt.clear
		width: 100%

.signature, .custom_fields_above_signature
	border-top: 1px #ccc solid

.signature h5
	font-size: .85em
	margin-bottom: 10px

#personal_picture
	display: block
	margin-bottom: .3em

#avatar_server_stored div
	float: left
	padding: 0 3px

// If the screen is too small, show the avatar on top
@media all and (max-width: 1000px)
	.prevnext_prev
		display: none
	#basicinfo, #detailedinfo
		width: 100%
	#basicinfo
		h4
			float: left
			width: 35%
		img.avatar
			float: right
			vertical-align: top
		ul
			clear: left
	#userstatus
		clear: left
	#infolinks
		display: none
		clear: both

// Simple feedback messages
#profile_error, #profile_success
	margin: 0 0 1em
	padding: 1em 2em
	border: 1px solid

#profile_error
	border-color: red
	color: red
	background: #fee
	span
		text-decoration: underline

#profile_success
	border-color: green
	color: green
	background: #efe

// Profile statistics
#generalstats
	dt
		width: 50%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: bold
		clear: both
	dd
		width: 50%
		float: left
		margin: 0 0 3px
		padding: 0

// Activity by time
#activitytime
	margin: 6px 0

.activity_stats
	margin: 0
	padding: 0
	list-style: none
	li
		margin: 0
		padding: 0
		width: 4.16%
		float: left
		span
			display: block
			border: solid #000
			border-width: 1px 1px 0 0
			text-align: center
		&.last span
			border-right: none
		div.bar
			margin: 0 auto
			width: 15px
			div
				background: #6294ce
			span
				position: absolute
				top: -1000em
				left: -1000em

// Most popular boards by posts and activity
#popularposts
	width: 49.5%
	float: left
	dt
		width: 65%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: bold
		clear: both
	dd
		width: 35%
		float: left
		margin: 0 0 3px
		padding: 0

#popularactivity extends #popularposts
	float: right

.profile_pie
	background-image: url($images/stats_pie.png)
	float: left
	height: 20px
	width: 20px
	margin: 0 1em 0 0
	padding: 0
	text-indent: -1000em

// View posts
.topic .time
	float: right

.counter
	margin: 0
	padding: .2em .5em .1em .2em
	font-size: 2.2em
	font-weight: bold
	color: #3f3f3f
	float: left

.list_posts
	border-top: 2px solid #b3b3bf
	padding-top: 12px
	margin-top: 6px
	overflow: auto

.core_posts
	margin-bottom: 3px

.topic
	h4
		margin: 3px 0
	.post
		margin: 0 1em
		min-height: 80px
		height: auto !important
		height: 80px
	.mod_icons
		text-align: right
		margin-right: 1em

#creator
	dl
		margin: 0
	dt
		width: 40%
		float: left
		clear: both
		margin: 0 0 10px
	dd
		float: left
		width: 55%
		margin: 0 0 10px 2px

.ignoreboards
	margin: 0 2%
	padding: 0
	width: 45%
	a
		font-weight: bold
		border-bottom: 1px solid #c4c4c4
		padding: .1em 0
	a:hover
		text-decoration: none
		border-bottom: 1px solid #346
	ul
		margin: 0
		padding: 0
	li
		list-style: none
		float: left
		clear: both
	li.category
		margin: .7em 0 0
		width: 100%
		ul li.board
			width: 93%
	li ul
		margin: .2em 0 0

#theme_settings
	overflow: auto
	margin: 0
	padding: 0
	li
		list-style: none
		margin: 10px 0
		padding: 0

// Paid Subscriptions
#paid_subscription
	width: 100%
	dl.settings
		margin-bottom: 0
		dd, dt
			margin-bottom: 4px

// Pick theme
#pick_theme
	width: 100%
	float: left

// Issue a warning
#warn_body
	width: 80%
	font-size: .9em

/* Styles for the statistics center.
------------------------------------------------- */
#statistics
	padding: .5em 0
	.title
		margin: 4px 0
	.cat
		text-align: center
	dl
		min-height: 210px
	div.top_row dl
		min-height: 150px

#stats_left, #top_posters, #top_topics_replies, #top_topics_starter
	float: left
	width: 49.5%

#stats_right, #top_boards, #top_topics_views, #most_online
	float: right
	width: 49.5%

#stats
	margin-top: 5px
	td
		text-align: center
		&.stats_day
			padding: 0 3em
			text-align: left
	th
		width: 15%

dl.stats
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	dt
		width: 54%
		float: left
		margin: 0 0 4px
		line-height: 16px
		padding: 0
		clear: both
		font-size: 1em
	dd
		text-align: right
		width: 45%
		font-size: 1em
		float: right
		margin: 0 0 4px
		line-height: 16px
		padding: 0

.statsbar div.bar
	float: left
	background: url($images/bar_stats.png) no-repeat
	display: block
	margin: 0 4px
	height: 16px
	div
		position: relative
		right: -4px
		padding: 0 4px 0 0
		background: url($images/bar_stats.png) no-repeat 100%
		height: 16px

#stats th
	&.stats_year, &.stats_month
		width: 25%
		padding: 0.3em 0.75em
		text-align: left
	&.stats_month
		padding: 0.3em 1.5em

/* Styles for the calendar section.
------------------------------------------------- */
.calendar_table
	margin-bottom: .7em

// Used to indicate the current day in the grid.
.calendar_today
	background-color: #fff

#calendar .cat
	margin-bottom: 4px

#month_grid
	text-align: center
	table
		width: 100%

#main_grid
	table
		width: 100%
		padding-bottom: 4px
		.cat
			text-align: center
			border-top: 2px solid #fff
			border-bottom: none
		&.weeklist
			td.windowbg
				text-align: center
				height: 49px
				width: 25px
				font-size: large
				padding: 0 7px
				border-bottom: 2px solid #fff
			td.weekdays
				height: 49px
				width: 100%
				padding: 4px
				text-align: left
				vertical-align: middle
				border-bottom: 2px solid #fff
			.title
				margin: 0
				height: 23px
				line-height: 27px
		th.days
			width: 14%
			padding: 4px 0
		td.weeks
			vertical-align: middle
			text-align: center
			font-weight: bold
			font-size: large
		td.days
			vertical-align: top
			text-align: center
	h3
		.weekly
			text-align: center
			padding-left: 0
			font-size: large
			height: 23px
		span.floatleft,
		span.floatright
			display: block
			font-weight: bold

a.modify_event
	color: red

span.hidelink
	font-style: italic

#calendar_navigation
	text-align: center

/* Styles for the memberlist section.
------------------------------------------------- */
#mlist_search
	margin: auto
	width: 520px

/* Styles for the basic search section.
------------------------------------------------- */
#searchform, #simple_search p
	padding: .5em
	margin: 0

#simple_search, #simple_search p, #advanced_search
	text-align: center !important
	margin: 0

#search_error
	font-style: italic
	padding: .3em 1em

#search_term_input
	font-size: 115%
	margin: 0 0 1em
	.search
		background-position: 5px 4px
	.submit
		background-position: 4px 4px

/* Styles for the advanced search section.
------------------------------------------------- */
#searchform
	fieldset
		text-align: left
		padding: 0
		border: none
	p.clear
		clear: both

#search_options
	margin: 0 auto
	width: 600px
	padding-top: 1em
	overflow: hidden

#advanced_search
	dt
		clear: both
		float: left
		padding: .2em
		text-align: right
		width: 20%
	dd
		width: 75%
		float: left
		padding: .2em
		margin: 0 0 0 .5em
		text-align: left

/* Styles for the search results page.
------------------------------------------------- */
.topic_table td
	blockquote, .quoteheader
		margin: .5em

.search_results_posts
	overflow: hidden
	.buttons
		padding: 5px 1em 0 0

/* Foldable icons.
------------------------------------------------- */
.upshrinks extends .inline-block
	background: url($images/upshrinks.png) no-repeat
	text-decoration: none

.foldable extends .upshrinks
	width, height: 14px
	background-position: -20px 0
	.fold&
		background-position: -20px -25px

.shrinkable extends .upshrinks
	width, height: 20px
	background-position: 0 0
	.fold&
		background-position: 0 -20px

// Only seen in the admin area, so don't bother preloading its graphics...
.sortselect extends .upshrinks
	width, height: 12px
	background: url-no-base64($images/sortselect.gif)
	.fold&
		background-position: 0 -12px

.catfold extends .foldable

// The upshrink image needs some tweaking
#upshrink extends .shrinkable
	float: right
	margin-left: 1em

#upshrink_ic extends .foldable
	float: right
	margin: 2px -2px 0 0

#quickReplyExpand, #postMoreExpand, #newsupshrink
	base: .foldable

/* Board status icons.
------------------------------------------------- */
.boardstatus extends .inline-block
	background: url($images/boardstatus.png) 0 0 no-repeat
	width: 38px
	height: 42px

.boardstate_on extends .boardstatus

.boardstate_new extends .boardstatus
	background-position: -53px 0

.boardstate_off extends .boardstatus
	background-position: -110px 0

.boardstate_redirect extends .boardstatus
	background-position: -163px 0

.mini_boardstate_off extends .boardstatus
	background-position: -208px -3px
	width: 19px
	height: 21px
	margin: -1px 4px 1px 12px

.mini_boardstate_on extends .mini_boardstate_off
	background-position: -239px -3px

.mini_boardstate_redirect extends .mini_boardstate_off
	background-position: -273px -3px

/* More icons.
------------------------------------------------- */
.new_icon extends .inline-block
	background: url($language/new.gif) no-repeat
	width: width($language_dir/new.gif)px
	height: height($language_dir/new.gif)px
	text-decoration: none

.feed_icon extends .inline-block
	background: url($images/icons/feed.png) no-repeat
	width: width($images_dir/icons/feed.png)px
	height: height($images_dir/icons/feed.png)px
	text-decoration: none
	vertical-align: -3px
	.catrss &
		margin-left: -4px

.arrow_left extends .inline-block
	base: .arrows
	background-position: 0 -28px
	width, height: 9px

/* More hacks.
------------------------------------------------- */
// table_grid styles for Profile > Show Permissions.
#permissions table.table_grid td
	padding: .4em .8em
	cursor: default

#mlist table tbody td.windowbg2
	text-align: center
