<?xml version="1.0"?>
<!--
	See Wine/settings.xml for descriptions.
-->
<styling>

	<name>
		Warm
	</name>

	<comment><![CDATA[
		By Nao.
	]]></comment>

	<code for="ie6"><![CDATA[
	DD_belatedPNG.fix('img.ping,#top_section,#footer div.frame');
	$('input[type=submit], input[type=button]').addClass('ie_button');
	]]></code>

	<block name="title"><header class="title">|</header></block>
	<block name="title2"><header class="title2">|</header></block>
	<block name="cat"><header class="cat">|</header></block>

</styling>
