<?xml version="1.0"?>
<!--
	See Wine/settings.xml for descriptions.
-->
<styling>

	<name>
		Warm
	</name>

	<comment><![CDATA[
		By Nao.
	]]></comment>

	<code for="ie6"><![CDATA[
	DD_belatedPNG.fix('img.ping,#top_section,#footer div.frame,#board_list img');
	$('input[type=submit], input[type=button]').addClass('ie_button');
	]]></code>

	<block name="title"><div class="title">|</div></block>
	<block name="title2"><div class="title2">|</div></block>
	<block name="cat"><div class="cat">|</div></block>

</styling>
