
.cat, tr.cat td
	background-color: #6d92aa
	color: #fff

.title
	&, a, a:link, a:visited
		background-color: #b6dbff
		color: #000
		text-decoration: none

.win, tr.win td
	background-color: #fff
	color: #000

.win2, tr.win2 td
	background-color: #c0c0c0

.new, a:link.new, a:visited.new
	background-color: #2f2fc0
	color: #fff

.updated
	color: red

p
	margin: .5em 0

// Resize our post area as needed
#message
	width: 98%
