
/* Menus and gradients
------------------------------------------------------- */
#navi, #header, .menu ul
	background-image: none

#main_menu
	margin: 0

/* Overrides for the display template
------------------------------------------------------- */
#forumposts .cat
	clear: both

/* Misc hacks
------------- */
#content div.frame
	width: auto

h4.hove, li.hove
	background: #e2ebe7

.cat
	overflow: hidden
	width: auto
