
.cat input[type=checkbox]
	margin: 0 4px

#content
	#forumposts .cat
		margin-top: 8px
		clear: both

/* Misc hacks
------------------------------------------------------- */
.cat final
	overflow: hidden

.title final
	overflow: hidden

.cat
	overflow: hidden
	width: auto
