
/* Misc hacks
------------------------------------------------------- */

#upper_section .frame,
#upper_section h1,
.catbase, .grad250
	filter: none

#header
	gradient: #bcbcbb, #f3f2f0

#navi
	gradient: #e0e0e0, #faf8f6
