
/* Menus and gradients
------------------------------------------------------- */
#navi, #wedge, .menu ul
	background-image: none

#navi, #wedge
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#eceae8', endColorstr='#f4f2f0')
	zoom: 1

#wedge
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#a0a0a0', endColorstr='#faefe6')

.menu
	width: 90%

/* Overrides for the display template
------------------------------------------------------- */
#forumposts .cat
	clear: both

/* Misc hacks
------------- */
#content div.frame
	width: auto

#header, #navi, #content, #footer
	width: expression(this.clientWidth > 1200 ? '1200px' : '95%')

h4.hove
	background: #e2ebe7 url($images/menu.gif) no-repeat 98% 2px

li.hove
	background: #e2ebe7

#upper_section .frame
	filter: none

.cat
	overflow: hidden
	width: auto
