
.cat input[type=checkbox]
	margin: 0 4px

#content
	#forumposts .cat
		margin-top: 8px
		clear: both

#upper_section .frame
	filter: none

#upper_section h1
	filter: none

/* Overrides for the calendar template
------------------------------------------------- */
#main_grid table.weeklist .title2
	margin: 2px 0 -4px 0

/* Misc hacks
------------------------------------------------------- */
.cat final
	overflow: hidden

.title final
	overflow: hidden

.cat
	overflow: hidden
	width: auto
