/**
 * The only point of this styling is to show nested goodness.
 */

tr.catbg td, tr.catbg th {
	background-color: #a8ceba;
}
.table_list tbody.header td.catbg {
	background-color: #b8deca;
}

tr.catbg th {
	background-color: #a8ceba;
}
tr.titlebg th {
	background-color: #e3efe9;
}
