
#mu_container
	text-align: center

#mu_items input
	display: none

#upload_form
	padding: 10px 15px

	.progress
		background: white url($images/aeva/progress.png) no-repeat -250px 0
		margin-right: 0.5em
	.progress2
		background: white url($images/aeva/progress2.png) no-repeat -250px 0
		margin-right: 0.5em
	.progress-text
		font-size: 0.9em
		font-weight: 700

#current_list
	list-style: none
	text-align: left
	padding: 0

	ul
		margin, padding: 5px
	li
		display: inline-block
		overflow: auto
		margin: 0
		padding: 6px
		border: 1px solid rgba(0,0,0, .2)
		border-radius: 8px

	li.file
		margin: 8px
		background: #d9dde9
		width: 400px

	li.file-uploading
		background: url($images/aeva/uploading.png) no-repeat 4px 10px
		background-color: #f9f7ed
	li.file-success
		background: url($images/aeva/tick.png) no-repeat 12px 12px
	li.file-failed
		background: url($images/aeva/failed.png) no-repeat 12px 12px

	li.file
		.file-name
			font-size: 1.1em
			display: block
			clear: left
			margin-left, height, line-height: 30px
			font-weight: 700
			overflow: hidden
		.file-size
			font-size: 0.9em
			line-height: 18px
			float: right
			margin-top: 2px
			margin-right: 6px
		.file-info
			display: block
			margin-left: 30px
			font-size: 0.9em
			line-height: 20px
		.file-remove
			clear, float: right
			line-height: 18px
			margin-right: 6px
		.file-error
			color: #f00
		.file-warning
			color: #936
		input, textarea
			width: 250px
			margin-bottom: 6px
		textarea
			height: 60px
		img
			max-width: 120px

	li.succ_item
		border: 0
