
/**
 * Styles for the zoomedia component.
 * © 2010 René-Gilles Deberdt, http://wedge.org
 */

.zoom mixes .inline-block
	position: @is (ie[-7], "static", "relative")
	max-width: 100%

@if !ie[-7]
	.zoom-catcher
		position: absolute
		top, left, right, bottom: 0
		z-index: 12
@endif

/*
	This is the main component. You can set a custom animation speed (for instance, in custom.css)
	by overriding the .anim class; you may use either 's' (second) or 'ms' (millisecond) values.
	Browsers with no support for transitions will use a value of 700ms by default.
	For instance, add this to your custom.css (or zoom.global.css) file to speed up the animations:

	#zoom.anim
		transition: transform .3s, opacity .3s
*/
#zoom
	// We set visibility to hidden to avoid getting 0 on child zoom-desc's height
	position: absolute
	top, left, opacity: 0
	background: #fff
	border: 1px solid #ccc
	box-shadow: 0 0 18px #666
	border-radius: 8px
	z-index: 11
	&.anim
		transition: transform .6s, opacity .7s
	&.animdone
		transition: none

#zoom-content
	padding: 10px 10px 7px
	text-align: center
	img.scale
		margin: auto

#zoom-close
	display: none
	position: absolute
	top, left: -12px
	@if ie[-8]
		width, height: 30px
		background: url($images/aeva/close.png) no-repeat
		font-size: 0
	@else
		width, height: 18px
		font: 700 20px/18px Arial, sans-serif
		font-size: 20px
		background: #000
		color: #fff
		border: 2px solid #fff
		border-radius: 100%
		box-shadow: 1px 1px 6px #000
		text-decoration: none
		text-align: center
	@endif

#zoom-desc
	max-height: 10em
	overflow: hidden

.zoom-desc-contain
	display: none
	box-sizing: border-box
	margin: 0 10px 10px
	text-align: left
	cursor: default
	color: #000
	.mg_desc
		color: #888
	.aelink
		margin-left: 4px

.zoom-overlay, .zoom-html
	display: none

.zoom-html
	color: #333
	// Override media.css
	a:link, a:visited
		color: #de874d

/*
.zoom-expand
	background: url($images/aeva/arrow_out.png) no-repeat
	display: block
	margin: 0 10px 10px 0
	width, height: 34px
*/

#zoom.zoom-drop-shadow
	background: #777
	border: 0
	#zoom-content
		padding: 0
	.zoom-html
		padding: 10px
	.zoom-desc-contain
		margin-top: 5px
	.zoom-desc-contain, .zoom-html
		color: #fff
		a
			color: #fc9
		.mg_desc
			color: #ccc
	h2
		color: #eee
	h3, .title final
		color: #e2e8d8

#zoom.zoom-white,
#zoom.zoom-glass
	background: linear-gradient(0deg, #fff, rgba(255,255,255, .9) 100px, rgba(128,128,128, .5))

#zoom.zoom-black
	background: #000
	border: 1px solid #333
	.zoom-desc-contain, .zoom-html
		color: #fff
		.mg_desc
			color: #aaa

// Safari, prior to 5.1, didnt't support linear-gradient but webkit-gradient instead.
@if safari[-5.09]
	#zoom.zoom-glass
		background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(128,128,128, .5)), color-stop(50%, rgba(255,255,255, .9)))
@endif
