
// Make the poster info area less prominent.
.poster
	width: 7.5em
	h4
		font-size: 80%
		overflow: hidden

.postarea
	margin-left: 8em

#navi
	padding: 8px 4px 4px
	.menu h4
		font-size: 1.5em
		line-height: 1.1em

.smiley
	vertical-align: middle

.tinytext, .smalltext
	font-size: .6em
	line-height: 1.2em

// The thought list should give more space to thoughts themselves.
.bc
	white-space: normal

@remove .bbc_code, .php_code
	word-wrap: normal

#ajax, #popup
	position: absolute
