
/* Common classes to ease styling.
------------------------------------------------------- */

.floatright
	float: left
.floatleft
	float: right

.clear_left
	clear: right
.clear_right
	clear: left

.right
	text-align: left
.left
	text-align: right

// Styling for BBC tags
.bbc_list
	text-align: right

// GenericList
.additional_row input
	margin-left: 0
	margin-right: 1em

// All the signatures used in the forum. You might want to add max-height here ;)
.signature, .attachments, .custom_fields
	clear: left


/* Lists with settings use these a lot.
------------------------------------------------------- */
dl.settings
	clear: left
	dt
		float: right
		clear: both
	dt.windowbg
		float: right
	dd
		float: left
	img
		margin: 0 0 0 10px


/* Styles for rounded headers.
------------------------------------------------------- */
.title
	padding-right: 9px
	padding-left: 0
	img
		float: right

a.unreadlink
	float: left

.table_grid
	tr.catbg, tr.titlebg
		th:first-child
			border-radius: 0 8px 0 0
		th:last-child
			border-radius: 8px 0 0 0


/* Styles for the standard dropdown menus.
------------------------------------------------------- */
#main_menu
	padding: 0 0 0 0.5em
	float, text-align: right

.menu
	float, clear: right


/* Styles for the standard button lists.
------------------------------------------------------- */
.buttonlist
	margin: 0 0 0 0.2em
	float: left
	li a
		margin-left: 0
		margin-right: 12px
		span
			left: 8px

.context.menu
	padding-left: 0
	padding-right: 2em

// The upshrink image needs some tweaking
#upshrink
	float: left

// The navigation list (i.e. linktree)
#linktree li
	float: right
	padding: 0 0 0 0.5em


/* Styles for the board index.
------------------------------------------------- */
// The posting icons
#posting_icons
	padding: 0 1em 0.5em 1em
	img
		margin: 0 4ex 0 0

.catfold
	margin: 3px 0.6em -3px 0


/* Styles for the message (topic) index.
---------------------------------------------------- */
.lastpost img
	float: left


/* Styles for the display template (topic view).
---------------------------------------------------- */
#pollquestion
	padding: 0.5em 2em 0.5em 0

// Poll vote options
#poll_options

	ul.options
		padding: 1em 2em 0 2.5em
		margin: 0 0 1em 0
	div.submitbutton
		clear: both
		padding: 0 2em 1em 0
		margin: 0 0 1em 0

	// Poll results
	dl.options
		padding: 1em 2em 1em 2.5em
		margin: 0 0 1em 1em
		dt
			float, clear: right
		dd
			margin: 0 2em 0 0
			float: right

span.percent
	float: left

// Poster and postarea + moderation area underneath
.poster
	float: right
	width: 15em

.actionbar
	clear: left

// Poster details and list of items
.poster
	h4, ul
		padding: 0
		margin: 0 1.5em 0 1em
	h4
		margin: 0.2em 1.1em 0.4em 0
	ul ul
		margin: 0.3em 0 0 1em

.messageicon
	float: right
	margin: 0 0 0 0.5em

.quick_edit
	float, clear, text-align: left
	margin: 8px 0 10px 20px

.inline_mod_check
	float: left
	margin: 0 10px 0 -3px

// The action buttons
.actions
	margin: 0.9em 0 0 11px
	float, clear, text-align: left
	li
		float: left
		margin: 0 11px 0 0
		a
			padding: 0 20px 0 0
			float: left

.quote_button
	background-position: 100% 0
.remove_button
	background-position: 100% -30px
.edit_button
	background-position: 100% -60px
.approve_button
	background-position: 100% 0
.restore_button
	background-position: 100% -30px
.split_button
	background-position: 100% -90px
.reply_button
	background-position: 100% -120px
.mergepost_button
	background-position: 100% -150px

.post
	clear: left

.inner
	padding: 1em 0 0 1em
	margin: 0 0 0 1em

#forumposts
	ins
		float: right
		padding-left: 0
		padding-right: 4px
	.reportlinks
		margin-left: 1.5em
		text-align: left
		clear: left

#modbuttons
	float: right
	ul
		margin: 0 0.2em 0 0
		padding: 0 1em 0 0


/* Styles for edit post section
---------------------------------------------------- */
#post_header
	dt, dd
		float: right

#postOptions
	margin: 0 1em 0 0
	li
		float: right

#postAttachment, #postAttachment2
	dd
		margin: .3em 1em .3em 0
	dt
		font-weight: 700

.post_verification #verification_control
	margin: .3em 1em .3em 0


/* Styles for edit poll section.
---------------------------------------------------- */
#edit_poll

	fieldset input
		margin-right: 7em

	ul.poll_main
		li
			padding-right: 1em
		input
			margin-right: 1em

	div.poll_options
		float: right

	ul.poll_main, dl.poll_options
		padding: 0 .7em 0 0

	dl.poll_options
		dt
			padding: 0 1em 0 0
		dd input
			margin-right: 0


/* Styles for the personal messages section.
------------------------------------------------- */
#pm

	#author
		float: right
		margin: 0 0.5em 0 0

	#topic_title
		float: right
		margin: 0 9em 0 0

	.labels
		padding: 0 0 0 1em


/* Styles for the move topic section.
---------------------------------------------------- */
.move_topic
	text-align: right


/* Styles for the login areas.
------------------------------------------------------- */
.login
	dt
		float: right
	dd
		float, text-align: right
	h3 img
		margin: 0 0 0.5em

// Additional profile fields
dl.register_form
	clear: left
	dt
		float: right


/* Styles for maintenance mode.
------------------------------------------------------- */
#maintenance_mode
	text-align: right
	img.floatleft
		margin-left: 1em

// Common for all admin sections
.title img
	margin-left: 0.5em

tr.titlebg td
	padding-right: 0.7em

#amen
	padding-right: 0


/* Styles for generic tables.
------------------------------------------------------- */
.topic_table

	.pinned,
	.locked
		background-position: 2% 4px


/* Styles for the profile section.
------------------------------------------------- */
#basicinfo
	float: right
	ul li
		float: right
		margin-right: 0
		margin-left: 5px

#detailedinfo
	float: left

#detailedinfo, #tracking
	dl
		clear: left
	dt, dd
		float: right

#avatar_server_stored div
	float: right

@media $responsive
	#basicinfo
		h4
			float: right
		img.avatar
			float: left
		ul
			clear: right
	#userstatus
		clear: right

// Profile statistics
#generalstats
	dt, dd
		float: right

// Activity by time
#activitytime
	clear: right

.activity_stats li
	float: right
	span
		border-width: 1px 0 0 1px
	&.last span
		border-left: none

// Most popular boards by posts and activity
#popularposts
	float: right

#popularactivity
	float: left

#popularposts, #popularactivity
	dt, dd
		float: right

.profile_pie
	background-image: raw-url($images/stats_pie_rtl.png)
	float: right
	margin: 0 0 0 1em

// View posts
.topic .time
	float: left

.counter
	padding: 0.2em 0.2em 0.1em 0.5em
	float: right

.topic .mod_icons
	text-align: left
	margin-right: 0
	margin-left: 1em

#permissions div.permission_name
	margin: 0 0 0 1%

#creator
	dt, dd
		float: right

.ignoreboards
	ul
		margin: 0 1em 0 0
	li
		float: right

#pick_theme
	float: right


/* Styles for the statistics center.
------------------------------------------------- */
dl.stats
	dt
		float: right
	dd
		text-align: left

.bar
	float: right

tr.windowbg2
	th.stats_month, td.stats_day
		text-align: right


/* Styles for the advanced search section.
------------------------------------------------- */
#searchform fieldset
	text-align: right

#advanced_search
	dt
		float: right
		text-align: left
	dd
		float: right
		margin: 0 0.5em 0 0
		text-align: right

// Board picker
#searchBoardsExpand
	ul
		margin: 0 1em 0 0
	li
		float: right

#searchform fieldset p
	text-align: right

.search_results_posts .buttons
	padding: 5px 0 0 1em

#manage_boards
	ul, li
		overflow: hidden

.move_links
	padding: 0 0 0 13px

span.search_weight
	text-align: left

// Manage Bans area
.ban_restriction
	margin: 0.2em 2.2em 0.2em 0

// Themes
.is_directory
	padding-right: 18px
	background-position: 100% 0


/* Styles for the moderation center.
------------------------------------------------- */
.modblock_left
	float: right
	clear: left

.modblock_right
	float: left

ul.moderation_notes li
	padding: 4px 4px 4px 0


/* Various Wedge fixes
------------------------------------------------- */
.cat img, .title img
	float: right
	margin-left: 0.5em
	margin-right: 0

.menu li
	float: right

.menu li a
	border-width: 0 4px 0 0

.menu ul
	border-radius: 10px 0 0 10px

.menu li li:hover
	border-radius: 9px 0 0 9px
