
// These may be seen by guests, but it's unlikely, and they won't bother if the icons don't show up anyway.
#modbuttons
	a
		background-position: 6px center
		background-repeat: no-repeat
		padding-left: 22px
	a.merge
		background-image: url($images/small_merge.gif)
		padding-left: 21px
	a.pin
		background-image: url($images/small_pin.gif)
	a.add_poll
		background-image: url($images/small_poll.gif)
	a.move
		background-image: url($images/small_move.gif)
	a.lock
		background-image: url($images/small_lock.gif)
	a.delete
		background-image: url($images/small_delete.gif)
	.buttonlist
		float: left

.modrem a extends #modbuttons a.delete

a.unreadlink
	float: right

// The quick edit button
.quick_edit extends .edit_button
	clear, float: right
	margin: 0 9px 0 -2px
	cursor: pointer

#error_box extends .plainbox mixes .hide
	position: absolute
	bottom: -6px
	z-index: 1

#qe_subject
	width: 100%
	margin: 16px 0 4px

.qe_error
	border: 1px solid red

// "You are ignoring..." box. Obviously, only members can see this.
.ignored
	margin: 8px
	font-style: italic
	color: #999
	:hover
		text-decoration: underline
		cursor: pointer

/* Styles for warning icons. This won't be a big deal
for guests, because most of the time it won't be an option.
------------------------------------------------- */

.warn_hard_ban,
.warn_mute
	color: red

.warn_warned
	color: green

.warn_soft_ban,
.warn_hard_ban,
.warn_mute,
.warn_moderate,
.warn_warned
	color: orange
	.icon mixes .inline-block
		width, height: 16px
		background: raw-url($images/warning_moderate.gif) no-repeat

.warn_hard_ban
	.icon
		background-image: raw-url($images/warning_ban.gif)

.warn_warned
	.icon
		background-image: raw-url($images/warning_watch.gif)

/* Styles for the personal messages section.
------------------------------------------------- */

#pm
	.pm
		overflow: auto
		clear: both
	// We don't need to show reply buttons on our own PMs.
	.self
		background: #e8e8f0
		.reply_button, .quote_button
			display: none
	#author, #topic_title
		float: left
	#author
		margin: 0 0 0 .5em
	#topic_title
		margin: 0 0 0 9em
	div.labels
		padding: 0 1em 0 0
	.capacity_bar
		background: #f0f4f7
		display: block
		margin: .2em 0 0 1em
		height: 1em
		border: 1px solid #adadad
		width: 10em
		span
			border-right: 1px solid #adadad
			display: block
			height: 1em
		span.empty
			background: #a6d69d
		span.filled
			background: #eea800
		span.full
			background: #f10909
	.reportlinks
		padding: .5em 1.3em

	// Custom styling for the small PM View select box...
	th .sbox
		height: 16px
		margin-top: -3px
	th .sbox .display
		line-height, height: 13px
		font-size: .9em
		.btn
			line-height: 13px


@if !ie[-7]
	@media $responsive
		body #pm
			header.cat mixes .hide
			.post_wrapper
				display: block
			.pixelicons
				width: 25px
				margin-top: -3px
				i
					width, height: 10px
			.poster mixes .clearfix
				padding: 3px 0
				h4
					float: left
					font-size: 1.8em
				> ul
					float: left
					li mixes .hide
					li.avatar
						display: block
						margin-top: 4px
						order: -1
						img
							width: auto
							max-height: 2em
@endif

#personal_drafts .actions
	padding-right: 0

#searchLabelsExpand li
	padding: .3em .5em

#manrules div.right
	padding: .3em .1em

#addrule fieldset
	clear: both
	margin-top: 10px

/* Styles for entering thoughts.
------------------------------------------------- */

#thought_form
	display: inline-block
	input
		margin: 0 2px
		padding: 3px 4px
	input.save
		background-image: none
	.sbox
		margin-top: -2px
		font-size: 13px
	#sidebar &
		margin: 0
		.sbox
			max-width: 85px

#thought_form input[type="text"], #thought0
	font-size: 9.5pt
	margin-left: 8px
	border: 1px solid transparent
	width: 300px
	outline: 0

#thought_form input[type="text"], #thought0:hover
	border: 1px solid #999
	border-radius: 5px
	background: #fff
	color: #000

#thought0
	display: block
	cursor: pointer
	box-sizing: border-box
	padding: 4px

.thought_icon mixes .inline-block
	text-decoration: none
	background: url($images/icons/thought.gif) no-repeat
	width: width($images_dir/icons/thought.gif)px
	height: height($images_dir/icons/thought.gif)px

.privacy_default mixes .inline-block // Green
	@if $can_filter
		-prefix-filter: sepia(1) contrast(.6) brightness(1.3) hue-rotate(30deg) saturate(5) // Green
		background: url($images/icons/privacy.gif) 0 center no-repeat
		width, min-height: 10px
	@else
		background: url($images/icons/privacy.png) 0 -10px no-repeat
		width, height: 10px
	@endif
	margin-right: 4px

@if $can_filter
	.privacy_public extends .privacy_default // Uses the same icon.

	.privacy_members extends .privacy_default // Golden
		-prefix-filter: sepia(1) contrast(.6) brightness(1.3) hue-rotate(0deg) saturate(5)

	.privacy_group extends .privacy_default // Blue
		-prefix-filter: sepia(1) contrast(.6) brightness(1.3) hue-rotate(200deg)

	.privacy_list extends .privacy_default // Purple
		-prefix-filter: sepia(1) contrast(.6) brightness(1.3) hue-rotate(270deg) saturate(2)

	.privacy_author extends .privacy_default // Red
		-prefix-filter: sepia(1) contrast(.6) brightness(1.3) hue-rotate(310deg) saturate(20)
@else
	.privacy_public extends .privacy_default // Uses the same icon.

	.privacy_members extends .privacy_default
		background-position: 0 -20px

	.privacy_group extends .privacy_default // Blue
		background-position: 0 -30px

	.privacy_list extends .privacy_default
		background-position: 0 -40px

	.privacy_author extends .privacy_default
		background-position: 0 -50px
@endif

.privacy_list_friends mixes .inline-block
	background: raw-url($images/icons/contacts_friends.gif) 0 center no-repeat
	width, height: 10px
	margin-right: 4px
	vertical-align: 0

.privacy_list_known extends .privacy_list_friends
	background: raw-url($images/icons/contacts_known.gif) 0 center no-repeat

.privacy_list_family extends .privacy_list_friends
	background: raw-url($images/icons/contacts_family.gif) 0 center no-repeat

.privacy_list_work extends .privacy_list_friends
	background: raw-url($images/icons/contacts_work.gif) 0 center no-repeat

.privacy_list_follow extends .privacy_list_friends
	background: raw-url($images/icons/contacts_follow.gif) 0 center no-repeat

.privacy_list_custom extends .privacy_list_friends
	background: raw-url($images/icons/contacts_custom.gif) 0 center no-repeat

.privacy_list_restrict extends .privacy_list_friends
	background: raw-url($images/icons/contacts_restrict.gif) 0 center no-repeat

.iconbox
	text-align: center
	cursor: pointer
	:hover
		padding: 2px 2px 0
		background: #fff
		border: 1px solid #adadad

#iconlist
	cursor: pointer
	position: absolute
	z-index: 10
	margin: 0 -3px
	border: 1px solid #adadad
	background: #fff
	.item:hover
		background: #e0e0f0

/* And for the infraction history. Guests cannot see it.
------------------------------------------------- */
$inf_active = #cfc
$inf_expired = #f8faf8
$inf_revoked = #ffc

.windowbg.inf_active final
	background-color: luma($inf_active, -3%)
.windowbg.inf_expired final
	background-color: luma($inf_expired, -3%)
.windowbg.inf_revoked final
	background-color: luma($inf_revoked, -3%)

.windowbg2.inf_active final
	background-color: $inf_active
.windowbg2.inf_expired final
	background-color: $inf_expired
.windowbg2.inf_revoked final
	background-color: $inf_revoked

dd.with-list
	ul
		margin: 0
		padding-left: 1em
