
/*!
 * Wine skin for Wedge
 * © 2010 René-Gilles Deberdt, http://wedge.org
 */

body
	padding: 6px
	@if ie
		gradient: rgb(160,160,160), rgb(255,255,255)
	@endif

html
	background-image: linear-gradient(rgb(160,160,160) 0, rgba(160,160,160,.5) 242px, transparent)
	background-size: auto 700px
	background-repeat: repeat-x

.msg
	background-image: linear-gradient(rgba(160,160,160,.15), rgba(160,160,160,.02) 242px, transparent)
	background-size: auto 700px
	background-repeat: repeat-x

table.cs0 final tr.windowbg td
	border-bottom: 1px solid rgba(255,255,255, .7)

table.cs0 final tr.windowbg:last-child td
	border-bottom: 0

/* Main layout declarations (body, sidebar...)
------------------------------------------------------- */

#header, #navi, #footer
	gradient: rgb(146,135,135), rgb(137,117,117)
	background-color: #693636
	color: #ddc

#header .mimenu
	color: #444

/* The following direction settings will magically move the sidebar to the left.
	Apply the following to disable this in a sub-skin or custom.css:

	@remove #edge, #sidebar, #main
		direction: ltr
		direction: rtl
*/

#content > div
	padding-bottom: 16px

#edge
	padding-top: 16px
	direction: rtl

#sidebar, #main
	direction: ltr

#sidebar
	display: @is (ie[-7], block, table-cell)
	.title
		font-size: 1.2em
		padding: 4px 4px 4px 8px

body #sidebar .column // body allows this to override responsive values
	padding: 10px 10px 10px 30px

#header h2
	color: #fc9

// The main title
h1
	font: 100 2.8em $big_font
	text-shadow: 1px 1px #000
	a
		color: luma(hue(#fc9, 20), +20%)

#slogan
	color: #000

#banner
	height: $banner_height
	position: relative
	@if ie[-9]
		background-image: url($images/bg.jpg)
	@else
		background-image: linear-gradient($head_bg, luma($head_bg, -20%)), url($images/bg.jpg)
	@endif
	@if ie6
		h1
			filter: none
	@endif
	// If using a regular logo, ensure it doesn't go out of bounds.
	img
		max-height: math($banner_height - 40px)
	// We're using flexbox to easily spread out our elements.
	> div
		position: absolute
		justify-content: space-between
		padding-top, bottom: 0
		@if ie[-9]
			width: auto
			gradient: $head_bg, luma($head_bg, -20%)
		@endif

#linktree
	margin: 0 -10px

#linktree_bt
	padding-top: 1em

// The footer with copyright links etc.
#footer
	border-top: 3px solid #bdb5b5
	a
		color: #fff
		border-bottom: 1px dashed #fff

/* Styles for the general looks for the default theme.
------------------------------------------------------- */

.grad40
	box-shadow: inset 0 24px 20px -8px #777

.wehead extends .grad40
.wefoot extends .grad40

/* Custom Select box styles
--------------------------------------------------------- */

#jump_to
	margin: 1em 0

/* Styles for buttons and other form elements
------------------------------------------------------- */

#search_form
	input.search
		color: white
		border-color: #777 #aaa #aaa #777
		background-color: rgba(0,0,0,.1)
	> input[type=submit]
		background: #938983
		border-color: #bbb #888 #888 #bbb
		color: white
		:hover
			background: #a39993

/* Styles for the dropdown menus.
------------------------------------------------------- */

#navi
	border-bottom: 3px solid #bdb5b5

@if local
	#main_menu
		h4, h4 a
			color: #fff
		li:hover > h4
			background-color: #5a6c85
			color: #fff
			a
				color: #fff

	.mg_item_type
		color: #e5e5e5
@endif

@if ie6
	#navi, #top_section
		background: #928585
@endif

/* Generic, mostly color-related, classes.
------------------------------------------------------- */

section.block header, .wehead, .wefoot
	color: #fff
	a
		color: #fff

$wehead_bg = #c3afa9
$wefoot_bg = #afc3a9

/* Styles for section headers.
------------------------------------------------------- */

// .cat, .title, .title2 and .posthead are closely related... Inheritance fiesta!
.catbase
	border-radius: 5px
	img
		vertical-align: -3px

.cat extends .grad40
	background-color: #b3afa9
	letter-spacing: 0
	color: white
	a
		color: #fda
		:hover
			color: #fff

.cat final
	background-color: #c3b9c3
	text-shadow: black 0 1px 2px

	#sidebar &
		margin-top: 6px
	a
		color: #faf8f8

.title2
	font-size: 1.2em

.cat final
	font: 400 1.2em/1.2em $head_font

.title final
	font: 400 1em $main_font
	background: rgba(0,0,0, .03)


/*
	This is where all styling related to a specific page or area is put.
/*

/* Styles for the info center on the board index.
---------------------------------------------------- */

section.ic
	.last
		margin: 0
		padding: .5em
		border-top: 2px dotted #bbb
		font-size: .9em
	.inline
		padding: .2em .5em
		font-size: .9em
	.pminfo
		padding: .5em
	.stats
		padding-top: 8px

/* Styles for the Display template (topic view).
---------------------------------------------------- */
// Topic title
.posthead extends .catbase
	margin: 0 0 4px
	background: rgba(0,0,0, .03)
	text-shadow: white 0 1px 2px
	color: gray
	@if ie
		filter: none
	@endif

#top_subject
	font: 700 1em/20px $main_font
	letter-spacing: 0

// Previous/next topic links inside .posthead
.prevnext_prev
	font: 700 60%/1.3em $main_font

/* Post styling (still in the Display template)
---------------------------------------------------- */

// Per-post styling
.msg extends .wrc
	padding: 0

// Poster details and list of items
.poster
	border-radius: 12px 0 0 12px
	h4
		font-size, line-height: 120%
	.right-side &
		border-radius: 0 12px 12px 0

ul.buttonlist
	padding: 5px 0
	margin: 0
	li
		border, padding: 0
		margin: 0 0 0 8px
	a
		padding: 3px 5px 4px
		background: #f3f3f3
		text-decoration: none
		border: 1px solid rgba(0,0,0, .07)
		border-radius: 6px
		line-height: 25px
		&.active
			background: #8a8ca5
			color: #fff
		:hover
			background-color: #fd9604
			color: #fff

@if member
	#modbuttons a
		background-position: 6px 5px
@endif

/* Styles for the profile section.
------------------------------------------------- */

// The basic user info on the left
#basicinfo
	h4
		font: 400 120%/105% $head_font

/* More icons.
------------------------------------------------- */

.cat .help final
	vertical-align: -2px

/* CSS for smaller widths.
------------------------------------------------------- */

// You could avoid precedence problems by resetting the query,
// just by adding the 'reset' keyword next to it.
// Just be careful to always carry the important bits over!
@media $responsive
	body
		padding: 0
		#wedge @is ("opera, ios", ", #header, #footer", "")
			border-radius: 0
		@endif
		#sideshow div
			background: #ccc
		#forumposts
			margin: 0 -math($horizontal_content_padding / 2)

@replace
	letter-spacing: -3px
	letter-spacing: -1px

$head_font_style = 400
$head_font_size = 140%/20px
$banner_height = 100px
$sub_radius = 8px
