
/**
 *
 * This is the main CSS file for the default theme's Wine styling.
 * Basically, if you want to make your own stylesheet, just create a new folder in /styles/,
 * create an index.css file in it, and add a settings.xml file if you need to override default settings.
 * If you don't specify anything, the default name will be the folder's name, and the type will be set to "add".
 *
 */

/* Set a fontsize that will look the same in all browsers. */

body
	background: #444
	color: #ccc

#wedge
	background-image: none
	padding: 0

#header, #navi, #menu_container, #footer
	background: #693636 url($images/theme/grad700.png) 0 -100px repeat-x
	color: #ddc
	margin: 0
	width: auto
	max-width: none

#top_section
	background: none
	border: 0

#upper_section
	border: 3px solid darken(#fd9604, 20%)
	border-width: 3px 0 0 0

#content
	color: #444
	margin: 0
	width: auto
	max-width: none
	div.frame
		max-width: 1200px
		margin: auto

#header
	h2
		color: #fc9
	a
		color: #fff /* f93 */

	// Text color for the forum title in the header
	h1.forumtitle a
		color: lighten(hue(#fc9, 20), 10%)
		font: bold .9em "Segoe UI", "Trebuchet MS", Georgia, Geneva, verdana, sans-serif
		text-shadow: 0 0 8px #333

#sidebar
	background: #edefe6
	.column
		padding: 12px

/* The menu is inside another div that had padding applied to it, so we use
   a negative margin to make it cancel the padding and use the full width.
   Without that, the background would be cut off on the sides.
   We don't need to set a padding again since it's already set above. */

#menu_container
	border: 3px solid #fd9604
	border-width: 0 0 3px 0

#footer
	border: 3px solid #fd9604
	border-width: 3px 0 0 0
	a
		color: #fff
	div.frame
		background: none
	ul
		padding: 0 0 8px 0

#navi
	color: #999

#siteslogan, #wedgelogo
	margin, padding: 0
	float: right
	line-height: 3em

#wedgelogo
	background: transparent url($images/wedgelogo.png) no-repeat
	width: 140px
	height: 52px
	margin: 3em 2em 0

#main_menu
	border: 0
	padding-bottom: 0 !important
	h4 a
		color: #fff
	// Specific colors for the main menu, because it's on a dark background...
	li.chosen h4
		margin-bottom: 0
		padding-bottom: 5px
		border-radius: 6px 6px 0 0
	li.nodrop h4
		background-image: none
	h4:hover, h4.hove
		background: #5a6c85 url($images/menu.gif) no-repeat 98% -28px
		a
			color: white

#main_menu, #context_menus
	li.chosen h4
		background-color: #fd9604 !important

blockquote.bbc_standard_quote
	background-color: #d7ecda

blockquote.bbc_alternate_quote
	background-color: #cadfcd

code.bbc_code
	background: #eef

#linktree
	margin-top: 0
	ul
		background: none
		padding: 0 5px
		margin: 0 15px

/* Generic, mostly color-related, classes.
------------------------------------------------------- */

// Alternating backgrounds for posts, and several other sections of the forum.

.windowbg, #preview_body
	background: #f3f3f3 url($images/theme/grad700.png) 0 -550px repeat-x

.windowbg2
	background: #f6f3f0 url($images/theme/grad700.png) 0 -550px repeat-x

.windowbg3
	background-color: #cad3cd

// Colors for background of posts requiring approval

.approvebg
	background-color: #ffeaea

.approvebg2
	background-color: #fff2f2

// Color for background of *topics* requiring approval

.approvetbg
	background-color: #e4a17c

.approvetbg2
	background-color: #f3bd9f

// Sticky topics get a different background

.stickybg
	background: #e8d8cf

.stickybg2
	background: #f2e3d9

// Locked posts get a different shade, too!

.lockedbg
	background: #d4dce2

.lockedbg2
	background: #d8e1e7

.description, .description_board, .plainbox
	background: #f0f5f0

.information
	background: #f0f6f0

.cat, .title, .table_list tbody.header td,
.cat a, .title a, .table_list tbody.header td a,
.catbg, .catbg2, tr.catbg th, tr.catbg td, tr.catbg2 th, tr.catbg2 td,
.titlebg, .titlebg2, tr.titlebg td, tr.titlebg2 td
	color: #fff
	text-shadow: none
	letter-spacing: 0

.cat, .table_list tbody.header td
	a:hover
		color: #fc8

.grad40
	background: url($images/theme/grad40.png) repeat-x

.cat, .title
	base: .grad40
	background-color: #b3afa9
	font: bold 10pt/18px Verdana
	letter-spacing: 0

.cat
	background-color: #c3b9c3
	border-color: #fd9604
	border-width: 2px 0 0 0
	text-shadow: black 0 1px 2px

.roundframe
	background: #f5f5f5

.buttonlist a
	span
		background: #e8e8e8
	:hover span
		background: #fd9604
	&.active span
		background: #5a6c85

.activity_stats li div.bar div
	background: #6294CE

tr.titlebg th, tr.titlebg td, tr.titlebg2 td
	base: .grad40
	background-color: #936f69
	color: #fff

tr.catbg
	td, th
		base: .grad40
		background-color: #623f39
		color: #fff
		a
			color: #fff

.table_list tbody.header td.catbg
	background-color: #b8deca

$head_bg = rgba(221,200,137,0.66)
$main_bg = #fffdfa
