
#
# Wedge
#
# This is the .htaccess file. It sets cache control for images.
#
# @package wedge
# @copyright 2010-2011 Wedgeward, wedge.org
# @license http://wedge.org/license/
#
# @version 0.1
#

<IfModule mod_headers.c>
	<FilesMatch "\.(png|gif|jpe?g)$">
		Header set Cache-Control "max-age=604800"
	</FilesMatch>
</IfModule>