
/*
	This is where all styling related to a specific page or area is put.
/*

/* Styles for the board index.
------------------------------------------------- */

// The board title!
.board_list
	td.info a.subject
		font: 700 120% $head_font

/* Styles for the info center on the board index.
---------------------------------------------------- */
section.ic
	.last
		margin: 0
		padding: .5em
		border-top: 2px dotted #bbb
		font-size: .9em
	.inline
		padding: .2em .5em
		font-size: .9em
	.pminfo
		padding: .5em
	.stats
		padding-top: 8px

/* Styles for the Display template (topic view).
---------------------------------------------------- */
// Topic title and Quick access
.posthead extends .catbase
	margin: 0 0 4px
	background: rgba(0,0,0, .03)
	text-shadow: white 0 1px 2px
	color: gray

#top_subject
	font: 700 1em/20px "PT Sans", $main_font

// Previous/next topic links inside .posthead
.prevnext_prev
	font: normal 60%/1.3em Arial

/* Post styling (still in the Display template)
---------------------------------------------------- */

// Alternating backgrounds for posts
.postbg extends .wrc
	padding: 0

.postbg2 extends .wrc
	padding: 0
	background: transparent

// Poster details and list of items
.poster
	border-radius: 12px 0 0 12px
	h4
		font: 700 120%/120% $head_font

.right-side .poster
	border-radius: 0 12px 12px 0
	text-align: right
	ul
		margin-right: 0
	> ul
		margin: 0 1.3em 0 1em
	h4
		margin: .2em 1.1em .2em 0

ul.buttonlist
	padding: 5px 0
	margin: 0
	li
		border, padding: 0
		margin: 0 0 0 8px
	a
		padding: 3px 5px 4px
		background: #f3f3f3
		text-decoration: none
		border: 1px solid rgba(0,0,0, .07)
		border-radius: 6px
		&.active
			background: #8a8ca5
			color: #fff
		:hover
			background-color: #fd9604
			color: #fff

/* Styles for the quick reply area.
---------------------------------------------------- */

#quickreply a
	font-family: $main_font

/* Styles for sidebar menus.
------------------------------------------------------- */
.left_menu
	margin: .5em 2em

/* Styles for the profile section.
------------------------------------------------- */

// The basic user info on the left
#basicinfo
	h4
		font: 700 120%/105% $head_font

/* More icons.
------------------------------------------------- */
.feed_icon
	vertical-align: -3px

.cat .help final
	vertical-align: -2px
