
/* Common classes to ease styling.
------------------------------------------------------- */

.floatright
	float: left

.floatleft
	float: right

.clear_left
	clear: right

.clear_right
	clear: left

.righttext
	margin-left: auto
	margin-right: 0
	text-align: left

.lefttext
	margin-left: 0
	margin-right: auto
	text-align: right

// Styling for BBC tags
.bbc_list
	text-align: right

// GenericList
.additional_row input
	margin-left: 0
	margin-right: 1em

// All the signatures used in the forum. You might want to add max-height here ;)
.signature, .attachments
	clear: left

.custom_fields_above_signature
	clear: left

.openid_login
	padding-right: 18px
	padding-left: 0


/* Lists with settings use these a lot.
------------------------------------------------------- */
dl.settings
	clear: left
	dt
		float: right
		clear: both
	dt.windowbg
		float: right
	dd
		float: left
	img
		margin: 0 0 0 10px


/* Styles for rounded headers.
------------------------------------------------------- */
.title, .title2
	padding-right: 9px
	padding-left: 0

#wedgelogo
	margin-top: .7em
	margin-right: 1em


/* Various Wedge fixes
------------------------------------------------- */
.cat img
	float: right
	margin-left: 0.5em
	margin-right: 0

.title img
	margin-left: 0.5em

.title2 img
	float: right
