<?xml version="1.0"?>
<!--
	See Warm/settings.xml for descriptions.
-->
<styling>

	<name>
		Wuthering
	</name>

	<type>
		add
	</type>

	<comment><![CDATA[
		By Nao, inspired by Bloc's Curve.
	]]></comment>

	<code for="ie6"><![CDATA[
	DD_belatedPNG.fix('img.ping,header,#header,#navi,#footer,#footer div.frame');
	$('input[type=submit], input[type=button]').addClass('ie_button');
	]]></code>

	<block name="title"><header class="title">|</header></block>
	<block name="title2"><header class="title2">|</header></block>
	<block name="cat"><header class="cat">|</header></block>

</styling>
