
/* Styles for the admin center (reverse admin.css)
------------------------------------------------- */
#admin #main
	clear: right

#quick_search
	margin-left: 5px
	float: left

.features_image
	float: right
	margin: 0 1em 0.5em 2em

.features_switch
	float: left

.features h4
	padding: 1em 0.5em 0.5em 0

// Admin home
#wedge_news dd
	padding: 0
	margin: 0 1.5em 1em 0

#quick_tasks li
	float: right
	list-style-type: none

.home_image
	float: right

// Common admin classes
.additional_row input
	margin-left: 0
	margin-right: 2em

#error_log td div.marginleft
	margin: 0 1ex 0 0 !important
