
// This is the editor's playground.
.editor
	display: block
	border: 1px solid #bbb
	color: #000
	cursor: text
	padding: 2px
	margin: 0
	text-align: left
	box-sizing: border-box
	@if ie[-10]
		/* IE forces a scrollbar otherwise. */
		overflow: auto
	@endif
	@if webkit, firefox
		/* Remove Firefox and Chrome's resize handles. */
		resize: none
	@endif

// And the WYSIWYG version.
iframe.rich
	box-sizing: border-box
	border: 1px solid black
	margin, padding: 0

html.rich
	height: 100%
	overflow: auto

// Override any iframe/html/body background.
.rich
	background: $main_bg
	.smiley
		margin: 0 2px

// textarea has a font-size of 95% by default, but it's inherited from the body's 88%.
// As we're applying this to the body, we want to calculate 95% of 88% instead.
// Plus, that's a nice sample of what Wess can do.
body.rich extends .editor
	border: 0
	min-height: 100%
	font-size: math(.95*88)%

// The resize handle.
.rich_resize
	height: 5px
	padding: @is (ie, 0, 0 2px)
	font-size: 0
	background: #eee url($images/bbc/resize-handle.gif) no-repeat 50% 1px
	box-sizing: border-box
	border: 1px solid #ddd
	border-top-width: 0
	cursor: s-resize

.writer
	width: 100%
	box-sizing: border-box

/* Styles for edit/new post section
----------------------------------- */

.postbox
	padding: .5em
	overflow: hidden
	dt
		float: left
		padding: 0
		width: 15%
		margin: .5em 0 0
		font-weight: 700
	dd
		float: left
		padding: 0
		width: 83%
		margin: .3em 0

#subject_line
	width: 100%
	> div
		display: table-cell
		white-space: nowrap
	> div:last-child
		width: 100%
		padding-left: 5px

@media all and (max-width: 600px)
	#subject_line > div
		display: table-row

#subject
	width: 100%
	vertical-align: middle
	font-size: 100%
	height: 27px

#post_header extends .postbox
	img
		vertical-align: middle

#postOptions
	margin: 0 0 0 1em
	border-bottom: 1px solid #cacdd3
	padding: .5em
	list-style: none
	overflow: hidden
	li
		margin: .2em 0
		width: 49%
		float: left

#postOptionsHeader
	margin-top: 1em

#postAttachment, #postAttachment2
	overflow: hidden
	margin: .5em 0
	padding: 0
	border-bottom: 1px solid #cacdd3
	padding: .5em
	dd, dd
		margin: .3em 0 .3em 1em
	dt, dt
		font-weight: 700

.post_verification
	margin-top: .5em
	#verification_control
		margin: .3em 0 .3em 1em

// The BBC buttons
#bbcBox_message
	margin: .75em .5em
	.bbc_button, .bbc_button div
		margin: 2px
		vertical-align: top
	.bbc_button div
		margin: 2px 0
	> div
		margin: 0

	// Custom styling for select boxes
	.sbox
		vertical-align: top
	.display
		font-size: 11px

// The smiley strip
#smileyBox_message
	margin: .5em
	max-height: 120px
	overflow-y: auto
	.smpost
		margin: 0 2px

.bbc_divider, .bbc_button, .bbc_button div
	mixin: .inline-block
	width: 23px
	height: 22px

.bbc_divider
	width: 0
	height: 19px
	border-left: 1px solid #999
	border-right: 1px solid #fff
	margin: 3px 2px 3px 3px !important

.seledit
	margin: 0 0 0 3px
	padding: 1px

.postbuttons
	max-width: 50%
	padding: .7em .5em
	float, text-align: right
	input
		margin-bottom: 5px

#draft_lastautosave mixes .inline-block
	margin-left: 3px
	font-size: .9em
	line-height: 1.7em
	clear: right

#remove_draft
	margin-left: -5px

#shortcuts
	padding: .9em 0 0
	label
		display: block
		padding-bottom: .8em
	kbd
		color: #600
		font-size: 120%

@if member
	#contactlist
		margin-left: 2em
		table-layout: fixed
		> div
			overflow-x: hidden
			overflow-y: auto
			max-height: 120px
			margin: -.9em -1.2em
			padding: .9em
		> div:last-child
			white-space: nowrap
		.to
			margin-left: 1em
		.bcc
			margin: 0 0.5em

	@media all and (max-width: 600px)
		#contactlist
			display: none
@endif
