
// Copied from index.css... I know, a bit annoying, but IE6/7 need this.
.inline-block
	display: inline-block
	mixin: ie-inline-block
	vertical-align: middle

// This is the editor's playground.
.editor, .rich_editor
	display: block
	border: 1px solid #808080
	color: #000
	cursor: text
	padding: 2px
	margin: 0
	box-sizing: border-box
	/* Remove IE's scrollbar if not needed. */
	$editor_overflow
	/* Remove Firefox and Chrome's resize handles. No need to create new satellite files just for that... */
	$editor_resize

// And the WYSIWYG version.
.rich_editor
	background: #fff
	.smiley
		margin: 0 2px

iframe.rich_editor
	padding: 2px

body.rich_editor
	border, padding: 0

// The resize handle.
.richedit_resize
	height: 5px
	padding: 0 2px
	font-size: 0
	background: #eee url($images/bbc/resize-handle.gif) no-repeat 50% 1px
	box-sizing: border-box
	border: 1px solid #ddd
	border-top-width: 0
	cursor: s-resize

.writer
	width: 100%
	box-sizing: border-box

/* Styles for edit/new post section (see also editor.css)
----------------------------------------------------------- */

.postbox
	padding: .5em
	overflow: hidden
	dt
		float: left
		padding: 0
		width: 15%
		margin: .5em 0 0
		font-weight: bold
	dd
		float: left
		padding: 0
		width: 83%
		margin: .3em 0

#post_header extends .postbox
	img
		vertical-align: middle

ul.post_options
	margin: 0 0 0 1em
	padding: 0
	list-style: none
	overflow: hidden
	li
		margin: .2em 0
		width: 49%
		float: left

#postAdditionalOptionsHeader
	margin-top: 1em
	strong
		vertical-align: middle

#postMoreOptions
	border-bottom: 1px solid #cacdd3
	padding: .5em

#postAttachment, #postAttachment2
	overflow: hidden
	margin: .5em 0
	padding: 0
	border-bottom: 1px solid #cacdd3
	padding: .5em
	dd, dd
		margin: .3em 0 .3em 1em
	dt, dt
		font-weight: bold

.post_verification
	margin-top: .5em
	#verification_control
		margin: .3em 0 .3em 1em

// The BBC buttons
#bbcBox_message
	margin: .75em .5em
	.bbc_button, .bbc_button div
		margin: 2px
		vertical-align: top
	.bbc_button div
		margin: 2px 0
	> div
		margin: 0

	// Custom styling for select boxes
	.sbox
		vertical-align: top
	.display
		font-size: 11px

// The smiley strip
#smileyBox_message
	margin: .5em
	max-height: 120px
	overflow-y: auto
	.smpost
		margin: 0 2px

#preview_body
	color: #444
	background: #f9f6f0
	background-position: 0 -550px
	a
		color: #47a

.bbc_divider, .bbc_button, .bbc_button div
	base: .inline-block
	width: 23px
	height: 22px

.bbc_divider
	width: 0
	height: 19px
	border-left: 1px solid #999
	border-right: 1px solid #fff
	margin: 3px 2px 3px 3px !important

.seledit
	margin: 0 0 0 3px
	padding: 1px

#post_confirm_strip
	max-width: 50%
	padding: .7em .5em
	float, text-align: right

#draft_lastautosave
	base: .inline-block
	line-height: 1.7em
	clear: right

#shortcuts
	padding: .9em 0 0
	label
		display: block
		padding-bottom: .8em

// IE6 needs layout to show inline-block divs... And a default right margin from my experience.
mixin {ie6,ie7} ie-inline-block
	margin-right: 6px
	zoom: 1

$editor_overflow = ""
$editor_overflow {ie6,ie7,ie8,ie9,ie10} = "overflow: auto"
$editor_resize = ""
$editor_resize {webkit,firefox} = "resize: none"
