
input[type=button], input[type=submit]
	padding: 4px 4px 2px

input.submit
	padding-left: 23px

.menu h4 strong
	filter: none
	background: #c74c55

.note
	filter: none
	background-color: #eb8c66

.notewarn
	background-color: #d55a61

.notenice
	background-color: rgb(100, 175, 100)

.menu li a
	word-wrap: normal

@remove .menu li ul
	background: #f7fcf7
	background: $menu_gradient
	box-shadow: 2px 2px 3px 0 rgba(0,0,0, .2)

.menu li ul
	background: #fff
	box-shadow: inset 0 50px 50px rgba(232, 236, 232, .96), 2px 2px 3px 0 rgba(0,0,0, .2)
