
input[type=submit], input[type=button]
	padding: 1px 2px 2px

input.submit
	padding-left: 21px

// Firefox doesn't support 'position: relative' on a table cell, unlike other browsers.
table.thought_list td > div
	position: relative
