
// Main area should have slightly larger text.
#main
	display: block
	padding: 4px 4px 8px
	font-size: 1.4em
	line-height: 1.5em

// Make the poster info area less prominent.
.poster
	width: 7.5em
	h4
		font-size: 80%
		overflow: hidden

.postarea
	margin-left: 8em

#content div.frame
	padding: 0 10px 20px

.board_list
	td.stats
		display: none
	td.lastpost
		width: 40%

#navi
	padding: 8px 4px 4px
	.menu h4
		font-size: 1.5em
		line-height: 1.1em

.smiley
	vertical-align: middle

@media $responsive
	body
		#sidebar
			margin: 0 -10px
			font-size, line-height: 1.5em

.smalltext
	font-size: .6em
	line-height: 1.2em

// The thought list should give more space to thoughts themselves.
.bc, .bc2
	white-space: normal

@remove .bbc_code, .php_code
	word-wrap: normal

@remove .thought_actions
	position: absolute
	opacity: 0

.thought_actions
	display: none

table.thought_list td:hover
	.thought_actions
		display: inline

// iOS needs its hacks, too. Don't even bother, this one makes absolutely
// no frigging sense. If set to 'relative', the menu refuses to show up.
h4 .mime
	position: absolute

#ajax_in_progress, #help_pop
	position: absolute
