
.cat input[type=checkbox]
	margin: 0 4px

// Generic lists header
// Side paddings must NOT be defined here.
.table_grid thead th
	padding-top, padding-bottom: 0 !important

#top_section .frame
	p, h2
		display: inline


/* The dropdown menus
------------------------------------------------------- */
li.hove
	background: #e2ebe7

li.sep
	a
		padding: 0
	hr
		margin: 0
		width: 80px

#context_menus h4:hover
	background-color: #ebe7e2

// Annoying hack...
.menu > li
	display: inline


/* Overrides for the messageindex template
------------------------------------------------------- */
#messageindex table
	margin-top: 5px
	th
		border-bottom: 1px solid #fff


/* Overrides for the display template
------------------------------------------------------- */
.prevnext_prev
	padding: 0 8px 0
	width: 20%

.prevnext_next extends .prevnext_prev

#top_subject
	width: 50%

.post
	padding-top: 1em
	float: none
	word-wrap: break-word

#content
	#forumposts div.cat
		margin: 8px 0 0
		clear: both
	.pagesection
		height: 1%

.postheader
	display: block

.keyinfo
	float: left
	display: block
	width: 47%


/* Overrides for the profile template
------------------------------------------------------- */
#basicinfo h4
	word-wrap: break-word


/* Overrides for the personal messages template
------------------------------------------------------- */
#postmodify dl
	#pm_to, #bcc_div2, #pm_subject
		clear: both !important


/* Overrides for the recent posts template
------------------------------------------------------- */
.list_posts
	word-wrap: break-word


/* Editor
------------------------------------------------------- */
// No support for box-sizing...
#preview_section > .postbg
	width: auto


/* Topic pages - post list
------------------------------------------------------- */

#forumposts .wrc
	display: block

.post_wrapper
	display: block
	width: auto
	overflow: auto

.postarea
	display: block
	float: left
	width: 75%

.post
	padding: 0 12px 0 14px

.poster
	display: block
	float: right
	width: 20%
	padding-right: 0


/* Misc hacks
------------------------------------------------------- */
#linktree
	zoom: 1

.posthead
	width: auto

.cat, .title
	overflow: hidden

.table_list a.collapse
	width: 14px

input[type=submit]
	overflow: visible

input.search
	height: auto

// Without this, the clear: both on dt will fail.
dl.settings dd
	float: none

#linktree
	li
		white-space: nowrap
		margin-right: 5px
		&.last
			white-space: normal
