
.clearfix
    zoom: 1

/* The dropdown menus
------------------------------------------------------- */
.menu
	width: 100%
	a:hover
		text-decoration: none

	li
		margin, padding: 0
		list-style: none
		cursor: pointer
		height: auto
		float: left
		display: block

	/*	Sort of a hasLayout fix for IE6... Without it, we get an horizontal frame below any menu entry
		that has a submenu itself. If you have a better fix, please share. Curse you, IE6! */
	li li
		border-bottom: 1px solid #fff8f1

	li ul
		margin-top: 0
	li.subsection a extends .arrows
		background-position: 98% -46px
		padding: 6px 24px 6px 8px
	li.subsection li a
		background: none
	strong
		float: none
		padding-top, padding-bottom: 0
		background-color: #c74c55 !important

.menu li li.menu-top
	border: 0

li.hove
	background-color: #e2ebe7

li.separator
	background: none
	a
		padding: 0 8px
	hr
		position: absolute
		margin: 6px 0 0 0
		width: 16px
		display: block

// Sub-area non-dropdown menus in the admin area
#context_menus
	h4
		padding: 0
	a
		padding: 3px 5px
		:hover
			background: #ebe7e2
	li.chosen a:hover
		background: none


/* Miscellaneous
------------------------------------------------------- */
.bbc_code
	width: 96%
	margin: auto

// The page section
.pagesection
	overflow: auto
	clear: both

#top_section
	height: 1%
	.frame
		p, h2
			display: inline

// Generic lists header
// Side paddings must NOT be defined here.
.table_grid thead th
	padding-top, padding-bottom: 0 !important


/* Overrides for the message index template
------------------------------------------------------- */
#messageindex table
	margin-top: 5px
	th
		border-bottom: 1px solid #fff


/* Overrides for the display template
------------------------------------------------------- */
.posthead
	width: auto
	overflow: hidden
	clear: both
	height: 1%

.prevnext_prev
	padding: 0 8px 0
	float: left
	width: 20%

.prevnext_next extends .prevnext_prev
	float: right

#top_subject
	line-height: 1.2em
	float: left
	width: 59%

#quickreply
	clear: both

.buttonlist a
	text-decoration: none
	width: 1%
	white-space: nowrap
	:hover
		text-decoration: none


/* Styles for the statistics center.
------------------------------------------------- */
#statistics
	div.wrc
		height: 210px
		overflow: hidden
	div.top_row
		height: 150px


/* Overrides for the profile template
------------------------------------------------------- */
#basicinfo h4
	word-wrap: break-word

#theme_settings li
	list-style: none
	margin: 10px 0
	padding: 0

.ignoreboards
	margin: 0 1%
	padding: 0
	width: 45%

.topic .post
	height: 80px


/* Overrides for the personal messages template
------------------------------------------------------- */
#pm .postarea
	margin-left, margin-right: 0
	float: right


/* Overrides for the admin section of the register template
----------------------------------------------------------- */
#registration_agreement
	width: 99.5%
	margin: auto

#edit_poll ul.poll_main li
	padding-left: 0
	margin: 0 -2em

#postmodify div.roundframe
	margin-right: 0


/* Overrides for the recent posts template
------------------------------------------------------- */
.list_posts
	word-wrap: break-word


/* Editor
------------------------------------------------------- */
// This is the WYSIWYG editor
.rich_editor
	background-color: #fff
	color: #000
	font-family: verdana
	font-size: x-small
	border: none
	p
		margin: 0
	a img
		border: 0

.richedit_resize
	padding: 0 !important


/* Topic pages - post list
------------------------------------------------------- */

#forumposts .wrc
	display: block

.post_wrapper
	display: block
	width: auto
	overflow: auto

.postarea
	display: block
	float: right
	width: 75%

.post
	padding: 0 12px 0 14px

.poster
	background-color: transparent
	display: block
	float: left
	width: 20%
	padding-right: 0

ul.actions
	float: right

#forumposts
	.cat
		clear: both

.postheader
	display: block

.keyinfo
	padding-bottom: 6px
	float: left
	display: block
	width: 47%

ul.actions
	display: block
	width: 40%
	li
		width: 1%

.inner
	clear: both

.post
	word-wrap: break-word


/* Misc hacks
------------- */
#content div.frame
	width: auto // expression(this.clientWidth > 1200 ? '1200px' : 'auto') tends to crash IE6.

#footer
	clear: both

#menu_toggle
	margin-bottom: -18px

.table_list a.collapse
	margin: 3px -.5em -3px .5em

// Adding layout to a few divs that are distorted by IE6.
#navi, #linktree, #linktree ul, .cat, .title, .posthead, .wrc
	zoom: 1

#main_menu
	margin-bottom: -1px

.table_list a.collapse
	width: 14px

#button_home
	padding-left: 10px !important

#admin_main_section
	width: 100%

#postMoreOptions
	border: 0

// Since IE6 doesn't understand border-spacing, we'll just hide borders.
table.table_grid, table.cs0, table.cs1
	border-collapse: collapse

.bbc_button, .bbc_button div
	display: inline
	width: 21px
	height: 18px

.bbc_button
	padding: 0 3px 0 1px

.bbc_divider
	display: inline
	padding-right: 3px

#admin #main hr
	display: block
	margin: 0

.ie_button
	overflow: visible

// IE6 ignores .ie_check if declared alongside input[type=*]... .ie_button doesn't. Screw IE6.
.ie_check
	mixin: checkbox-styling

input.submit, input.delete, input.save, input.new
	padding-right: 6px
	overflow: visible
	width: auto

input.search
	height: auto

// Old IEs reset background-position to 0 if you provide them with multiples values :-/
input.submit
	background-position: 4px center
input.cancel
	background-position: 0 100px

#thought_form input.save
	background-position: -99px -99px

.thought_actions
	display: none

table.thought_list div:hover .thought_actions
	display: inline

// IE6 needs inline-block to be reset to inline separately... How annoying.
.inline-block
	display: inline

// And it doesn't support opacity.
.boardstate_off
	filter: alpha(opacity=50)

.boardstate_redirect
	filter: alpha(opacity=25)

#upper_section h1
	display: inline // IE6 double margin bug fix

hr
	clear: both

// Without this, the clear: both on dt will fail.
dl.settings dd
	float: none

ul.stats
	margin: 3px 0 0

#linktree
	li
		white-space: nowrap
		margin-right: 5px
		&.last
			white-space: normal

body
	background-image: none

.smiley
	text-indent: 0

// IE6 totally screws up the menus without all of these together.
ul.mimeitem
	float: none
	width: auto
	li
		display: block
		width: 120px
		a
			text-align: right

// Fix IE6's tendency to enlarge select boxes to full width. Tss.
.sbox
	width: 1%

// Remove hasLayout from optgroup styling because it breaks item widths.
.sbox .items .optgroup .label
	zoom: normal

.two-columns
	width: 49.1%

// IE6 doesn't support position: fixed...
#help_pop
	position: absolute
	background: transparent
