
/* Editor
------------------------------------------------------- */
// This is the WYSIWYG editor
.rich_editor
	background-color: #fff
	color: #000
	font-family: verdana
	font-size: x-small
	border: none
	p
		margin: 0
	a img
		border: 0

.richedit_resize
	padding: 0 !important


/* Misc hacks
------------- */
// Old IEs reset background-position to 0 if you provide them with multiples values :-/
input.submit
	background-position: 4px 2px
input.delete
	background-position: 4px -30px
input.save
	background-position: 4px -62px
input.new
	background-position: 4px -94px
input.spell
	background-position: 4px -125px
input.cancel
	background-position: 0 100px

#upper_section h1
	filter: glow(color=#777777, strength=3)

.postheader
	display: block

.keyinfo
	float: left
	display: block
	width: 47%

.menu h4 strong
	filter: none
	background: #c74c55

// Because IE8 doesn't support :only-child...
.wrc, .wrc_top, .wrc_bottom
	p:first-child:last-child
		margin-top: .5em
