
// Main area should have slightly larger text.
#main
	display: block
	padding: 4px 4px 8px
	font-size: 1.4em
	line-height: 1.5em

// Make the poster info area less prominent.
.poster
	width: 7.5em
	h4
		font-size: 80%
		overflow: hidden

.postarea
	margin-left: 8em

#content div.frame
	padding: 0 10px 20px

#board_list
	td.stats
		display: none
	td.lastpost
		width: 40%

#navi
	padding: 8px 4px 4px
	.menu h4
		font-size: 1.5em
		line-height: 1.1em

.smiley
	vertical-align: middle

#responsive
	#edge
		position: static
	#sidebar
		display: block
		clear: both
		width: 100%
		position: static
		box-shadow: none
