
#header
	li.greeting
		font-size: 1.3em
		font-weight: 700
		line-height: 1.5em

// These may be seen by guests, but it's unlikely, and they won't bother if the icons don't show up anyway.
#modbuttons
	a
		background-position: 6px center
		background-repeat: no-repeat
		padding-left: 22px
	a.merge
		background-image: url($images/small_merge.gif)
		padding-left: 21px
	a.pin
		background-image: url($images/small_pin.gif)
	a.add_poll
		background-image: url($images/small_poll.gif)
	a.move
		background-image: url($images/small_move.gif)
	a.delete
		background-image: url($images/small_delete.gif)
	a.lock
		background-image: url($images/small_lock.gif)

.table_list a.unreadlink
	font-size: .9em
	float: right

// The quick edit button
.quick_edit extends .edit_button
	clear, float: right
	margin: 0 9px 0 -2px
	cursor: pointer

#error_box
	padding: 4px

#quick_edit_body_container
	margin: 4px 0 12px // top section already has #error_box padding to compensate.

#qm_subject
	width: 80%

#qm_post
	margin-bottom: 10px
	@if ie[-8]
		max-width, min-width: 100%
		width: 635px
	@else
		width: 100%
	@endif

.qm_error
	border: 1px solid red

// "You are ignoring..." box. Obviously, only members can see this.
.ignored
	margin: 8px
	font-style: italic
	color: #999
	:hover
		text-decoration: underline
		cursor: pointer

/* Styles for the personal messages section.
------------------------------------------------- */

#pm
	.pm
		overflow: auto
		clear: both
	// We don't need to show reply buttons on our own PMs.
	.self
		background: #e8e8f0
		.reply_button, .quote_button
			display: none
	#author, #topic_title
		float: left
	#author
		margin: 0 0 0 .5em
	#topic_title
		margin: 0 0 0 9em
	div.labels
		padding: 0 1em 0 0
	.capacity_bar
		background: #f0f4f7
		display: block
		margin: .2em 0 0 1em
		height: 1em
		border: 1px solid #adadad
		width: 10em
		span
			border-right: 1px solid #adadad
			display: block
			height: 1em
		span.empty
			background: #a6d69d
		span.filled
			background: #eea800
		span.full
			background: #f10909
	.reportlinks
		padding: .5em 1.3em

	// Custom styling for the small PM View select box...
	th .sbox
		height: 16px
		margin-top: -3px
	th .sbox .display
		line-height, height: 13px
		font-size: .9em
		.btn
			line-height: 13px

#personal_drafts .actions
	padding-right: 0

#searchLabelsExpand li
	padding: .3em .5em

#manrules div.right
	padding: .3em .1em

#addrule fieldset
	clear: both
	margin-top: 10px

/* Styles for entering thoughts.
------------------------------------------------- */

#thought_form
	display: inline-block
	margin-left: 8px
	input
		margin: 0 1px 0 2px
		padding: 2px 4px
	input.save
		background-image: none
	.sbox
		margin-top: -2px
		font-size: 13px
	#sidebar &
		margin: 0
		.sbox
			max-width: 85px

#thought_update input
	margin: 0 0 8px

#thought_form input[type="text"], #thought_update
	font-size: 9.5pt
	padding: 3px
	border: 1px solid transparent
	width: 208px
	margin: 8px 0

#thought_form input[type="text"], #thought_update:hover
	border: 1px solid #999
	background: #fff
	color: #000

#thought_update
	cursor: pointer

.thought
	ul
		margin, padding: 0 0 0 8px
	li
		margin, padding: 0

.my.thought
	font: italic 12px Georgia, "Trebuchet MS", Arial, sans-serif

.thought_icon mixes .inline-block
	text-decoration: none
	background: url($images/icons/thought.gif) no-repeat
	width: width($images_dir/icons/thought.gif)px
	height: height($images_dir/icons/thought.gif)px

#new_thought
	display: none

.privacy_default mixes .inline-block
	background: url($images/icons/privacy.png) 0 0 no-repeat
	margin-right: 4px
	width: 10px
	height: 10px

.privacy_everyone extends .privacy_default
	background-position: 0 -10px

.privacy_members extends .privacy_default
	background-position: 0 -20px

.privacy_groups extends .privacy_default
	background-position: 0 -30px

.privacy_friends extends .privacy_default
	background-position: 0 -40px

.privacy_justme extends .privacy_default
	background-position: 0 -50px

.iconbox
	text-align: center
	cursor: pointer
	padding: 3px 3px 1px
	:hover
		padding: 2px 2px 0
		background: #fff
		border: 1px solid #adadad

#iconlist
	text-align: center
	cursor: pointer
	position: absolute
	padding: 3px
	border: 1px solid #adadad
	background: #fff
	.item
		text-align: center
		padding: 3px 3px 1px
		margin-left, margin-right: auto
		border: 1px solid #fff
		:hover
			border: 1px dotted gray
			background: #e0e0f0

/* And for the infraction history. Guests cannot see it.
------------------------------------------------- */
$inf_active = #cfc
$inf_expired = #f8faf8
$inf_revoked = #ffc

.windowbg.inf_active
	background-color: darker($inf_active, 3%)
.windowbg.inf_expired
	background-color: darker($inf_expired, 3%)
.windowbg.inf_revoked
	background-color: darker($inf_revoked, 3%)

.windowbg2.inf_active
	background-color: $inf_active
.windowbg2.inf_expired
	background-color: $inf_expired
.windowbg2.inf_revoked
	background-color: $inf_revoked
