
.cat input[type=checkbox]
	margin: 0 4px

// Generic lists header
// Side paddings must NOT be defined here.
.table_grid thead th
	padding-top, padding-bottom: 0 !important

#top_section .frame
	p, h2
		display: inline


/* Overrides for the messageindex template
------------------------------------------------------- */
#messageindex table
	margin-top: 5px
	th
		border-bottom: 1px solid #fff


/* Overrides for the display template
------------------------------------------------------- */
.prevnext_prev
	padding: 0 8px 0
	float: left
	width: 20%

.prevnext_next extends .prevnext_prev
	float: right

#top_subject, #display_jump_to
	float: left
	width: 55%

.post
	padding-top: 1em
	float: none
	word-wrap: break-word

#content
	#forumposts div.cat
		margin: 8px 0 0
		clear: both
	.pagesection
		height: 1%

.postheader
	display: block

.keyinfo
	float: left
	display: block
	width: 47%

/* Overrides for the profile template
------------------------------------------------------- */
#basicinfo h4
	word-wrap: break-word


/* Overrides for the personal messages template
------------------------------------------------------- */
#postmodify dl
	#pm_to, #bcc_div2, #pm_subject
		clear: both !important


/* Overrides for the recent posts template
------------------------------------------------------- */
.list_posts
	word-wrap: break-word


/* Editor
------------------------------------------------------- */
// This is the WYSIWYG editor
.rich_editor
	background-color: #fff
	color: #000
	font-family: verdana
	font-size: x-small
	border: none
	p
		margin: 0
	a img
		border: 0

.richedit_resize
	padding: 0 !important


/* Topic pages - post list
------------------------------------------------------- */

#forumposts .wrc
	display: block

.post_wrapper
	display: block
	width: auto
	overflow: auto

.postarea
	display: block
	float: left
	width: 80%
	padding-left: 0

.post
	padding: 0 12px 0 14px

.poster
	display: block
	float: right
	width: 20%
	padding-right: 0

ul.quickbuttons
	display: block
	width: 40%
	float: right

// IE7 totally screws up the menus without all of these together.
ul.usermenuitem, ul.acmenuitem
	float: none
	width: auto
	li
		display: block !important
		a
			float: none !important
			text-align: right

/* Misc hacks
------------------------------------------------------- */
#linktree
	zoom: 1

.posthead
	width: auto

.cat, .title
	overflow: hidden

.table_list a.collapse
	width: 14px

.bbc_divider, .bbc_button, .bbc_button div
	display: inline

.bbc_button
	padding: 0 2px

h4.hove
	background: #e2ebe7 url($images/menu.gif) no-repeat 98% 2px

li.hove
	background: #e2ebe7

li.separator
	a
		padding: 0 8px
	hr
		position: absolute
		margin: 6px 0 0 0
		width: 16px
		display: block

#context_menus h4:hover
	background-color: #ebe7e2

// Annoying hacks...
.menu
	strong
		float: none
		margin-right: 8px
	> li
		display: inline
		margin-left: 2px
		vertical-align: top

input[type=submit]
	overflow: visible

// Old IEs reset background-position to 0 if you provide them with multiples values :-/
input.submit
	background-position: 4px 2px
input.delete
	background-position: 4px -30px
input.save
	background-position: 4px -62px
input.new
	background-position: 4px -94px
input.spell
	background-position: 4px -125px
input.cancel
	background-position: 0 100px

// IE7 needs inline-block to be reset to inline separately... How annoying.
.inline-block
	display: inline

#upper_section h1
	filter: glow(color=#666666, strength=3)

// Without this, the clear: both on dt will fail.
dl.settings dd
	float: none

#linktree
	li
		white-space: nowrap
		margin-right: 5px
		&.last
			white-space: normal

.smiley
	text-indent: 0
