
#header
	li.greeting
		font-size: 1.3em
		font-weight: bold
		line-height: 1.5em

// These user menu options definitely aren't available to guests.
ul.quickbuttons
	.contact_button
		background-image: url($images/icons/online.gif)
		background-position: 0 0
		padding-left: 26px
	.pm_button
		background-image: url($images/im_on.gif)
		background-position: 0 0

// These may be, but it's unlikely, and they won't bother if the icons don't show up anyway.
ul.buttonlist
	a.lock, a.sticky, a.add_poll
		padding-left: 22px
		background-image: url($images/small_lock.gif)
		background-position: 6px 5px
		background-repeat: no-repeat
	a.sticky
		padding-left: 23px
		background-image: url($images/small_stick.gif)
	a.add_poll
		background-image: url($images/small_poll.gif)

/* Styles for the personal messages section.
------------------------------------------------- */

#personal_messages
	.pm extends #forumposts .wrc
		overflow: auto
		clear: both
	#author, #topic_title
		float: left
	#author
		margin: 0 0 0 .5em
	#topic_title
		margin: 0 0 0 9em
	div.labels
		padding: 0 1em 0 0
	.capacity_bar
		background: #f0f4f7
		display: block
		margin: .2em 0 0 1em
		height: 1em
		border: 1px solid #adadad
		width: 10em
		span
			border-right: 1px solid #adadad
			display: block
			height: 1em
		span.empty
			background: #a6d69d
		span.filled
			background: #eea800
		span.full
			background: #f10909
	.reportlinks
		padding: .5em 1.3em

#personal_drafts ul.quickbuttons
	padding-right: 0

#searchLabelsExpand li
	padding: .3em .5em

#manrules div.righttext
	padding: .3em .1em

#addrule fieldset
	clear: both
	margin-top: 10px

/* Styles for entering thoughts.
------------------------------------------------- */

.thought_box, #thought_update, #thought_form input[type="text"]
	font-size: 9.5pt
	padding: 3px
	cursor: pointer
	border: 1px solid transparent
	width: 208px
	margin: 8px 0
	:hover
		border: 1px solid #adadff
		background: #fff
		color: #000

#thought_form
	display: inline-block
	input
		margin: 0 1px 4px 2px
		padding: 2px 4px
		background-position: 0 100px, 0 0, 0 0

span.thoughtreply
	img.tq
		visibility: hidden
		cursor: pointer
	:hover img.tq
		visibility: visible

.thought ul
	margin, padding: 0 0 0 8px
	padding: 0 0 0 8px

.thought li
	margin, padding: 0

span.thought
	font: italic 12px Georgia, "Trebuchet MS", Arial, sans-serif

.thought_icon extends .inline-block
	text-decoration: none
	vertical-align: -3px
	background: url($images/icons/thought.png) no-repeat
	width: width($images_dir/icons/thought.png)px
	height: height($images_dir/icons/thought.png)px

td.thought
	.thought_actions
		display: inline
		position: absolute
		margin: -3px 0 0 3px
		opacity: 0
		visibility: hidden
		transition: opacity .5s ease
	:hover .thought_actions
		opacity: 1
		visibility: visible
