
/* Editor
------------------------------------------------------- */
// This is the WYSIWYG editor
.rich_editor
	background-color: #fff
	color: #000
	font-family: verdana
	font-size: x-small
	border: none
	p
		margin: 0
	a img
		border: 0

.richedit_resize
	padding: 0 !important


/* Misc hacks
------------- */

input[type=button], input[type=submit]
	padding: 3px 4px

// Old IEs reset background-position to 0 if you provide them with multiples values :-/
input.submit
	padding-left: 23px
	background-position: 4px center

#thought_form input[type=submit]
	background-position: -99px -99px

.thought_actions
	display: none

table.thought_list td:hover .thought_actions
	display: inline-block

.postheader
	display: block

.keyinfo
	float: left
	display: block
	width: 47%

.menu h4 strong
	filter: none
	background: #c74c55

// Because IE8 doesn't support :only-child...
.wrc, .wrc_top, .wrc_bottom
	p:first-child:last-child
		margin-top: .5em
