
input, select, textarea
	visibility: visible

#upper_section
	.user
		height: 4em
	.news
		height: 80px

#main_screen
	padding: 16px 40px 0
	h2
		font-size: 1.5em
		border-bottom: 1px solid #d05800
		line-height: 1.5em
		margin: 0 0 0.5em 0
		color: #d05800

#main-steps
	float: right
	width: 50%
	margin-top: 30px
	h2
		font-size: 1.1em
		border-bottom: 1px solid #d05800
		line-height: 1.1em
		margin: 0 0 0.5em 0
		color: #d05800
		margin-right: 40px
	ul
		list-style: none
		padding-left: 0
		margin: 0
		li
			padding: 1px 0
			font-size: 0.9em
		li.stepdone
			color: #aaa
		li.stepcurrent
			color: #000
			font-weight: bold
		li.stepwaiting
			color: #666

.panel
	font-weight: normal

a:link, a:hover, a:visited
	text-decoration: underline

.progress
	position: relative
	margin: -16px 3px 0 3px

.overall_progress
	position: relative
	margin: -24px 3px 0 8px

#version_warning
	margin: 2ex
	padding: 2ex
	border: 2px dashed #a92174
	color: black
	background-color: #fbbbe2
	display: none
