
.view_options
	float: left

.vam
	vertical-align: middle

.mgra
	text-align: right

div.subheader
	margin-top: 20px
	border: 1px solid black
	h4
		padding: 6px
	p
		margin: 0
		padding: 6px

.ae_header
	border-bottom: 1px dotted #d2d8c8

.aep
	margin: 6px auto

.aea, .aep, .aevisio
	box-shadow: 2px 2px 6px 0 rgba(128, 128, 128, .75)
	border-radius: 5px

.aep a, .aea a
	text-decoration: none !important
	display: block
	width, height: 100%

table.aextbox
	padding: 4px 0
	text-align: center
	table-layout: fixed

	.pics > div
		margin: 0

img.aext
	box-sizing: border-box
	padding: 4px
	border: 1px solid #aaa
	background: #f3f8f3
	box-shadow: 3px 3px 4px #ccc
	max-width: 100%
	margin: 0

.aeva_statsbar
	border: 1px solid black
	background: #fc9 url($images/aeva/progress.png) 0 -1px no-repeat
	height: 10px

.aeva_statsbar2 extends .aeva_statsbar
	background-image: url($images/aeva/progress2.png)

#viewitem
	h3
		margin-top, margin-bottom: 0
	h4
		padding: 0 6px 2px

.info_list
	margin, padding: 0
	li
		display: inline
		float: left
		width: 100%
		padding: 0 6px 3px 6px

.sort_options
	text-align: right

.notice
	padding: 10px
	text-align: center

#albums .buttonlist
	li
		margin: 0 1px 0 0
	img
		vertical-align: middle

.item_heading, .item_headings
	padding: 6px
	vertical-align: middle
	text-align: center
	margin-top: 8px
	border: 1px solid #888

.item_headings
	margin-bottom: 8px

.cat_heading
	margin-top: 8px

.cat_heading a, .cat_headings a, .item_heading a, .item_headings a
	text-decoration: underline !important

#aeva_toplinks
	margin: 8px 0 0 0
	background: rgba(0,0,0,.03)
	.title
		font-size: 1.2em
		text-align: center
		img
			vertical-align: middle

#home
	.recent_comments
		float: left
		width: 50%
		.item_heading
			border-right: 0
	.recent_albums
		float: right
		width: 49%
		.item_heading
			border-left: 0

// Thumbnail hover boxes may sometimes be cut off...
#recent_pics, #random_pics
	overflow: visible
	padding: 0

#recent_pics header
	margin: 2px 1px 0

#album_pics
	overflow: visible

#viewitem
	.comment_sort_options
		float: right
		font-size: .9em

#itembox
	display: table
	table-layout: fixed
	width, height: 100% // Setting height ensures #media-item behaves like a table-cell.
	section
		margin: 12px 0

#media-item
	@if can_flex
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-around
	@else
		display: table-cell
	@endif
	vertical-align: middle
	text-align: center
	overflow: visible
	.actionbar
		margin: 0 20px
		line-height: 1.5em
		text-align: right

#item-area
	box-sizing: border-box
	padding: 16px 0

#media-details
	display: @is (ie[-7], block, table-cell)
	vertical-align: middle
	overflow: visible
	@if ie[-7]
		width: 100%
	@endif
	dt
		font-weight: 700
		line-height: @is (ie[-7], 1.2em, .9em)
		width: auto
		margin: 5px 0
	dd
		float: left
		clear: both
		width: auto
		margin-left: 8px
	#viewitem &
		width: 220px
		.block
			gradient: rgba(0,0,0, .05)
	#sidebar &
		width: auto
		.block
			gradient: rgba(255,255,255, .3)

@media all and (max-width: 800px)
	#media-item
		display: block
	#viewitem #media-details
		display: block
		width: auto
		section
			width: 40%
			float: left
			margin-left: 2%

.selected a
	color: inherit !important

.album_moderation
	white-space: nowrap
	img
		vertical-align: -2px
	a
		margin: 0 2px

.mg_desc, .mg_hidden
	color: #777
	font-size: 0.85em
	line-height: 1.25em
	padding-top: 4px

.mg_hidden
	color: red

.unapproved_notice, .unapproved_yet
	background: #feee00
	text-align: center
	padding: 10px

.unapproved_yet
	margin: 6px
	border: 2px dashed #cc3344
	background: #ffdce0
	font-weight: 700

.unapp
	background: #ffd0d0

.mg_prev
	float: left
	text-align: left
	padding: 4px 4px 10px 4px

.mg_next
	float: right
	text-align: right
	padding: 4px 4px 10px 4px

.mg_prevnext
	margin: 4px 0
	td
		text-align: center

.mg_prevnext_pad
	td
		padding: 8px !important
	div
		margin: auto

.mg_item_type
	color: #a5a5a5

.mg_item_desc
	margin: auto

.mg_large
	font-weight: 700
	padding-bottom: 4px

.mg_pb4
	padding-bottom: 4px

.currentbutton
	font-weight: 700

.mgc_main, .mgc_last_edit, .mgc_icons
	font-size: 8pt
	padding: 1px

.mgc_post
	clear: both
	font-size: 9pt
	padding: 8px
	margin: 0

.mgc_main
	border-bottom: 1px dotted #999
	margin: 5px 5px 1px 5px
	float: left

.mgc_last_edit
	border-top: 1px dotted #999
	margin: 1px 5px 5px 5px
	font-style: italic

.mgc_icons
	text-align: right
	margin: 5px 5px 1px 5px
	float: right
	a
		text-decoration: none
		line-height: 18px
	img
		vertical-align: middle

#mg_coms
	margin-top: 8px

.comment_preview
	color: #666
	border: 1px dashed #666
	margin: 8px 16px 0 16px
	padding: 8px
	font-size: 1em
	line-height: 1.4em

#itembox .maeva, .aextbox .maeva
	text-align: center
	margin: auto

.foxy_playlist
	text-align: left
	width: 100%
	height: auto !important
	overflow-x: hidden !important
	overflow-y: auto !important

.foxy_album
	clear: both
	border: 1px solid #888

.foxy_stats
	font-style: italic
	padding: 0 0 8px 0

.playinglo, .playinghi, .playlistlo, .playlisthi
	color: #333
	cursor: pointer

.playinghi, .playlisthi
	background: rgba(255,255,255, .4)

.foxy_small
	font-size: 0.85em
	padding: 2px 0 0 0

table.foxy_side
	margin: 0 0 8px 12px
	tr td
		padding: 4px
		text-align: left !important

.aeva_playlist_list
	padding: 8px 8px 0 8px
	float: left
	width: 47%

.aevera
	vertical-align: middle

.title_feed
	font-size: .9em !important
	img
		vertical-align: text-top !important
	a
		text-decoration: none

.unbrowsable
	color: red

.aeva_ich, .aeva_ich2
	display: inline
	float: left
	width: 48%
	padding: 3px

.aeva_ich2
	width: 24%

ul.aevadesc
	margin: 0 0 1em 1em
	padding: 1em
	li
		line-height: 1.2em
		list-style-type: disc !important
		padding: 0.2em

.aeva_quickmod
	display: inline

.aeva_quickmod_bar
	font: 0.85em Verdana, sans-serif
	float: right
	line-height: 27px
	margin-top: -5px
	input[type=checkbox]
		vertical-align: middle

.aeva_inside_caption
	padding: 4px
	text-align: left
	color: #888

#aeva_welcome
	padding: 6px 4px 4px

.readme
	padding: 8px 16px
	pre
		font-size: 9pt
	span.bbc_size
		line-height: 1em !important
	table
		width: 100%

.earlier_versions
	font-weight: 700
	margin, padding: 8px
	border: 2px dotted #c63
	border-width: 2px 0

#file_warning
	padding: 8px 4px 0 4px
	color: red

table.aelista
	margin: -8px
	tr td
		padding: 10px
		line-height: 1.4em
	tr:first-child td:first-child
		border-top-left-radius: 12px
	tr:first-child td:last-child
		border-top-right-radius: 12px
	tr:last-child td:first-child
		border-bottom-left-radius: 12px
	tr:last-child td:last-child
		border-bottom-right-radius: 12px

#admin_content
	overflow: hidden

.aeva_rounded
	border-radius: 5px

.tlf
	table-layout: fixed

.ae_details
	position: relative
	padding: 4px 0 0 0
	@if ie[-7]
		left: 0
	@endif

.aevisio
	position: absolute
	background-color: #fff
	border: 1px solid #ccc
	visibility: hidden
	padding: 4px
	z-index: 10
	margin, opacity: 0
	transition: opacity .5s
	border-radius: 8px
	.indpic:hover &
		visibility: visible
		opacity: 1
		transition: opacity .5s

.aelink
	float: right

.pics
	margin: auto

.indpic mixes .inline-block
	text-align: center
	margin: 5px 10px 0
	@if opera
		/* Opera tends to add an horizontal scrollbar on the body in album pages.
			This also forces me to add a hack to zoomedia.js... Grmpf. */
		position: relative
	@endif

@if ie[-7]
	#sidebar section.block
		width: 180px
@endif
