
/*
	This is where all styling related to a specific page or area is put.
/*

/* Styles for the board index.
------------------------------------------------- */

// The board title!
#board_list, .board_list
	box-sizing: border-box
	margin-bottom: 10px
	td.info a.subject
		font: 400 120%/120% $subject_font
		color: $board_col
	td.children
		color: #555
		font-size: 85%
	td.stats
		font-size: 90%
		width: 15%
		text-align: center
	td.lastpost
		line-height: 1.3em
		font-size: 85%
		width: 24%
	td.icon
		text-align: center
		width: 6%

ul.stats
	padding-left: 24px

p.moderators
	font-size: 80%

// The posting icons
#posting_icons
	margin: 0
	padding: 0 1em 1.5em
	line-height: 1em
	font-size: .9em
	img
		vertical-align: -5px
		padding: 0 2px 0 10px

.mark_read extends .clearfix
	padding: 0 .5em

// The newsfader
@if $settings['show_newsfader']
	#fadeScroller
		text-align: center
		padding: 0 2em
		overflow: auto
		margin: 1em 0
		display: none
		color: #575757 // Shouldn't be shorthand style, due to a JS bug in IE!
@endif

/* Styles for the info center on the board index.
---------------------------------------------------- */

section.ic
	p
		margin: 0 0 .5em
		padding: .5em
	.last
		margin: 0
		border-top: 1px dotted #bbb
	.inline
		border: none
		margin: 0
	.pminfo
		margin: 0
	.stats
		margin-top: 8px
		padding-top: 0
	.title
		margin-bottom: .7em

.ic + .ic .title final
	margin-top: 0

.onlineinfo
	.contact mixes .inline-block
		width, height: 16px
		background-image: raw-url($images/icons/online.gif) // this doesn't get much use
	.notonline mixes .inline-block
		width, height: 16px
		background-image: raw-url($images/hidden.png) // nor this

// The small stats
#index_common_stats
	display: block
	margin: 0 0 .5em
	text-align: right
	font-size: .9em
	position: relative
	top: -20px
	line-height: 1px

img.new_posts
	padding: 0 .1em

/* Styles for the topic index.
---------------------------------------------------- */

#messageindex
	> table
		table-layout: fixed
	> table > tbody > tr > td
		width: 100%

// The page navigation area
#childboards .table_list
	margin-bottom: 1em
	thead
		display: none

.legend
	line-height: 1.8
	span
		vertical-align: -3px
		margin: 0

.lastpost img
	float: right
	padding: 4px 0 0 4px

/* Styles for the Display template (topic view).
---------------------------------------------------- */

// Topic title and Quick access
.posthead
	width: 100%
	box-sizing: border-box
	padding: 8px
	border-radius: 12px
	background: rgba(0,0,0, .015)
	@if ie[-7]
		div mixes .inline-block
	@else
		display: table
		> div
			display: table-cell
			vertical-align: middle
	@endif

#top_subject
	padding: 4px 8px
	font: 100 1.6em/1.2em $head_font
	text-align: center
	color: gray
	letter-spacing: -1px

// Previous/next topic links inside .posthead
.prevnext_prev
	font: 400 1em/1.3em $main_font
	text-align: left
	width: 20%
	a
		color: $reddish

.prevnext_next extends .prevnext_prev
	text-align: right

#modbuttons extends .clearfix
	li
		margin: 4px 2px 0

// A generic bar, for use in polls and stats.
.bar
	float: left
	gradient: luma(#6294ce, +20%), hue(luma(#6294ce, -20%), -10)
	border-radius: 4px
	margin: 0 4px
	height: 16px

.poll
	overflow: hidden

	h4
		padding: 0 0 .5em 2em

	// Poll vote options
	ul
		border-top: 1px solid #9999aa
		padding: 1em 2.5em 0 2em
		margin: 0 0 1em

	.sendpoll
		clear: both
		padding: 0 0 1em 2em
		margin: 0

	// Poll results
	dl
		border: solid #9999aa
		border-width: 1px 0 0 0
		padding: 1em 2.5em 0 2em
		margin: 0 1em 1em 0
		line-height: 1.1em !important
		dt
			padding: .3em 0
			width: 30%
			float, clear: left
			margin: 0
		dd
			margin: 0 0 0 2em
			padding: .1em 0 0
			width: 60%
			max-width: 450px
			float: left
		.voted
			font-weight: 700
		.percentage
			display: block
			float: right
			padding: .2em 0 .3em

	// Poll notices
	p
		margin: 0 1.5em .2em
		padding: 0 .5em .5em

	.bar
		max-width: 100%
		margin-top: 3px

.poll_moderation extends .clearfix
	margin: .5em 0 0
	padding: 0 .2em .2em 0

#whoisviewing
	margin: 0
	padding: .5em

/* Post styling (Msg template)
---------------------------------------------------- */

.msg
	@if !$can_flex
		display: table
		// Without this, wide code blocks will break layout.
		table-layout: fixed
		// height: 100% does nothing per se (thankfully), but it allows Chrome
		// (and only it for now..?) to properly set a height on table cells.
		width, height: 100%
		& .merged, &.merged
			display: block
			height: auto
	@endif

	// Alternating backgrounds for posts
	background: $post_bg
	:nth-of-type(even)
		background: $post_bg2

// A post separator, useful when printing.
hr.sep
	visibility: hidden
	@if ie[-7]
		display: block
		margin: -6px 0
	@else
		margin: 1px 0
		:last-child
			margin, height: 0
	@endif

// Like #forumposts, but for blogs only.
.blog
	.first-post
		background: transparent
		.inner
			font: $blog_font_size $blog_font

// Poster and postarea + moderation area underneath
.post_wrapper
	width: 100%
	@if $can_flex
		display: flex
	@else
		display: table-row
		overflow: auto
	@endif

// Post title, date and action list
.postheader extends .clearfix
	display: table
	table-layout: fixed
	width: 100%
	padding: 10px 0 5px
	border-bottom: 1px solid #ccc
	h5 + div
		font-size: .9em
	ins
		padding-left: 8px
		text-decoration: none
		font-style: italic
		color: #a0aaa0

.inline_mod_check
	float: right
	margin: 0 -3px 0 10px

// Poster details and list of items
.poster
	@if $can_flex
		flex: 0 0 14em
	@else
		display: table-cell
		width: 14em
	@endif
	@if !ie[-8]
		background: rgba(0,0,0, .025)
	@endif
	padding: 6px 12px 16px 0
	vertical-align: top

	> div
		width: 100%

	h4
		padding: 3px 0 3px 16px // 19px originally.
		font: 400 120%/120% $subject_font

	ul.info extends ul.reset
		margin: 0 12px 0 20px
		line-height: 1.2em
		font-size: 90%

		// Custom fields
		ul
			margin: .3em 1em 0 0
			padding: 0
			li
				display: inline

		li.stars, li.avatar, li.blurb, li.postcount, li.im_icons ul
			margin-top: .5em

		li.blurb, li.avatar
			color: #888
			overflow: hidden

		li.warning
			line-height: 1.2em
			padding-top: 1em
			a img
				vertical-align: bottom
				padding: 0 .2em

/* These squares will show up next to the author name in a post. They quickly tell you
   whether a user is online, has a website, is male/female or is a contact of yours. */
.pixelicons mixes .inline-block
	width: 15px
	overflow: hidden
	@if ie[-7]
		margin: 4px 2px 0 0
	@else
		margin: 2px -4px 0 0
	@endif
	i mixes .inline-block
		float: left
		margin: 0 1px 1px 0
		width, height: 5px
		background: gray
		@if ie6
			overflow: hidden
		@endif
		:only-child
			width, height: 11px
	.online
		background: #69d249
	.website
		background: #c96
	.contact
		background: #e56717
	.male
		background: #7ad
	.female
		background: #e799a3

.postarea
	padding: 0 15px
	@if $can_flex
		display: flex
		flex-direction: column
		flex: 1 0 1em
	@else
		display: table-cell
		position: relative // Needed for quick-edit in IE 6-8.
	@endif
	/* Soft-merged posts shouldn't have a background. */
	.msg
		background: none

	article
		position: relative
		@if $can_flex
			display: flex
			flex-direction: column
			flex: 1 0 auto
			@if firefox
			.actionbar
				flex: 0 0 1.5em
			@endif
		.merged
			flex: none
		@endif

@if member
	.quicked
		position: absolute
		left, right: 3px
		top: 0

		textarea
			overflow-y: hidden
			margin-bottom: 10px
			font-size: 100%
			@if ie[-8]
				max-width, min-width: 100%
				width: 635px
			@else
				width: 100%
			@endif

		.right
			margin-bottom: 10px
@endif

/* Posts and personal messages displayed throughout the forum. */
.post, .personalmessage
	font: $post_font_size $post_font
	padding: .1em 0
	clear: right

.post
	margin, padding: 0
	@if $can_flex
		.msg &
			flex: 1 0 auto
		.merged &
			flex: none
	@endif

.merged
	border-top: 1px solid #ccc
	:first-child
		border-top: 0

// Setting a margin here helps take advantage of margin collapsing. (e.g. when a post starts with a quote.)
.inner
	margin: 1.2em .7em

// All the signatures used in the forum. You might want to add max-height here ;)
.signature, .attachments
	overflow: auto
	padding: 8px 0
	border-top: 1px solid #ccc
	line-height: 1.4em
	font-size: .9em
	color: #888

.custom_fields
	clear: right
	padding: 1em 0 3px
	border-top: 1px solid #ccc
	line-height: 1.4em
	font-size: .85em

.messageicon
	float: left
	margin: 0 .5em 0 0
	padding: 3px 3px 1px
	img
		padding: 6px 3px

// The action buttons
.actions
	padding: 0 3% 0 0
	margin: 0
	vertical-align: bottom
	li mixes .inline-block
		padding: 0
		margin: 0 0 0 5px
	img
		vertical-align: middle
	a
		word-wrap: normal
		display: block
		padding-left: 25px
		:hover
			color: #a70

/**
 * This is where you can change the reply/edit/delete etc. icons for your posts.
 * You can either modify the actions.png sprite file (in which case you just
 * need to set background-position to the correction position as seen below),
 * or simply use another file like this: background: url($here/file) no-repeat 0 0
 */

// Sprited action buttons
.vbtn virtual
	background: url($images/theme/actions.png) 0 0 no-repeat
	padding: 0 4px 0 22px
	height: 20px

.quote_button extends .vbtn
	background-position: 3px 0

@if member
	.remove_button extends .vbtn
		background-position: 0 -30px
	.edit_button extends .vbtn
		background-position: 0 -60px
	.split_button extends .vbtn
		background-position: 4px -90px
	.mergepost_button extends .vbtn
		background-position: 4px -150px
@endif

.reply_button extends .vbtn
	background-position: 0 -120px

.context_button extends .vbtn
	background-position: 3px -180px
.like_button extends .vbtn
	background-position: 2px -210px
.unlike_button extends .vbtn
	background-position: 2px -240px

.profile_button extends .vbtn
	background-image: raw-url($images/icons/profile_sm.gif)
.email_button extends .vbtn
	background-image: raw-url($images/email_sm.gif)
.ip_button extends .vbtn
	background-image: raw-url($images/ip.gif)
.www_button extends .vbtn
	background-image: raw-url($images/www_sm.gif)

// !!! While waiting for a better icon... Here's a temp.
.post_button extends .vbtn
	background-image: raw-url($images/new_some.png)

.report_button extends .vbtn
	background-image: raw-url($images/report.png)
	background-position: 2px 0

@if member
	.approve_button extends .vbtn
		background-image: raw-url($images/buttons/approve.gif)
		background-position: 3px 0

	.restore_button extends .vbtn
		background-image: raw-url($images/buttons/restore.gif)
		background-position: 2px 3px

	.warn_button extends .vbtn
		background-image: raw-url($images/warn.gif)
		background-position: 2px 0
@endif

// These user menu options definitely aren't available to guests.
@if member
	.contact_button extends .vbtn
		background-image: raw-url($images/icons/online.gif)
		background-position: 0 0
		padding-left: 26px
	.pm_button extends .vbtn
		background-image: raw-url($images/im_on.gif)
		background-position: 0 0
@endif

/**
 * End of list.
 */

// Likes and Action menu...
.actionbar extends .clearfix
	padding: 6px 0 4px
	border-top: 1px solid #ccc
	.actions
		float: right
	a
		color: luma(#47a, -80%)
		opacity: .6
		transition: opacity .3s ease
		:hover
			opacity: 1
			transition: opacity .3s ease
	.report
		margin-right: 1.5em
		img
			vertical-align: -3px

.attachments
	padding: 1em 1em 2em
	p
		margin: 0 0 1em

ul.buttonlist extends "ul.reset, .clearfix"
	margin: 5px -8px 5px 0
	padding: 0 1% 0 0
	li
		margin, padding: 0
		float: left
		border-right: 1px solid #ddd
		&.last
			border-right: 0
	a
		padding: 0 8px
		color: #679
		line-height: 15px
		&.active
			font-weight: 700
		:hover
			color: #a54

/* Styles for the quick reply area.
---------------------------------------------------- */

// Horizontal alignments go a bit wonky in IE6 and IE7, but is it really worth worrying about?
#postmodify
	margin: 0
	.roundframe
		padding-left: 5%
		padding-right: 5%

.qr_content
	padding: 0 10px

#qr_options
	padding: 5px 9px 0
	form textarea
		height: 100px
		margin: .25em 0 0
		font-size: .9em
	.roundframe extends #postmodify .roundframe

/* Styles for edit poll section.
---------------------------------------------------- */

#edit_poll
	overflow: hidden
	fieldset
		padding: .5em
		clear: both
		overflow: hidden
		> input
			margin: .8em 0 .3em 3em

ul.poll_main, dl.poll_options
	overflow: hidden
	padding: 0 0 .7em .7em
	margin: 12px 0 4px
	list-style: none

ul.poll_main
	li
		padding-left: 1em
		margin: .2em 0
	input
		margin: .2em 0 .2em 1em

dl.poll_options
	dt
		width: 35%
		padding: 0 0 0 1em
	dd
		width: 60%
		input
			margin-left: 0

/* Styles for the move topic section.
---------------------------------------------------- */

.move_topic
	width: 710px
	margin: auto
	text-align: left

div.move_topic fieldset
	padding: .5em

/* Styles for the send topic section.
---------------------------------------------------- */

fieldset.send_topic
	border: none
	padding: .5em

dl.send_topic
	margin-bottom: 0

dl.send_mail
	dt
		width: 35%
	dd
		width: 63%

/* Styles for the report topic section.
---------------------------------------------------- */

#report dl
	margin-bottom: 0
	&.settings dt
		width: 20%
	&.settings dd
		width: 79%

/* Styles for the split topic section.
---------------------------------------------------- */

#selected, #not_selected
	width: 49%

ul.split_messages
	li a.split_icon
		padding: 0 .5em
	div.post
		padding: 1em 0 0
		border-top: 1px solid #fff

/* Styles for the merge topic section.
---------------------------------------------------- */

ul.merge_topics li
	list-style-type: none

dl.merge_topic
	dt
		width: 25%
	dd
		width: 72%

fieldset.merge_options
	clear: both

.custom_subject
	margin: .5em 0

/* Styles for the login areas.
------------------------------------------------------- */

.login
	margin: auto
	dl
		overflow: auto
		clear: right
	dt, dd
		margin: 0 0 .4em
		width: 44%
		padding: .1em
	dt
		float: left
		clear: both
		text-align: right
		font-weight: 700
	dd
		width: 54%
		float: right
		text-align: left
	p
		text-align: center

#login #main
	vertical-align: middle

/* Styles for the registration section.
------------------------------------------------------- */

.register_error
	border: 1px dashed red
	padding: 5px
	margin: 0 1ex 1ex 1ex
	span
		text-decoration: underline

// Additional profile fields
dl.register_form
	margin: 0
	clear: right
	dt
		font-weight: 400
		float: left
		clear: both
		width: 50%
		margin: .5em 0 0
	dd
		float: left
		width: 49%
		margin: .5em 0 0

#confirm_buttons
	text-align: center
	padding: 1em 0

.coppa_contact
	padding: 4px
	width: 32ex
	background-color: #fff
	color: #000
	margin-left: 5ex
	border: 1px solid #000

.valid_input
	background-color: #f5fff0

.invalid_input
	background-color: #fff0f0

.vv_special
	display: none

/* Styles for maintenance mode.
------------------------------------------------------- */

#maintenance_mode
	width: 75%
	min-width: 520px
	text-align: left
	img.floatleft
		margin-right: 1em

tr.titlebg td
	padding-left: .7em

#admin_login .center
	padding: 1em
	.error
		padding: 0 0 1em 0

/* Styles for sidebar menus.
------------------------------------------------------- */

.left_menu
	margin: .1em 2em .5em
	padding: 0
	li
		padding: 0
	li.sep
		display: none // alternatively, line-height: 3px

/* Styles for the board index's topic table.
------------------------------------------------------- */

.topic_table
	.stats
		text-align: center
	.icon
		text-align: center
		padding: 0 8px
	.subject
		padding: 5px 8px
	table
		width: 100%
		thead
			border-bottom: 1px solid #fff
		td
			font-size: 1em

	.stats,
	.subject p,
	.lastpost p
		font-size: .85em
		padding: 0 6px
		margin: 0

// Topic status icons
.icon_pinned mixes .inline-block
	padding: 8px
	margin: 0 -4px 0 4px
	background: url($images/icons/quick_pin.gif) center no-repeat
.icon_locked mixes .inline-block
	padding: 8px
	margin: 0 -4px 0 4px
	background: url($images/icons/quick_lock.gif) center no-repeat
.icon_poll mixes .inline-block
	padding: 8px
	margin: 0 -4px 0 4px
	background: url($images/icons/quick_poll.gif) center no-repeat
.icon_my mixes .inline-block
	padding: 8px
	margin: 0 -4px 0 4px
	background: url($images/icons/quick_my.gif) center no-repeat

tr.windowbg td
	padding: .3em .7em

/* Styles for (fatal) errors.
------------------------------------------------- */

#fatal_error
	width: 80%
	margin: auto
	padding: 25px 0 10px

.errorbox
	padding: 1em
	margin-bottom: 10px
	border: 1px solid #c34
	color: #000
	background-color: #ffe4e9
	h3
		font-size: 1.1em
	ul
		margin-bottom: 0
		margin-top: .5em
		padding-left: 20px
	ul:first-child
		margin-top: 0
	p
		margin: 1em 0 0
	.alert
		margin, padding: 0
		width: 1em
		font-size: 1.5em
	// Styling for mismatched tags
	.bread
		padding: 4px 8px
		font-family: monospace
		color: #000
		strong
			color: red

/* Styles for the profile section.
------------------------------------------------- */

#profile_home
	display: flex
	width: 100%

// The basic user info on the left
#basicinfo
	flex: 0 1 20%
	margin: 10px 10px 0 0
	min-width: 180px
	width: 20%
	float: left
	h4
		font: 400 120%/105% $subject_font
		white-space: pre-wrap
		overflow: hidden
		span.position
			font-size: 80%
			font-weight: 100
			display: block
	img.avatar
		display: block
		margin: 10px 0 0
	ul
		list-style-type: none
		margin: 10px 0 0
		li
			display: block
			float: left
			margin-right: 5px
			height: 20px

#userstatus
	display: block
	clear: both
	img
		vertical-align: middle

#profile_box
	dl
		clear: right
		overflow: auto
		margin: 0 0 18px
		padding: 0 0 15px
		border-bottom: 1px #ccc solid
	dt
		width: 35%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: 700
		clear: both
	dd
		width: 65%
		float: left
		margin: 0 0 3px
		padding: 0

#tracking extends #profile_box
	dl
		margin, padding, border-bottom: 0

#detailedinfo extends #profile_box
	flex: 1 1 79.5%
	margin: 10px 0 0 0
	width: 75%
	float: right
	dl.noborder
		border-bottom: 0
	dt.clear
		width: 100%
	a
		border-bottom: 1px dotted #999

// Signature header
.signature h5
	color: #444
	font-size: 1.2em
	margin-bottom: 10px

#personal_picture
	display: block
	margin-bottom: .3em

#avatar_server_stored div
	float: left
	padding: 0 3px

#contacts
	margin-top: 20px
	.save
		margin-top: 8px

// If the screen is too small, show the avatar on top
@media all and (max-width: 900px)
	.prevnext_prev
		display: none
	#profile_home
		display: block
	#basicinfo, #detailedinfo
		width: 100%
	#basicinfo
		.username
			float: left
		img.avatar
			float: right
			vertical-align: top
	#position
		float: right
	#basicinfo ul, #userstatus
		clear: left
	#infolinks
		display: none
		clear: both

// Simple feedback messages
#profile_error, #profile_success
	margin: 0 0 1em
	padding: 1em 2em
	border: 1px solid

#profile_error
	border-color: red
	color: red
	background: #fee
	span
		text-decoration: underline

#profile_success
	border-color: green
	color: green
	background: #efe

// Profile > Show Permissions.
#permissions table.table_grid td
	padding: .4em .8em
	cursor: default

// Profile statistics
#generalstats
	dt
		width: 50%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: 700
		clear: both
	dd
		width: 50%
		float: left
		margin: 0 0 3px
		padding: 0

// Activity by time
#activitytime
	margin: 6px 0

.activity_stats
	margin: 0
	padding: 0
	list-style: none
	li
		margin: 0
		padding: 0
		width: 4.16%
		float: left
		span
			display: block
			border: solid #000
			border-width: 1px 1px 0 0
			text-align: center
		&.last span
			border-right: none
		.bar
			float: none
			width: 15px
			margin: auto
			border-radius: 4px 4px 0 0

// Most popular boards by posts and activity
#popularposts
	width: 49.5%
	float: left
	dt
		width: 65%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: 700
		clear: both
	dd
		width: 35%
		float: left
		margin: 0 0 3px
		padding: 0

#popularactivity extends #popularposts
	float: right

.profile_pie
	background-image: raw-url($images/stats_pie.png)
	float: left
	width, height: 20px
	margin: 0 1em 0 0
	padding: 0

// View contributions
.counter
	margin: 0
	padding: .2em .5em .1em .2em
	font-size: 2.2em
	font-weight: 700
	color: #3f3f3f
	float: left

// A generic class for showing post bodies
.list_posts
	border-top: 1px solid #b3b3bf
	padding-top, padding-bottom: 12px
	margin-top: 6px
	overflow: auto

.core_posts
	margin-bottom: 3px

.topic
	h4
		margin: 3px 0
	.time
		float: right
	.post
		margin: 0 1em
		min-height: 80px
	.mod_icons
		text-align: right
		margin-right: 1em

#creator
	dl
		margin: 0
	dt
		width: 40%
		float: left
		clear: both
		margin: 0 0 10px
	dd
		float: left
		width: 55%
		margin: 0 0 10px 2px
	hr
		margin-top: 0

.ignoreboards
	margin: 0 2%
	padding: 0
	width: 45%
	a
		font-weight: 700
		border-bottom: 1px solid #c4c4c4
		padding: .1em 0
	a:hover
		text-decoration: none
		border-bottom: 1px solid #346
	ul
		margin: 0
		padding: 0
	li
		list-style: none
		float: left
		clear: both
	li.category
		margin: .7em 0 0
		width: 100%
		ul li.board
			width: 93%
	li ul
		margin: .2em 0 0

#theme_settings
	overflow: auto
	margin: 0
	padding: 0
	> li
		list-style: none
		margin: 10px 0
		padding: 0

// Pick theme
#pick_theme
	width: 100%
	float: left
	fieldset, legend
		border: 1px solid #c4c4c4
	.current_skin > legend
		background: #f0fbf0

// Issue a warning
#warn_body
	width: 80%
	font-size: .9em

.list-thoughts
	margin: 5px 0 15px
	padding: 2px
	border: 1px solid #dcc
	border-radius: 5px
	@if ie6
		ul
			margin, padding: 0 0 0 8px
		& .mimenu ul
			margin: 0
			padding: 4px
	@else
		ul:not(.actions)
			margin, padding: 0 0 0 8px
		td > ul:not(.actions)
			margin-left: 20px
	@endif
	li
		margin: 5px 0
	#thoughts &
		margin: 5px 0

.thoughts
	li:target > div
		padding: 4px 8px
		margin: 4px 0
		border: 1px solid #fff
		background: #f0fff0
	@if member
		// Make life easier for members...
		.mimenu final
			@if ie[-7]
				left: 100%
				top: -1em
			@else
				top: 80%
			@endif
	@endif

#thought_thread
	.date
		color: #999

@if !ie6
	.my.thought
		font: italic 12px $serif_font
@endif

/* Styles for the statistics center.
------------------------------------------------- */

#stats
	#main dl
		min-height: 210px
	#main .top_row dl
		min-height: 150px

dl.stats
	overflow: hidden
	margin, padding: 0
	dt, dd
		margin: 0 0 4px
		padding: 0
		line-height: 16px
	dt
		clear: both
		float: left
		@is (ie[-7], "width: 50%")
	dd
		clear, float, text-align: right
		width: 45%

.post_like
	float: left
	height: 20px
	margin: 0 8px
	.fadein
		opacity: .6
		transition: opacity .3s ease
		:hover
			opacity: 1
			transition: opacity .3s ease

div.top_row dd
	width: auto

#stats_history
	margin-top: 5px
	td
		text-align: center
	tbody th
		border-radius: 0
	th
		width: 15%
	.day
		padding: 0 0 0 3em
		text-align: left
	.year, .month
		width: 25%
		padding: .3em 0 .3em .75em
		text-align: left
	.month
		padding: .3em 0 .3em 1.5em

/* Styles for the memberlist section.
------------------------------------------------- */

#mlist_search
	margin: auto
	width: 520px
	span
		padding: 8px

#mlist table tbody td.windowbg2
	text-align: center

/* Styles for the search section.
------------------------------------------------- */

#searchform, #simple_search p
	padding: .5em
	margin: 0

#simple_search, #simple_search p, #advanced_search
	text-align: center !important
	margin: 0

#simple_search
	font-size: 115%

#searchform
	fieldset
		text-align: left
		padding: 0
		border: none
	p.clear
		clear: both

#search_options
	margin: auto
	width: 600px
	padding-top: 1em
	overflow: hidden

#advanced_search
	dt
		clear: both
		float: left
		padding: .2em
		text-align: right
		width: 20%
	dt.between
		margin-top: 6px
	dd
		width: 75%
		float: left
		padding: .2em
		margin: 0 0 0 .5em
		text-align: left

#search_popup
	padding: .8em
	color: #444
	dt, dd
		max-width: @is ("ie[9-],firefox[4-],chrome[19-],safari[6-]", "calc(100% - 1em)", 100%)
		width: auto
		clear: both
	#advanced_search
		border, padding: 0
		font-size: .9em
		white-space: normal
	.sbox
		display: block
	input[type=number]
		width: 60px

/* Styles for the search results page.
------------------------------------------------- */

.topic_table .bbc_quote
	&, header
		margin: .5em

.search_results_posts
	overflow: hidden
	.buttons
		padding: 5px 1em 0 0

/* Foldable icons.
------------------------------------------------- */

.foldable extends .upshrinks
	width, height: 14px
	.fold&
		background-position: 0 -25px

.shrinkable
	width: 20px
	height: 25px
	color: #666
	font: 700 30px/20px Arial
	text-indent: 5px
	transform-origin: 50% 50%
	transform: rotate(90deg)
	transition: transform .3s ease
	.fold&
		transform: rotate(-90deg)

.catfold extends .foldable

// The upshrink image needs some tweaking
#upshrink extends .shrinkable
	float: right
	margin-left: .5em

#qr_expand, #postMoreExpand, #newsupshrink
	base: .foldable

// Action button, but depends on upshrink image.
.more_button extends .upshrinks
	background-position: 2px 2px
	padding: 0 4px 0 22px
	height: 20px

/* Board status icons.
------------------------------------------------- */

.boardstate_on mixes .inline-block
	background: url($images/boardicon.png) 0 0 no-repeat
	width: 37px
	height: 42px

.boardstate_off extends .boardstate_on
	opacity: .4

.boardstate_redirect extends .boardstate_on
	opacity: .2

/* More icons.
------------------------------------------------- */

.feed_icon mixes .inline-block
	background: url($images/icons/feed.gif) 0 center no-repeat
	padding-left: math(width($images_dir/icons/feed.gif)px + 4)
	min-height: height($images_dir/icons/feed.gif)px
	text-decoration: none
	.catfeed &
		margin-left: -4px

.arrow_left mixes .inline-block
	base: .arrows
	background-position: 0 -28px
	width, height: 9px

// Those [?] icons. This makes your cursor a help icon.
.helpc
	cursor: help

// If you don't like the icon, you can for instance replace the background
// property with an :after pseudo-class with content: "\203b"
.help mixes .inline-block
	base: .helpc
	background: url($images/helptopics.gif) no-repeat
	width, height: 16px
	vertical-align: -3px
	.cat & final
		vertical-align: -1px

/* Any hacks that may need higher precedence.
------------------------------------------------- */

// We worship his shadow.
.hide
	display: none

body.waiting *
	cursor: progress

/* Media queries. Responsive design, e.g.
   mobile-friendly rules, is done here.
------------------------------------------------- */

@if !ie[-7]
	@media $responsive
		body
			padding: 0
			#wedge
				border-radius: 0
			@if opera, ios
				#header, #footer
					border-radius: 0
			@endif
			#edge
				position: relative
				transition: transform .5s ease
			#forumposts
				margin: 0 -$horizontal_content_padding
			#search_form
				.mimenu
					left: auto
					right: 0
					min-width: @ifnull($responsive_search_min_width, 300px)
			#sideshow mixes .inline-block
			#sidebar
				display: none
@endif

@if !ie[-8]
	// IE8's media query shim, if present, doesn't understand min-resolution, so we'll ignore it.
	// Main area should have slightly larger text on high-density devices.
	// The $responsive rule (tries) to ensure it doesn't touch tablets.
	@media $responsive and (min-resolution: 1.5dppx)
		body
			// #sideshow will be a floating icon, from now on.
			#sideshow
				position: fixed
				top, right: 3px
				border: 1px solid #ccc
				gradient: rgba(255,255,255,1), rgba(255,255,255,.66)
				padding: 2px 5px
				z-index: 99

			// Try to fit #top_section into one line.
			#search_form
				max-width: 33%
				input[type=submit] mixes .hide
				input.search
					max-width: 100%
				.mimenu
					min-width: math(@ifnull($responsive_search_min_width, 300px) + 100px)
			.menu > li > span
				margin-top: 8px
			#upshrink
				margin-right: 16px
				@if mobile
					margin-right: 6$vmin
				@endif
			#header h1
				margin-top: 8px
				font-size: 2.2em
			#upper_section
				height: 60px
			#slogan
				margin-top: 28px
				font-size: 80%
			#main_menu mixes .hide
			#sidemenu
				display: block
@endif
