
/*
	This is where all styling related to a specific page or area is put.
/*

/* Styles for the board index.
------------------------------------------------- */

// The board title!
#board_list, .board_list
	box-sizing: border-box
	margin-bottom: 10px
	td.info a.subject
		font: 400 120% $subject_font
		color: $board_col
	td.children
		color: #555
		font-size: 85%
	td.stats
		font-size: 90%
		width: 15%
		text-align: center
	td.lastpost
		line-height: 1.3em
		font-size: 85%
		width: 24%
	td.icon
		text-align: center
		width: 6%

ul.stats
	padding-left: 24px

p.moderators
	font-size: 80%

// The posting icons
#posting_icons
	margin: 0
	padding: 0 1em 1.5em
	line-height: 1em
	font-size: .9em
	img
		vertical-align: -5px
		padding: 0 2px 0 10px

.mark_read
	padding: 0 .5em

// The newsfader
#fadeScroller
	text-align: center
	padding: 0 2em
	overflow: auto
	margin: 1em 0
	display: none
	color: #575757 // Shouldn't be shorthand style due to a JS bug in IE!

/* Styles for the info center on the board index.
---------------------------------------------------- */
section.ic
	p
		margin: 0 0 .5em
		padding: .5em
	.last
		margin: 0
		border-top: 1px dotted #bbb
	.inline
		border: none
		margin: 0
	.pminfo
		margin: 0
	.stats
		margin-top: 8px
		padding-top: 0

// The small stats
#index_common_stats
	display: block
	margin: 0 0 .5em
	text-align: right
	font-size: .9em
	position: relative
	top: -20px
	line-height: 1px

img.new_posts
	padding: 0 .1em

/* Styles for the message (topic) index.
   You can target the page with #messageindex
---------------------------------------------------- */

// The page navigation area
#childboards .table_list
	margin-bottom: 1em
	thead
		display: none

.lastpost img
	float: right
	padding: 4px

/* Styles for the Display template (topic view).
---------------------------------------------------- */
// Topic title and Quick access
.posthead
	width: 100%
	display: table
	box-sizing: border-box
	padding: 8px
	margin: 4px
	border-radius: 12px
	background: rgba(0,0,0, .015)

#top_subject extends .cell
	padding: 4px 8px
	font: 100 1.6em/1.2em $head_font
	color: gray
	letter-spacing: -1px

// Previous/next topic links inside .posthead
.prevnext_prev extends .cell
	font: normal 1em/1.3em Arial
	text-align: left
	width: 20%
	a
		color: $reddish

.prevnext_next extends .prevnext_prev
	text-align: right

#moderationbuttons
	overflow: hidden
	margin-bottom: 6px

#moderationbuttons_strip
	margin: 4px 0 0

// A generic bar, for use in polls and stats.
.bar
	float: left
	gradient: lighten(#6294ce, 20%), hue(darken(#6294ce, 20%), -10)
	border-radius: 4px
	margin: 0 4px
	height: 16px

.poll
	overflow: hidden

	h4
		padding: 0 0 .5em 2em

	// Poll vote options
	ul
		border-top: 1px solid #9999aa
		padding: 1em 2.5em 0 2em
		margin: 0 0 1em

	.sendpoll
		clear: both
		padding: 0 0 1em 2em
		margin: 0

	// Poll results
	dl
		border: solid #9999aa
		border-width: 1px 0 0 0
		padding: 1em 2.5em 0 2em
		margin: 0 1em 1em 0
		line-height: 1.1em !important
		dt
			padding: .3em 0
			width: 30%
			float, clear: left
			margin: 0
		dd
			margin: 0 0 0 2em
			padding: .1em 0 0
			width: 60%
			max-width: 450px
			float: left
		.voted
			font-weight: bold
		.percentage
			display: block
			float: right
			padding: .2em 0 .3em

	// Poll notices
	p
		margin: 0 1.5em .2em
		padding: 0 .5em .5em

	.bar
		max-width: 100%
		margin-top: 3px

.poll_moderation
	margin: .5em 0 0
	padding: 0 .2em .2em 0
	overflow: hidden

#whoisviewing
	margin: 0
	padding: .5em

/* Post styling (still in the Display template)
---------------------------------------------------- */

// Alternating backgrounds for posts
.postbg extends .windowbg
	background: #f2f3ee
	display: table
	// Without this, wide code blocks will break layout.
	table-layout: fixed
	width: 100%

.postbg2 extends ".windowbg2, .postbg"
	background: #f3f7f3
	margin: 3px 0

#forumposts
	// Author and topic information
	#author
		margin: 0 7.7em 0 10px

	// A post separator, useful when printing.
	.post_separator
		display: none

// Like #forumposts, but for blogs only.
.blog
	.first-post
		background: transparent
		.inner
			font: $blog_font_size $blog_font

// Poster and postarea + moderation area underneath
.post_wrapper
	display: table-row
	overflow: auto
	width: 100%

// Post title, date and action list
.postheader extends .flow_hidden
	width: 100%
	display: table
	table-layout: fixed
	padding: 10px 0 5px
	border-bottom: 1px solid #ccc
	h5
		line-height: 1.2em

.keyinfo
	span
		font-size: .85em
	.modified
		font-style: italic
		color: #a0aaa0

.inline_mod_check
	float: right
	margin: 0 -3px 0 10px

// Poster details and list of items
.poster
	width: 14em
	display: table-cell
	background: rgba(0,0,0, .025)
	padding: 10px 12px 12px 0
	vertical-align: top

	h4
		margin: 3px 0 3px 16px // 19px originally.
		font: 400 120%/120% $subject_font

	ul.info extends ul.reset
		padding: 0
		margin: 0 12px 0 20px
		line-height: 1.2em
		font-size: 90%

		// Custom fields
		ul
			margin: .3em 1em 0 0
			padding: 0
			li
				display: inline

		li.stars, li.avatar, li.blurb, li.postcount, li.im_icons ul
			margin-top: .5em

		li.blurb, li.avatar
			color: #888
			overflow: hidden

		li.warning
			line-height: 1.2em
			padding-top: 1em
			a img
				vertical-align: bottom
				padding: 0 .2em

		// Could also do with a grayscale filter... IE accepts "filter: gray", while other
		// browsers will do with "filter: grayscale()". Waiting for wider implementation.
		li.profile img
			opacity: .3
			transition: opacity .3s ease
			:hover
				filter: none
				opacity: 1
				transition: opacity .3s ease

.postarea
	display: table-cell
	padding: 0 15px

// Posts and personal messages displayed throughout the forum.
.post, .personalmessage
	font: $post_font_size $post_font
	padding: .1em 0
	clear: right

.post
	padding: 0
	margin: 1.2em 0

// All the signatures used in the forum. You might want to add max-height here ;)
.signature, .attachments
	overflow: auto
	clear: both
	padding: 1em 0 8px
	border-top: 1px solid #aaa
	line-height: 1.4em
	font-size: .9em
	color: #888

.custom_fields_above_signature
	clear: right
	padding: 1em 0 3px
	border-top: 1px solid #aaa
	line-height: 1.4em
	font-size: .85em

.messageicon
	float: left
	margin: 0 .5em 0 0
	img
		padding: 6px 3px

.iconbox
	text-align: center
	cursor: pointer
	padding: 3px 3px 1px
	&.hover
		padding: 2px 2px 0
		background: #fff
		border: 1px solid #adadad

#iconlist
	text-align: center
	cursor: pointer
	position: absolute
	padding: 3px
	border: 1px solid #adadad
	background: #fff
	.item
		text-align: center
		padding: 3px 3px 1px
		margin-left, margin-right: auto
		border: 1px solid #fff
		&.hover
			border: 1px dotted gray
			background: #e0e0f0

// The action buttons
ul.actions extends ul.reset
	padding: 0 3% 0 0
	clear, text-align: right
	vertical-align: bottom
	li extends .inline-block
		margin: 0 0 0 5px
	a
		word-wrap: normal
		display: block
		height: 20px
		padding: 0 4px 0 22px
		background: url($images/theme/actions.png) no-repeat 0 -500px
		:hover
			color: #a70

	/**
	 * This is where you can change the reply/edit/delete etc. icons for your posts.
	 * You can either modify the actions.png sprite file (in which case you just
	 * need to set background-position to the correction position as seen below),
	 * or simply use another file like this: background: url($here/file) no-repeat 0 0
	 */

	.quote_button
		background-position: 3px 0
	.modify_button
		background-position: 0 -61px
	.more_button extends .upshrinks
		background-position: -18px 2px
	.remove_button
		background-position: 0 -30px
	.approve_button
		background-position: 3px -90px
	.restore_button
		background-position: 0 -120px
	.reply_button
		background-position: 0 -180px
	.reply_all_button
		background-position: 0 -180px
	.notify_button
		background-position: 0 -210px
	.split_button
		background-position: 4px -150px
	.mergepost_button
		background-position: 4px -242px
	.report_button
		background-image: url-no-base64($images/report.png)
		background-position: 2px 0
	.warn_button
		background-image: url-no-base64($images/warn.gif)
		background-position: 2px 0
	.profile_button
		background-image: url-no-base64($images/icons/profile_sm.gif)
		background-position: 0 0
	.email_button
		background-image: url-no-base64($images/email_sm.gif)
		background-position: 0 0
	.ip_button
		background-image: url-no-base64($images/ip.gif)
		background-position: 0 0
	.www_button
		background-image: url-no-base64($images/www_sm.gif)
		background-position: 0 0
	// !!! While waiting for better icons... Here's a temp.
	.post_button
		background-image: url-no-base64($images/new_some.png)
		background-position: 0 0

.inner
	margin: 0 1em 0 0
	padding: 0 .7em

.smiley extends .inline-block
	text-indent: -999em
	font: 0/0 Arial
	overflow: hidden

// Likes and Action menu...
.actionbar extends .clearfix
	padding: 6px 0 4px
	border-top: 1px solid #ccc
	ul.actions
		float: right
		clear: none
		a
			color: darken(#47a, 80%)
			opacity: .6
			transition: opacity .3s ease
			:hover
				opacity: 1
				transition: opacity .3s ease
	.report
		margin-right: 1.5em
		img
			vertical-align: -3px

.attachments
	clear: both
	padding: 1em 0 2em
	hr
		margin: 1em 0
	div
		padding: 0 .5em

ul.buttonlist extends ul.reset
	margin: 5px -8px 5px 0
	padding: 0 1% 0 0
	overflow: hidden
	li
		margin, padding: 0
		float: left
		border-right: 1px solid #ddd
		&.last
			border-right: 0
	a
		padding: 0 8px
		color: #679
		line-height: 15px
		&.active
			font-weight: bold
		:hover
			color: #a54

/* Styles for the mini-menus.
---------------------------------------------------- */

// Wrapper span that will contain the menu...
.mime
	position: relative

// Styling for the parent link when the menu is open.
span.hover > a
	text-decoration: underline

// Styling for the mini-menu container below the parent link...
.mimenu
	z-index: 42
	position: absolute
	padding: 10px 0 0
	font: 400 14px/20px $main_font

	// ...And for the mini-menu itself (phew.)
	ul
		width: auto
		white-space: nowrap
		background: #fbfbf8 // rgba(255,255,255, .5)
		margin: 0
		padding: 4px
		border: 1px solid rgba(0,0,0, .2)
		border-radius: 5px
		box-shadow: 1px 1px 6px rgba(0,0,0, .25)
		overflow: hidden

		li
			background-color: $window_bg
			overflow: hidden
			display: block
			margin: 0
			padding: 1px 2px
			text-align: left
			a
				padding-left: 25px

/* Styles for the quick reply area.
---------------------------------------------------- */

// Horizontal alignments go a bit wonky in IE6 and IE7, but is it really worth worrying about?
#postmodify
	margin: 0
	.roundframe
		padding-left: 5%
		padding-right: 5%

.qr_content
	padding: 0 10px

#qr_options
	padding: 5px 9px 0
	form textarea
		height: 100px
		margin: .25em 0 0
		font-size: .9em
	.roundframe extends #postmodify .roundframe

/* Styles for edit poll section.
---------------------------------------------------- */
#edit_poll
	overflow: hidden
	fieldset
		padding: .5em
		clear: both
		overflow: hidden
		> input
			margin: .8em 0 .3em 3em

ul.poll_main, dl.poll_options
	overflow: hidden
	padding: 0 0 .7em .7em
	margin: 12px 0 4px
	list-style: none

ul.poll_main
	li
		padding-left: 1em
		margin: .2em 0
	input
		margin: .2em 0 .2em 1em

dl.poll_options
	dt
		width: 35%
		padding: 0 0 0 1em
	dd
		width: 60%
		input
			margin-left: 0

/* Styles for the recent messages section.
---------------------------------------------------- */
#readbuttons nav
	padding-top: 1em
	width: 60%

#recent
	clear: both

/* Styles for the move topic section.
---------------------------------------------------- */
.move_topic
	width: 710px
	margin: auto
	text-align: left

div.move_topic fieldset
	padding: .5em

/* Styles for the send topic section.
---------------------------------------------------- */
fieldset.send_topic
	border: none
	padding: .5em

dl.send_topic
	margin-bottom: 0

dl.send_mail
	dt
		width: 35%
	dd
		width: 63%

/* Styles for the report topic section.
---------------------------------------------------- */
#report dl
	margin-bottom: 0
	&.settings dt
		width: 20%
	&.settings dd
		width: 79%

/* Styles for the split topic section.
---------------------------------------------------- */
#selected, #not_selected
	width: 49%

ul.split_messages
	li a.split_icon
		padding: 0 .5em
	div.post
		padding: 1em 0 0
		border-top: 1px solid #fff

/* Styles for the merge topic section.
---------------------------------------------------- */
ul.merge_topics li
	list-style-type: none

dl.merge_topic
	dt
		width: 25%
	dd
		width: 74%

fieldset.merge_options
	clear: both

.custom_subject
	margin: .5em 0

/* Styles for the login areas.
------------------------------------------------------- */
.login
	margin: auto
	dl
		overflow: auto
		clear: right
	dt, dd
		margin: 0 0 .4em
		width: 44%
		padding: .1em
	dt
		float: left
		clear: both
		text-align: right
		font-weight: bold
	dd
		width: 54%
		float: right
		text-align: left
	p
		text-align: center

#login #main
	vertical-align: middle

/* Styles for the registration section.
------------------------------------------------------- */
.register_error
	border: 1px dashed red
	padding: 5px
	margin: 0 1ex 1ex 1ex
	span
		text-decoration: underline

// Additional profile fields
dl.register_form
	margin: 0
	clear: right
	dt
		font-weight: normal
		float: left
		clear: both
		width: 50%
		margin: .5em 0 0
	dd
		float: left
		width: 49%
		margin: .5em 0 0

#confirm_buttons
	text-align: center
	padding: 1em 0

.coppa_contact
	padding: 4px
	width: 32ex
	background-color: #fff
	color: #000
	margin-left: 5ex
	border: 1px solid #000

.valid_input
	background-color: #f5fff0

.invalid_input
	background-color: #fff0f0

.vv_special
	display: none

/* Styles for maintenance mode.
------------------------------------------------------- */
#maintenance_mode
	width: 75%
	min-width: 520px
	text-align: left
	img.floatleft
		margin-right: 1em

tr.titlebg td
	padding-left: .7em

#admin_login .center
	padding: 1em
	.error
		padding: 0 0 1em 0

/* Styles for sidebar menus.
------------------------------------------------------- */
.left_menu
	margin: .1em 2em .5em
	padding: 0
	li
		padding: 0
	li.separator
		display: none // alternatively, line-height: 3px

.side_section .title
	margin-bottom: 5px

tr.windowbg td
	padding: .3em .7em

#credits
	.intro
		font-style: italic
	ul.last
		margin-bottom: 0

/* Styles for the board index's topic table.
------------------------------------------------------- */
.topic_table
	.icon, .stats
		text-align: center
	table
		width: 100%
		thead
			border-bottom: 1px solid #fff
		td
			font-size: 1em

	// The subject column
	.subject
		padding: 5px 8px
		background-image: none
		background-repeat: no-repeat
		background-position: 99% .5em
		&.pinned
			background-image: url($images/icons/quick_pin.gif)
		&.locked
			background-image: url($images/icons/quick_lock.gif)
		&.pinned.locked
			background-image: url($images/icons/quick_pin_lock.gif)
		&.my
			background-image: url($images/icons/quick_my.gif)
			background-repeat: no-repeat
			background-position: 99% .5em
		&.pinned.my
			background-image: url($images/icons/quick_pin_my.gif)
		&.locked.my
			background-image: url($images/icons/quick_lock_my.gif)
		&.pinned.locked.my
			background-image: url($images/icons/quick_pin_lock_my.gif)
	.subject p,
	.stats
		font-size: .85em
		padding, margin: 0
	.lastpost
		background-image: none
		font-size: .85em
		line-height: 1.3em
		padding: 4px

/* Styles for (fatal) errors.
------------------------------------------------- */
#fatal_error
	width: 80%
	margin: auto
	padding: 25px 0 10px

.errorbox
	padding: 1em
	border: 1px solid #c34
	color: #000
	background-color: #ffe4e9
	h3
		font-size: 1.1em
	ul
		margin-bottom: 0
		margin-top: .5em
		padding-left: 20px
	ul:first-child
		margin-top: 0
	p
		margin: 1em 0 0
	.alert
		padding, margin: 0
		width: 1em
		font-size: 1.5em
	// Styling for mismatched tags
	.bread
		padding: 4px 8px
		font-family: monospace
		color: #000
		strong
			color: red

/* Styles for the profile section.
------------------------------------------------- */

// The basic user info on the left
#basicinfo
	margin-top: 10px
	width: 20%
	float: left
	h4
		font: 400 120%/105% $subject_font
		white-space: pre-wrap
		overflow: hidden
		span.position
			font-size: 80%
			font-weight: 100
			display: block
	img.avatar
		display: block
		margin: 10px 0 0
	ul
		list-style-type: none
		margin: 10px 0 0
		li
			display: block
			float: left
			margin-right: 5px
			height: 20px

#userstatus
	display: block
	clear: both
	img
		vertical-align: middle

#profile_box
	dl
		clear: right
		overflow: auto
		margin: 0 0 18px
		padding: 0 0 15px
		border-bottom: 1px #ccc solid
	dt
		width: 35%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: 700
		clear: both
	dd
		width: 65%
		float: left
		margin: 0 0 3px
		padding: 0

#tracking extends #profile_box
	dl
		margin, padding, border-bottom: 0

#detailedinfo extends #profile_box
	margin-top: 10px
	width: 79.5%
	float: right
	dl.noborder
		border-bottom: 0
	dt.clear
		width: 100%

.signature, .custom_fields_above_signature
	border-top: 1px #ccc solid

// Signature header
.signature h5
	color: #444
	font-size: 1.2em
	margin-bottom: 10px

#personal_picture
	display: block
	margin-bottom: .3em

#avatar_server_stored div
	float: left
	padding: 0 3px

// If the screen is too small, show the avatar on top
@media all and (max-width: 900px)
	.prevnext_prev
		display: none
	#basicinfo, #detailedinfo
		width: 100%
	#basicinfo
		h4
			float: left
			width: 35%
		img.avatar
			float: right
			vertical-align: top
	#basicinfo ul, #userstatus
		clear: left
	#infolinks
		display: none
		clear: both

// Simple feedback messages
#profile_error, #profile_success
	margin: 0 0 1em
	padding: 1em 2em
	border: 1px solid

#profile_error
	border-color: red
	color: red
	background: #fee
	span
		text-decoration: underline

#profile_success
	border-color: green
	color: green
	background: #efe

// Profile statistics
#generalstats
	dt
		width: 50%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: bold
		clear: both
	dd
		width: 50%
		float: left
		margin: 0 0 3px
		padding: 0

// Activity by time
#activitytime
	margin: 6px 0

.activity_stats
	margin: 0
	padding: 0
	list-style: none
	li
		margin: 0
		padding: 0
		width: 4.16%
		float: left
		span
			display: block
			border: solid #000
			border-width: 1px 1px 0 0
			text-align: center
		&.last span
			border-right: none
		.bar
			float: none
			width: 15px
			margin: auto
			border-radius: 4px 4px 0 0

// Most popular boards by posts and activity
#popularposts
	width: 49.5%
	float: left
	dt
		width: 65%
		float: left
		margin: 0 0 3px
		padding: 0
		font-weight: bold
		clear: both
	dd
		width: 35%
		float: left
		margin: 0 0 3px
		padding: 0

#popularactivity extends #popularposts
	float: right

.profile_pie
	background-image: url($images/stats_pie.png)
	float: left
	height: 20px
	width: 20px
	margin: 0 1em 0 0
	padding: 0
	text-indent: -1000em

// View contributions
.counter
	margin: 0
	padding: .2em .5em .1em .2em
	font-size: 2.2em
	font-weight: bold
	color: #3f3f3f
	float: left

// A generic class for showing post bodies
.list_posts
	border-top: 1px solid #b3b3bf
	padding-top, padding-bottom: 12px
	margin-top: 6px
	overflow: auto

.core_posts
	margin-bottom: 3px

.topic
	h4
		margin: 3px 0
	.time
		float: right
	.post
		margin: 0 1em
		min-height: 80px
	.mod_icons
		text-align: right
		margin-right: 1em

#creator
	dl
		margin: 0
	dt
		width: 40%
		float: left
		clear: both
		margin: 0 0 10px
	dd
		float: left
		width: 55%
		margin: 0 0 10px 2px
	hr
		margin-top: 0

.ignoreboards
	margin: 0 2%
	padding: 0
	width: 45%
	a
		font-weight: bold
		border-bottom: 1px solid #c4c4c4
		padding: .1em 0
	a:hover
		text-decoration: none
		border-bottom: 1px solid #346
	ul
		margin: 0
		padding: 0
	li
		list-style: none
		float: left
		clear: both
	li.category
		margin: .7em 0 0
		width: 100%
		ul li.board
			width: 93%
	li ul
		margin: .2em 0 0

#theme_settings
	overflow: auto
	margin: 0
	padding: 0
	> li
		list-style: none
		margin: 10px 0
		padding: 0

// Pick theme
#pick_theme
	width: 100%
	float: left
	fieldset, legend
		border: 1px solid #c4c4c4
	.current_skin > legend
		background: #f0fbf0

// Issue a warning
#warn_body
	width: 80%
	font-size: .9em

.thought_list li:target > div
	padding: 4px 8px
	margin: 4px 0
	border: 1px solid #fff
	background: #f0fff0

/* Styles for the statistics center.
------------------------------------------------- */
#stats
	dl
		min-height: 210px
	div.top_row dl
		min-height: 150px

dl.stats
	overflow: hidden
	margin, padding: 0
	dt, dd
		margin: 0 0 4px
		padding: 0
		line-height: 16px
	dt
		clear: both
		float: left
	dd
		clear, float, text-align: right
		width: 45%

.post_like
	float: left
	height: 20px
	margin-right: 8px
	font-size: .8em
	.fadein
		opacity: .6
		transition: opacity .3s ease
		:hover
			opacity: 1
			transition: opacity .3s ease

.like_button extends ul.actions a
	background-position: 2px -270px
	padding: 0 0 0 22px
	font-size: 1.2em
	display: inline-block

.unlike_button extends .like_button
	background-position: 2px -300px

.top_likes extends .like_button
	display: inline-block
	vertical-align: -5px
	padding: 0 3px 0 16px

div.top_row dd
	width: auto

#stats_history
	margin-top: 5px
	td
		text-align: center
	th
		width: 15%
	.day
		padding: 0 0 0 3em
		text-align: left
	.year, .month
		width: 25%
		padding: .3em 0 .3em .75em
		text-align: left
	.month
		padding: .3em 0 .3em 1.5em

/* Styles for the memberlist section.
------------------------------------------------- */
#mlist_search
	margin: auto
	width: 520px

/* Styles for the basic search section.
------------------------------------------------- */
#searchform, #simple_search p
	padding: .5em
	margin: 0

#simple_search, #simple_search p, #advanced_search
	text-align: center !important
	margin: 0

#search_term_input
	font-size: 115%
	.search
		background-position: 5px 4px
	.submit
		background-position: 4px 3px, 0 0, 0 0

/* Styles for the advanced search section.
------------------------------------------------- */
#searchform
	fieldset
		text-align: left
		padding: 0
		border: none
	p.clear
		clear: both

#search_options
	margin: auto
	width: 600px
	padding-top: 1em
	overflow: hidden

#advanced_search
	dt
		clear: both
		float: left
		padding: .2em
		text-align: right
		width: 20%
	dd
		width: 75%
		float: left
		padding: .2em
		margin: 0 0 0 .5em
		text-align: left

/* Styles for the search results page.
------------------------------------------------- */
.topic_table .bbc_quote
	&, header
		margin: .5em

.search_results_posts
	overflow: hidden
	.buttons
		padding: 5px 1em 0 0

/* Foldable icons.
------------------------------------------------- */
.foldable extends .upshrinks
	width, height: 14px
	background-position: -20px 0
	.fold&
		background-position: -20px -25px

.shrinkable extends .upshrinks
	width, height: 20px
	background-position: 0 0
	.fold&
		background-position: 0 -20px

// Only seen in the admin area, so don't bother preloading its graphics...
.sortselect extends .upshrinks
	width, height: 12px
	background: url-no-base64($images/sortselect.gif)
	.fold&
		background-position: 0 -12px

.catfold extends .foldable

// The upshrink image needs some tweaking
#upshrink extends .shrinkable
	float: right
	margin-left: 1em

#qr_expand, #postMoreExpand, #newsupshrink
	base: .foldable

/* Board status icons.
------------------------------------------------- */
.boardstate_on extends .inline-block
	background: url($images/boardicon.png) 0 0 no-repeat
	width: 37px
	height: 42px

.boardstate_off extends .boardstate_on
	opacity: .4

.boardstate_redirect extends .boardstate_on
	opacity: .2

/* More icons.
------------------------------------------------- */
.feed_icon extends .inline-block
	background: url($images/icons/feed.gif) no-repeat
	width: width($images_dir/icons/feed.gif)px
	height: height($images_dir/icons/feed.gif)px
	text-decoration: none
	.catfeed &
		margin-left: -4px

.arrow_left extends .inline-block
	base: .arrows
	background-position: 0 -28px
	width, height: 9px

// Those [?] icons. This makes your cursor a help icon.
.helpc
	cursor: help

.help extends ".helpc, .inline-block"
	background: url($images/helptopics.gif) no-repeat
	width, height: 16px
	vertical-align: -3px
	.cat & final
		vertical-align: -1px

/* More hacks.
------------------------------------------------- */
// table_grid styles for Profile > Show Permissions.
#permissions table.table_grid td
	padding: .4em .8em
	cursor: default

#mlist table tbody td.windowbg2
	text-align: center

/* Media queries. Responsive design, i.e.
   mobile-friendly rules, is done here.
------------------------------------------------- */

@media $responsive
	body
		#edge
			clear: both
			display: block
		#sidebar
			display: block
			box-sizing: border-box
			width: auto
			background: $window_bg
			border-top: 1px solid #bdb5b5
			margin: 0 -30px -20px
			// We can't inherit anything inside a @media query,
			// so we have to reproduce .inline-block directly here.
			section
				display: inline-block
				mixin: ie-inline-block
				width: $sidebar-width
				vertical-align: top
				padding: 0 8px 8px
				margin: 8px
				header
					background: none
		#main
			display: block
			padding: 4px 0 12px

$responsive_max_width = 1000px
$responsive = "all and (max-width: $responsive_max_width)"
