
.cat, tr.cat td
	padding: 2px
	background-color: #6d92aa
	color: #fff

.title
	&, a, a:link, a:visited
		padding: 2px
		background-color: #b6dbff
		color: #000
		text-decoration: none

.win, tr.win td
	padding: 4px
	background-color: #fff
	color: #000

.win2, tr.win2 td
	padding: 4px
	background-color: #e5e5e5

.new, a:link.new, a:visited.new
	background-color: #2f2fc0
	color: #fff

.updated
	color: red

p
	margin: .5em 0

// Resize our post area as needed
#message
	width: 98%
